*{
    margin: 0%;
}

body {
    margin: 0%;
    background-color: #E8F1F2;
    font-family: 'Jost';
}

/* start header */
.nav_bar {
    width: 100%;
    height: 67px;
    color: rgb(0, 0, 0);
    background-color: #0F3B62;
    display: grid;
}
/* end header */

.grid_bg {
    display: grid;
    grid-template-columns: auto;
    background-color: var(--Cores-Azul-Leve, #DCE5EB);;
    margin: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 1780px;
    height: 780px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid_bg img {
    width: 1700px;
    height: 5px;
    margin: auto;
    margin-bottom: 3%;
}

.botao {
    margin: auto;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.botao h1 {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    height: 40px;
    padding: 5px;
    background-color: #2075C2;
    font-size: 32px;
    font-weight: normal;
    border-radius: 10px;
}

.botao:active {
    transform: scale(0.95);
}


.lista_ordenada {
    display: grid;
    grid-template-columns: 880px 500px;
    column-gap: 12%;
    text-align: justify;
}

ol li {
    list-style-type: none; 
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center; 
    margin-bottom: 5%;
}

ol li::before {
    content: counter(list-item); 
    counter-increment: list-item; 
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    background-color: white; 
    width: 48px; 
    height: 48px; 
    border-radius: 50%; 
    font-size: xx-large; 
    margin-right: 20px; 
    grid-area: 1 / 1/ 3 / 2 ;
}

.lista_ordenada li h1, .lista_ordenada L li {
    color: #000;
    font-size: 32px;
}

.lista_ordenada li h2, .lista_ordenada L li {
    color: rgba(0, 0, 0, 0.61);
    font-size: 20px;
    font-weight: normal;
}

.lista_ordenada L {
    margin-top: 45px;
}