*{
    margin: 0%;
}

body {
    margin: 0%;
    background-color: #E8F1F2;
    font-family: 'Jost';
}

/* start header */
.nav_bar {
    width: 100%;
    height: 67px;
    color: rgb(0, 0, 0);
    background-color: #0F3B62;
    display: grid;
}
/* end header */

.grid_bg {
    display: grid;
    grid-template-columns: auto;
    background-color: var(--Cores-Azul-Leve, #DCE5EB);;
    margin: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 1780px;
    height: 780px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid_bg img {
    width: 1700px;
    height: 5px;
    margin: auto;
    margin-bottom: 3%;
}

.botao {
    margin: auto;
}

.botao h1 {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    height: 40px;
    padding: 5px;
    background-color: #2075C2;
    font-size: 32px;
    font-weight: normal;
    border-radius: 10px;
}

/* start grid_conteudo */
.grid_conteudo {
    display: grid;
    grid-template-columns: 581px 581px;
    column-gap: 20%;
    text-align: justify;
}

.grid_conteudo input {
    height: 34px;
    font-size: 18px;
}

.conteudo_telefone, .conteudo_endereco1, .conteudo_endereco2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0%;
}

#localdaempresa, #cep, #nome_razao_social, #email, #senha, #confirmar_senha {
    width: 581px;
}

#logradouro, #cpf_cnpj {
    width: 340px;
}

#numero, #rg {
    width: 218px;
}

.conteudo_endereco1, .conteudo_endereco2, .conteudo_telefone {
    max-height: 581px;
    
}


/* end grid_conteudo */