* {
  padding: 0;
  margin: 0;
  font-family: 'Jost';
}

.fundo {
  height: 100%;
  width: 100%;
  background-color: #DCE5EB;
}

.carrinho_dados {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.carrinho_top {
  position: relative;
  margin-top: 98px;
  margin-bottom: 61px;
  grid-row: 1;
}

.navbar {
  width: 100%;
  height: 67px;
  background-color: beige;
}

.forms_dados {
  grid-row: 2;
  width: 1600px;
  height: 678px;
  background-color: #fff;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: max-content min-content;
  align-items: center;
  justify-content: center;
}

.main_text_carrinho_dados {
  color: #247BA0;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Jost;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1%;
}

.separador_carrinho {
  grid-row: 2;
}

.footer_carrinho {
  position: relative;
  margin-top: 164px;
}