* {
    padding: 0;
    margin: 0;
    font-family: 'Jost';
  }
  
  body {
    height: 100%;
    width: 100%;
    background-color: #DCE5EB;
  }

  main{
    height: 100%;
    width: 100%;
    margin-top: 5%;
    margin-left: 2.5%;
  }

  @media (min-width: 768px){
  .carrinho_vazio {
    display: grid;
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    grid-template-columns: repeat(11, auto);
    align-items: center;
    justify-content: center;
    justify-items: center;
    }
  .quadrado {
      display: grid;
      grid-template-columns: 35% 20% 20% 25%;
      grid-template-rows: 99% 1%; 
      align-items: center;
      justify-content: center;
      border-start-start-radius: 5px;
      width: 90%;
      height: 100px;
      background-color: #FFFFFF;
      margin-left: 2.5%;
    }
  .quadrado_serv1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    align-items: center;
    justify-content: center;
    border-end-end-radius: 5px;
    width: 60%;
    height: 400px;
    background-color: #FFFFFF;
    margin-left: 2.5%;
    }
  .quadrado_serv2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%; 
    align-items: center;
    justify-content: center;
    border-end-end-radius: 5px;
    width: 60%;
    height: 400px;
    background-color: #FFFFFF;
    margin-left: 2.5%;
    }
  }

  .divisoria{
    width: 70%;
    height: 4%;
  }

  .divisoria_quadrado{
    width: 1650px;
    height: 3px;
    grid-row: 2;
    grid-column: 1;
    margin-left: 5%;
  }
  
  .navbar {
    width: 100%;
    height: 67px;
    background-color: beige;
  }

  .text {
    display: inline;
    margin-left: 10%;
    color: #0075FF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
  }

  .text_ {
    display: inline;
    grid-row: 1;
    color: #247BA0;
    text-align: left;
    font-family: Jost;
    font-size: 35px;
    font-style:bold;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
    text-transform: uppercase;
    margin-inline-start: 100px;
  }

  .text-2 {
    color: #87BEFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
  }

  #text-3 {

    color: #D9D9D9;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 52px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: auto;
    text-transform: uppercase;
    
  }
  
  .footer_carrinho {
    position: relative;
    margin-top: 164px;
  }

