*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;
}

body{
    min-height: 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    
}

.gradiente_azul{
    background-image: linear-gradient(to bottom, #2888B1, #DCE5EB);
}

.gradiente_azul_transparente{
    border-image-source: linear-gradient(0deg, rgba(76,155,189,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    border-image-slice: fill 1;
}

#img_borrao{
    top: 376px;
    height: 500px;
}

#hotBar{
    height: 67px;
    position: sticky;
    font-size: 2rem;
    text-align: center;
}

.img_fundo{
    height: 666px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(76, 155, 189, 0.00) 49.5%, #4C9BBD 100%), url("../image/img_fundo_categoria.png") lightgray 0px 0px / 100% 131.532% no-repeat;
}

#imgFundo{
    
    height: 554px;
}

.conteudo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.grid_conteudo{
    display: grid;
    grid-template-columns: auto auto;
}
.grid_item_conteudo{
    margin: auto;
}

.largura_com_scroll{
    width: calc(100vw - calc(100vw - 100%));
}

.produtos{
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 30px;
}

.produtos_container{
    height: 2347px;
    justify-self: stretch;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.produto_card{
    width: 210px;
    height: 352px;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    position: relative; /* position relative para fazer absolute funcionar no card-desconto */
}

.produto_preco_estrela{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    height: 32px;
}

.produto_nome{
    height: 40px;
}
.produto_botoes{
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    gap: 13px;
}

.botao_estilo{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    background-color: #1B98E0;
    color: #fff;
    border: none;
    border-radius: 3px;
    flex: 1 0 0;
}

.filtros{
    width: 300px;
}

.botao_estilo:hover{
    color: #727272;
}

.icone_carrinho{
    stroke: #fff;
    padding: 4px;
}

.icone_carrinho:hover{
    stroke: #727272;
}

.grid_produtos{
    display: grid;
    grid-template-columns: repeat(5, auto);
}


.card_desconto{
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 8px;
}
.card_desconto p{
    display: inline-block;
    z-index: 2;
    color: #fff;
}
.card_desconto svg{
    width: 80px;
    height: 20px;
    transform: translate(2px, 0);
}

.card_desconto .texto_esquerda{
    padding-right: 5px;
}

.display_none{
    display: none;
}

.font_bold{
    font-weight: 600;
}
.font_14px{
    font-size: 0.875rem;
}

.font_10px{
    font-size: 0.625rem;
}

.bg_azul_leve{
    background-color: #DCE5EB;
}
.bg_sappire{
    background-color: #006494;
}

.bg_carolina{
    background-color: #1B98E0;
}

.bg_celadon{
    background-color: #247BA0;
}

.bg_branco_gelo{
    background-color: #F9F9FC;
}

.bg_cinza{
    background-color: #6F6F6F;
}

.bg_branco{
    background-color: #fff;
}