@import './style.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Jost';
}

html {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 65px;
  background-color: cadetblue;
}

body {
  background-color: #E8F1F2;
  height: 100%;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 950px auto;
  grid-template-rows: auto auto;
}

.view {
  display: grid;
  grid-template-rows: 218px auto auto;
  grid-column: auto;
  position: relative;
  width: 823px;
  height: 748px;
  border: 1px solid #000;
  top: 85px;
  left: 135px;
}

.pfp {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  position: relative;
  left: calc(50% - (152px/2));
  top: calc(100% - (152px /2));
}

.banner {
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
}

.nome_cliente {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  position: relative;
  top: 28%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.detalhes {
  grid-row: 2;
  grid-column: 1;
  position: relative;
  top: calc(45%);
  display: grid;
  grid-template-columns: 150px 200px 150px;
  grid-template-rows: 20px 30px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.separador {
  position: relative;
  top: calc(-100%);
}

.redes_sociais_mini_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  top: 10%;
  left: 5%;
}

.redes2 {
  position: relative;
  top: 15%;
  left: 10%;
  display: grid;
  row-gap: 20px;
  grid-template-columns: 40px auto;
  grid-template-rows: auto auto;
}

.cliente_ativo , .ico_ativo{
  grid-column: 1;
  grid-row: 1;
}

.ico_ativo{
  position: relative;
  left: -50%;
}

.ico_tempo {
  position: relative;
  left: -55%;
}

.ico_localizacao{
  position: relative;
  left: -45%;
}

.cliente_tempo, .ico_tempo {
  grid-column: 3;
  grid-row: 1;
}

.cliente_localizacao, .ico_localizacao {
  grid-column: 2;
  grid-row: 2;
}

.edicao {
  grid-column: 2;
  position: relative;
  left: 66px;
  top: 89px;
  width: 500px;
}

.edicao form input {
  width: 650px;
  height: 35px;
  border: none;
  margin-bottom: 2%;
  padding-left: 5px;
}

.botoes {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: 230px 230px 230px;
}

.redefinir_email {
  cursor: pointer;
  background: transparent;
  border-radius: 10px;
  border: 3px solid #006494;
  color: #006494;
  width: 191px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.redefinir_senha {
  cursor: pointer;
  background: transparent;
  border-radius: 10px;
  border: 3px solid #006494;
  color: #006494;
  width: 191px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sair_perfil {
  cursor: pointer;
  background: transparent;
  border-radius: 10px;
  color: red;
  width: 191px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 3px solid red;
}

.redes_sociais {
  position: relative;
  top: 10%;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 30px;
}

.title_redes {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.redes {
  display: grid;
  grid-template-columns: 40px;
  grid-template-rows: auto auto;
  row-gap: 10px;
}

.ico {
  display: inline-block;
  grid-row: 1;
}

.text {
  grid-row: 1;
}

.editar_redes {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  text-decoration: none;
}

.edit {
  grid-row: 1;
  border: 0;
  background-color: #fff;
  border-radius: 40px;
  width: 39px;
  height: 38px;
  cursor: pointer;
}

.text_button {
  grid-row: 1;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.upload {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  top: 50%;
}

.upload form {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  width: 100%;
  height: 124px;
  background-color: #D7E8EA;
  color: #0F3B62;
  text-align: center;
  align-items: center;
  display: grid;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}