@import url('./style.css');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Jost';
}

body, html {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.nav{
    width: 100%;
    height: 67px;
}

.style_nav{
    border-bottom: 1px solid #A5A5A5;
    background: var(--Cores-Azul-Leve, #DCE5EB);
}

.shadow_nav{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.20);
}

/* Grid pai */
.grid-container{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    grid-area: 1/1/1/1;
    grid-column-start: 1;
    grid-row-start: 1;
}

/* Grid input */
.item1{
    align-items: center;
    display: flex;
    grid-area: 1/1/1/1;
}

/* Grid Logo */
.item2{
    display: grid;
    align-self: center;
    grid-area: 1/2/2/3;
}

/* Grid botões */
.item3 {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-self: center;
    justify-self: right;
}

/* Elementos grid 2 */
.item2 button {
    border-style: none;
    background-color: transparent;
}
#buttonLogo{
    align-self: center;
    height: 66px;
    align-items: center;
    justify-content: center;
}

/* Elementos grid 3 */
.item3 a{
    border-style: none;
    background-color: transparent;
    align-self: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* Elementos grid 1 */
.item1 input{
    display: flex;
    width: 330px;
    height: 30px;
    padding: 0px 5px;
    border-radius: 10px;
    border-style: none;
    outline: 0;
}

.item1 input::after{
    border-style: none;
}

#imgLupa{
    padding-right: 20px;
}

/* Body */

.container_main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    overflow-x: hidden;
}

.carrossel {
    width: 100%;
    min-height: 100vh;
    background: url(../image/index/fundoCarrossel.jpg) center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 48px;
    
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(to top, #2888B1, transparent);
        z-index: 1;
    }
}

.carrossel_content {
    margin-top: 4%;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 2;
    
    &:hover .carrossel_but {
        opacity: 1;
    }
}

.text_content {
    color: #F9F9FC;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    z-index: 2;
    text-align: left;

    > h2 {
        line-height: 1;
        font-size: clamp(40px, 8vw, 96px);
        word-wrap: break-word;
    }

    > h3 {
        font-size: clamp(16px, 2.5vw, 24px);
        width: 100%;
        margin-top: 15px;
    }
}

.carrossel_but {
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
    padding: 0;
    border: none;
    background: transparent;
    width: 40px;
    height: 40px;
    z-index: 2;
    
    svg {
        width: 40px;
        height: 40px;
        color: #F9F9FC;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    
    &:hover {
        svg {
            color: #C8C8DB;
            transform: scale(1.1);
        }
    }
}

.back {
    transform: rotate(-90deg);
    margin-right: auto;
}

.forward {
    transform: rotate(90deg);
    margin-left: auto;
}

.carrossel_nav {
    z-index: 2;
    display: flex;
    width: 100%;
    padding: 0 30%;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    
    button {
        width: 100%;
        height: 15px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.63);
        transition: background 0.3s ease-in-out;
        
        &:hover {
            background: rgba(255, 255, 255, 0.8);
        }
        
        &.active {
            background: rgba(0, 0, 0, 0.25);
            
            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.categorias_nav {
    z-index: 2;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    width: 100%;
    
    &:hover .block_categorias:not(:hover) {
        filter: brightness(0.8);
        transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
}

.block_categorias { 
    z-index: 2;
    padding: 16px;
    display: flex; 
    border-radius: 5px; 
    background: rgba(255, 255, 255, 0.70); 
    flex-direction: column; 
    align-items: center; 
    row-gap: 16px; 
    min-height: 200px;
    width: 160px; 
    max-width: 100%;
    transition: all 0.3s ease-in-out;
    justify-content: flex-end;
    
    & img{
        height: auto;
        width: 90%;
    }
    
    &:hover {
        transform: scale(1.05);
        background: rgba(255, 255, 255, 0.8); 
    }
}

.bg_container {
    padding: 0 5%;
    width: 100%;
    background: linear-gradient(to bottom, #2888B1, #DCE5EB);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_container {
    padding: 40px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCE5EB; 
    row-gap: 40px;
    width: 100%;
}

.ad_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.big_ad {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.mid_ad {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    img {
        width: 100%;
        height: auto;
    }
}

.produto_container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    
    svg {
        width: 24px;
        height: 24px;
    }
}

.container_title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.produtos_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.produtos_box {
    height: auto;
    width: 200px;
}

.produto_card {
    position: relative;
    padding: 4px;
    min-height: 352px;
    display: flex;
    flex-direction: column;
    background-color: #F9F9FC;
    border-radius: 5px;
    justify-content: space-between;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        height: auto;
    }
}

.imagem_produto {
    row-gap: 0;
    display: flex;
    flex-direction: column;
}

.desconto {
    position: absolute;
    top: 8px;
    right: 0;
    width: 80px;
    height: 20px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="20" viewBox="0 0 80 20" fill="none"><path d="M0 0H80V20H0L17.3359 10L0 0Z" fill="%23006494"/></svg>') no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding-right: 4px;
}

.estrela_valor {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.estrela_produto {
    display: flex;
    align-items: center;

    p {
        background: linear-gradient(90deg, #FFD600 80%, #989898 81%);
        -webkit-background-clip: text;
        color: transparent;
    }

    h4 {
        font-size: 12px;
        font-weight: 500;
    }
}

.valor_produto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        font-weight: 700;
    }
}

.botoes_produto {
    display: flex;
    gap: 8px;

    button {
        width: 100%;
        height: 48px;
        border-radius: 5px;
        background-color:#1B98E0;
        color: white;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s, filter 0.3s;        
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            filter: brightness(1.1);
        }
    }   
}

#valor_antigo {
    color: #00000080;
    filter: opacity(50%);
    font-size: 12px;
    text-decoration-line: line-through;
}

#valor_produto {
    color: #FF7A00;
    font-size: 16px;
}

.ver_mais {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: transform 0.3s, filter 0.3s;
    gap: 4px;
    justify-content: flex-end;

    &:hover {
        transform: translateX(16px);
        filter: brightness(1.1);
        cursor: pointer;
    }

    p {
        color: black;
        filter: opacity(30%);
    }

    button {
        color: white;
        border-radius: 5px;
        background-color: #1B98E0;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;

        &:hover {
            cursor: pointer;
        }

        svg {
            transform: rotate(90deg);
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    .ver_mais {
        justify-content: end;
    }
    
    .large_ad {
        max-width: calc(100% + 32px);
    }

    .grid-container {
        width: 95%;
        column-gap: 20px;
    }
    
    .item1 input {
        width: 250px;
    }
    
    .carrossel {
        min-height: 50vh;
        img {
            max-width: 100%;
        }
    }

    .carrossel_content {
        position: relative;
        flex-direction: column;
    }

    .back {
        position: absolute;
        top: 50%;
        left: 4px;

    }

    .forward {
        position: absolute;
        top: 50%;
        right: 4px;
    }
    
    .block_categorias {
        width: 140px;
        min-height: 160px;
        font-size: small;
        justify-content: flex-end;

    }
    
    .ad_grid {
        grid-template-columns: 1fr;
    }

    .produto_card {
        margin: 0;
        width: 47%;
    }

    .mid_ad {
        gap: 8px;
    }

    .bg_container {
        padding: 0;
    }
    
    .categorias_nav {
        padding: 0 16px;
    }

    .produto_container {
        flex-direction: column;
        margin: 0;
    }

    .produtos_content {
        gap: 16px;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: scroll;
        justify-content: space-between;
    }

    .content_container {
        padding: 16px;
    }
}   

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        row-gap: 15px;
    }
    
    .item1, .item2, .item3 {
        grid-area: auto;
        justify-content: center;
    }
    
    .item3 {
        justify-self: center;
    }
    
    .item1 input {
        width: 200px;
    }
    
    .categorias_nav {
        gap: 8px;
        padding: 0;
    }
    
    .block_categorias {
        width: 112px;
        min-height: 140px;
    }
    
    .produto_card {
        width: 47%;
        min-height: 300px;
    }

}