html,body{
    display: grid;
    color: white;
    overflow: hidden;
    background-image: url("../image/cadastro_fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
}


.container-login{
    display: grid;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: start;
    color: black;
    text-align: center;
    background-color: #DCE5EB;
    padding: 40px 0px 0px 0px;;
    height: 640px;
    width: 715px;
    border-radius: 10px;
}

input{
    width: 590px;
    height: 30px;
    padding: 10px;
    border: none;
}

p{margin: 0;}

a{
    color: black;
    text-decoration: none;
}


