body {
    margin: 0;
    background-color: #E8F1F2;
    font-family: 'Jost';
}

h1 {
    font-size: 20px;
    margin: 0%;
}

h2 {
    font-size: 12px;
    margin: 0%;
}

h3 {
    font-size: 12px;
    margin: 0%;
}

/* header */
.header {
    width: 100%;
    height: 80px;
    color: rgb(0, 0, 0);
    background-color: #0F3B62;
    display: grid;
}


/* start grid_produto */
.grid_produto {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto; 
    justify-items: center; 
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.grid_nome_vendedor {
    grid-column: 2 / 3; 
    grid-row: 1;
}

.grid_scroll {
    grid-column: 1;
    grid-row: 2; 
}

.grid_produto_image {
    grid-column: 2; 
    grid-row: 2; 
}

.grid_produto_info {
    grid-column: 3;
    grid-row: 2; 
}

/* start grid_nome_vendor */
.grid_nome_vendedor {
    display: grid;
    grid-template-columns: auto auto auto;
    border: nome solid black;
    background-color: #D9D9D94D;
    width: 692px;
    height: 89px;
    border-radius: 10px;
    align-items: center; 
    text-align: center; 
}

.imagem_nome_vendedor img {
    width: 90px; 
    height: auto;
    border-radius: 50%; 
}

.nome_vendedor {
    display: grid;
    grid-template-columns: 15% auto;
    flex-direction: column;
}

.nome_vendedor img {
    width: 20px;
    align-self: center;
    justify-self: end;
    margin-right: 8px;
}

.nome_vendedor h1 {
    grid-area: 1 / 1 / 1 / 3;
    text-align: justify;
}

.nome_vendedor h2 {
    text-align: justify;
    margin-top: 2%;
}

.avaliacao_vendedor {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    border-left: 2px black solid;
    row-gap: 6px;
}

.avaliacao_vendedor img {
    width: 90px;
    align-self: center;
    justify-self: end;
    margin-right: 10px;
}

.avaliacao_vendedor h1 {
    grid-area: 1 / 1 / 1 / 3;
    font-size: 12px;
}

.avaliacao_vendedor h2 {
    text-align: start;
    font-size: 9px;
}

.avaliacao_vendedor h3 {
    grid-area: 3 / 1 / 4 / -1;
    font-size: 9px;
}
/* end grid_nome_vendedor */


/* start grid_scroll */
.grid_scroll {
    display: grid;
    width: 0px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    row-gap: 10px;
}

.images_scroll {
    display: grid;
    row-gap: 10px;
}

.images_scroll img {
    width: 68px;
    height: 68px;
}

.icon2_scroll img {
    transform: rotate(180deg);
}
/* end grid_scroll */

/* start grid_produto_image */
.grid_produto_image {
    position: relative; 
    width: 692px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto_image img {
    width: 390px;
    height: 366px;
}

.ultra_blue_produto_image {
    position: absolute; 
    top: 0%; 
    left: 80.4%;
    width: 10px; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.ultra_blue_produto_image1,
.ultra_blue_produto_image2 {
    position: absolute; 
    top: 0%;
    right: 0%; 
    width: 100%;
    height: auto; 
}

.ultra_blue_produto_image2 {
    z-index: 1; 
    left: 45px; 
    top: 14px;
}
/* end grid_produto_image */


/* start grid_produto_info */
.grid_produto_info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    align-items: center;
    background-color: white;
    border: nome black solid;
    width: 776px;
    height: 500px;
}

.produto_info_nome {
    display: grid;
    grid-template-columns: 80% auto;
}

.produto_info_nome h1 {
    font-size: 30px;
}

.produto_info_nome h2 { 
    background-color: #0F3B62; 
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
    justify-content: center;
    justify-self: center; 
    align-items: center;
}

.produto_info_time {
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 15px;
    background: #000;
    color: white;
    width: 721px;
    height: 109px;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    margin: 0 auto;
}

.produto_info_time img {
    width: 149.856px;
    height: 38px;
    margin-left: 15%;
}

.produto_info_time h1 {
    font-size: 15px;
}

.grid_produto_time {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-right: 10%;
}

.grid_produto_time h1,
.grid_produto_time h3 {
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.grid_produto_time h1 {
    font-size: 50px;
}

.grid_produto_time h3 {
    font-size: 12px;
}
/*  */
.produto_info_text {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 40% ;
}

.produto_info_text h3 {
    font-size: 18px;
    border-left: 2px black solid;
    font-size: 16px;
    padding-left: 5% ;
    color: #4c6baf; 
}

.produto_info_valor {
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    gap: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 60%;
    background-color: #D9D9D94D;
}

.produto_info_valor h1 {
    color: red;
    text-decoration: line-through;
    padding-left: 8%;
}

.produto_info_valor h2 {
    font-size: 20px;
    color: red;
    text-decoration: line-through;
    padding-left: 20%;
}

.produto_info_valor h3 {
    color: #ffffff; 
    background-color: #0F3B62;
    font-size: 14px;
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
    justify-content: center;
    justify-self: center; 
    align-items: center;
}

.produto_info_valor h1 {
    font-size: 28px;
    color: #333;
}

.produto_info_text2 {
    padding: 5px;
    max-width: 500px;
}

.produto_info_text2 h1 {
    font-size: 18px;
    color: #333;
}

.produto_info_text2 h2 {
    font-size: 18px;
    color: #666;
}

.produto_info_text2 a {
    font-size: 18px;
    color:  #666; 
    display: inline-block;
    margin-top: 8px;
    text-decoration: underline;
}

.grid_produto_info_botton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    margin-left: 40%;
}

.grid_produto_info_botton h1 {
    font-size: 20px;
    color: #fff;
    background-color: #2075C2;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}



/* end grid_produto_info */