/* Ana :D */

/* Padronização */
*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: Jost;
    background-color: #E8F1F2;
}

/* Base do Header */
.header{
    height: 65px;
    width: 100%;
    background-color: rgb(51, 119, 146);

    text-align: center;
}

/*Banner Cliente */
.container_banner_cliente{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    box-sizing: content-box;
    background-color:#67b6ca;
    height: 280px;
    width: 100%;

    text-align: center;
    margin-bottom: 20px;

    /* object-fit: cover;
    overflow: hidden; */

    /*Banner Cliente Img*/
    .item_img_foto_cliente{
        position: relative;
        justify-self: center;
        grid-area: 2 / 1;
    
        background-color: transparent;
        height: 220px;
        width: 220px;
        bottom: -55%;
        border-radius: 100%;

        color: white;
        text-align: center;
        z-index: 101;
    }
}

.item_img_foto_cliente img{
    border-radius: 100%;
}

/*Container geral da Página*/

/* Botões */
.container_pagina_grid_geral_cliente{
    display: grid;
    grid-template-columns: 70% 15% 15%;

    box-sizing: content-box;
    background-color:#E8F1F2;
    height: auto;
    width: 86%;

    margin-right: 5%;
    margin-left: 5%;
    padding-top: 1.5%;
    padding-bottom: .5%;
    padding-left: 2%;
    padding-right: 2%;

    /* Itens do Container */
    .item_teste{
        position: relative;
        justify-self: right;
        grid-area: 1 / 2;
    
        color: white;
        background-color: black;
        width: 80%;
        height: 40px;
    }
    
    .item_teste2{
        position: relative;
        justify-self: right;
        grid-area: 1 / 3;
    
        color: white;
        background-color: black;
        width: 80%;
        height: 40px;
    }
}

.container_pagina_grid_geral_cliente_2{
    display: grid;
    grid-template-columns: 70% 15% 15%;

    box-sizing: content-box;
    background-color:#E8F1F2;
    height: auto;
    width: 86%;

    margin-right: 5%;
    margin-left: 5%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 2%;
    padding-right: 2%;

    /* Itens do Container */
    .item_teste3{
        position: relative;
        justify-self: right;
        grid-area: 1 / 3;
    
        color: white;
        background-color: black;
        width: 80%;
        height: 40px;
    }
}

/* Fim Botões */

/* Nome Cliente */

.container_pagina_grid_geral_nomecliente{
    display: grid;
    grid-template-columns: 100%;

    box-sizing: content-box;
    background-color:#E8F1F2;
    height: auto;
    width: 86%;
    text-align: center;

    margin-right: 5%;
    margin-left: 5%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 2%;
    padding-right: 2%;
}

.container_pagina_grid_geral_status{
    display: grid;
    grid-template-columns: 50% 50%;

    box-sizing: content-box;
    background-color:#E8F1F2;
    height: auto;
    width: 86%;
    text-align: center;

    margin-right: 5%;
    margin-left: 5%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 2%;
    padding-right: 2%;

    .caixa_pagina_grid_geral_status_cliente{
        position: relative;
        justify-self: end;
        grid-area: 1 / 1;
        text-align: end;
        padding-right: 15px;
    
        color: rgb(0, 0, 0);
        background-color: transparent;
        width: 30%;
        height: 30px;

    }

    .caixa_pagina_grid_geral_status_tempo_cadastro{
        position: relative;
        justify-self: left;
        grid-area: 1 / 2;
        text-align: start;
        padding-left: 15px;
    
        color: rgb(0, 0, 0);
        background-color: transparent;
        width: 30%;
        height: 30px;
    }
}

.container_pagina_grid_geral_local{
    display: grid;
    grid-template-columns: 100%;

    box-sizing: content-box;
    background-color:#E8F1F2;
    height: auto;
    width: 86%;
    text-align: center;

    margin-right: 5%;
    margin-left: 5%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 2%;
    padding-right: 2%;
}

.container_pagina_grid_geral_redesociais{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 30% 30%;

    box-sizing: content-box;
    background-color:#E8F1F2;
    height: auto;
    width: 86%;
    text-align: center;

    margin-right: 5%;
    margin-left: 5%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 2%;
    padding-right: 2%;

    .caixa_pagina_grid_geral_redesociais_contato{
        position: relative;
        justify-self: left;
        grid-area: 1 / 1;
        text-align: start;
    
        color: rgb(0, 0, 0);
        background-color: transparent;
        width: 30%;
        height: 30px;
    }

    .caixa_pagina_grid_geral_redesociais_teste{
        position: relative;
        justify-self: left;
        grid-area: 2 / 1;
        text-align: start;
        padding-left: 30px;
        margin-top: 5px;
    
        color: rgb(0, 0, 0);
        background-color: transparent;
        width: 30%;
        height: 30px;
    }

    .caixa_pagina_grid_geral_redesociais_teste2{
        position: relative;
        justify-self: left;
        grid-area: 3 / 1;
        text-align: start;
        padding-left: 30px;
        margin-top: 5px;
    
        color: rgb(0, 0, 0);
        background-color: transparent;
        width: 30%;
        height: 30px;
    }
}

.container_pagina_grid_geral_historico{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;

    box-sizing: content-box;
    background-color:#E8F1F2;
    height: auto;
    width: 86%;
    text-align: center;

    margin-right: 5%;
    margin-left: 5%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 2%;
    padding-right: 2%;

    .caixa_pagina_grid_geral_historico{
        position: relative;
        justify-self: left;
        grid-area: 1 / 1;
        text-align: start;
    
        color: rgb(0, 0, 0);
        background-color: transparent;
        width: 30%;
        height: 30px;
    }
}