* {
  padding: 0px;
  margin: 0px;
  font-family: 'Jost';
}

nav {
  width: 100%;
  height: 67px;
  background-color: cadetblue;
}

html {
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #F9F9FC;
}

main {
  margin-top: 68px;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.quadrado {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 350px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 791px;
  height: 769px;
  background-color: #DCE5EB;
}

.main_txt {
  grid-row: 1;  
  color: #000;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.main_content {
  display: grid;
  row-gap: 20px;
  justify-content: center;
  grid-row: 2 ;
}

.esqueceu {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.info {
  color: #0F3B62;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  width: 422px;
  justify-self: center;
}

form label {
  margin-top: 5%;
  text-align: left;
  color: #0F3B62;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

form {
  width: 500px;
  display: grid;
  align-items: center;
  justify-content: center;
}

form input {
  width: 380px;
  height: 30px;
  border: none;
  padding: 0px 5px;
  align-items: center;
}

.link {
  color: rgba(0, 0, 0, 0.30);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-decoration-line: underline;
  cursor: pointer;
  grid-row: 4;
}

.botoes {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 3;
  justify-items: center;
}

.voltar {
  grid-column: 1;
  width: 170px;
  height: 40px;
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  border: 2px solid #F00;
  background-color: transparent;
  border-radius: 10px;
}

.salvar {
  grid-column: 2;
  width: 170px;
  height: 40px;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  border-radius: 10px;
  background-color: #2075C2;
}