*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Jost';
}

body, html{
  min-height: 100%;
  background-repeat: no-repeat;
}

.font_titulo {
  font-family: 'Jost';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font_subtitulo {
  font-family: 'Jost';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font_descricao {
  font-family: 'Jost';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.font_botoes {
  font-family: 'Jost';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font_bold{
  font-weight: 650;
}

.bg_azul_leve{
  background-color: #DCE5EB;
}
.bg_sappire{
  background-color: #006494;
}

.bg_carolina{
  background-color: #1B98E0;
}

.bg_celadon{
  background-color: #247BA0;
}

.bg_branco_gelo{
  background-color: #F9F9FC;
}

.bg_cinza{
  background-color: #6F6F6F;
}

.bg_branco{
  background-color: #fff;
}
