# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
!config.env.ex
config.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
insert.php
/image/cliente/perfil_cliente/pfp_*.png
/image/cliente/perfil_cliente/ban_*.png

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db


# Recycle Bin used on file shares
$RECYCLE.BIN/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/*

# Local History for Visual Studio Code
.history/

# log wtf
debug.log

# End of https://mrkandreev.name/snippets/gitignore-generator/#Python,Windows,VisualStudioCode,php