.geren_pref_main_container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    padding: 16px;
    gap: 24px;
}

.geren_pref_content {
    padding: 16px;
    background: #EFF3F5;
    border-radius: 10px;
    max-width: 100%;
}

.geren_text {
    gap: 24px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.toggle_salv {
    label {
        white-space: normal !important;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        font-size: 100%;
    }
}

.faq_button {
    justify-self: center;
    margin: 0 16px;
}

@media (max-width: 1024px) {
    .geren_pref_main_container {
        padding: 12px;
        gap: 20px;
    }

    .geren_pref_content {
        padding: 12px;
    }

    .geren_text {
        gap: 20px;
    }

    .toggle_salv label {
        font-size: 90%;
    }
}

@media (max-width: 768px) {
    .geren_pref_main_container {
        padding: 8px;
        gap: 16px;
    }

    .geren_pref_content {
        padding: 8px;
    }

    .geren_text {
        gap: 16px;
        flex-direction: column;
    }

    .toggle_salv label {
        font-size: 80%;
    }
}

@media (max-width: 411px) {
    .geren_pref_main_container {
        padding: 4px;
        gap: 12px;
    }

    .geren_pref_content {
        padding: 8px;
    }

    .geren_text {
        gap: 12px;
        flex-direction: column;
    }

    .toggle_salv label {
        font-size: 70%;
    }
}
