@import url('../style.css');

* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

html {
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--branco_gelo);
}

.nav {
    width: 100%;
    height: 72px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 600px;
    width: 100%;
}

.logo-container {
    max-height: 44px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    & > img {
        max-height: 44px;
    }
}

.botoes-container {
    width: 264px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 8px 182px;
    background: var(--azul_leve);
    gap: 16px;
}

#search-input {
    width: 100%;
    max-width: 600px;
    height: fit-content;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    flex-grow: 1;
}

.button-container {
    gap: 16px;
    max-height: 48px;
    width: auto;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-button {
    background-color: transparent;
    border: none;
    height: 100%;
    width: fit-content;
    min-width: 40px;
    min-height: 40px;

    border-radius: 4px;
    color: #1B98E0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.square-button:hover {
    fill: #0056b3;
    transform: scale(1.1);
}

.square-button svg {
    fill: #1B98E0;
    width: 100%;
    height: 100%;
}

#logo_header {
    content: url('../../image/index/logo-escrita.svg');

}

.square-button-search {
    background-color: #1B98E0;
    border: none;
    height: 100%;
    padding: 6px;
    width: fit-content;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.square-button-search:hover {
    fill: #0056b3;
    transform: scale(1.1);
}

.square-button-search svg {
    fill: #1B98E0;
    width: 100%;
    height: 100%;
}

@media (max-width:1024px) {
    #header-main{
        padding: 8px 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 124px;
        gap: 8px;
    }

    .search-container {
        grid-row: 2;
        grid-column: 1 / span 2;
        max-width: 100%;
        width: 100%;
        justify-content: center;

    }
    #search-input{
        max-width: 100%;
    }

    #logo_header {
        content: url('../../image/index/logo-escrita.svg');

    }
    
    .logo-container{
        display: flex;
        justify-content: flex-start;
    }

    .button-container{
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width:768px) {
    #header-main{
        padding: 8px 16px;
    }

    #logo_header {
        content: url('../../image/index/logo.svg');

    }
}


