* {
  margin: 0;
  padding: 0;
  font-family: "Jost";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh; 
  width: 100%;
  background-image: url("../../image/cliente/cadastro/cadastro_fundo.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cadastro_quadrado {
  max-width: 670px;
  width: 100%;
  height: 740px;
  background: #dce5eb;
  margin: 0px 1.5% 1.5% 1.5%;
  border-radius: 10px;
}

.cadastro_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 16px 2% 0px 2%;
  max-height: 600px;
  height: 100%;
}

.cadastro_bem_vindo {
  display: grid;
  grid-template-columns: 1fr;

  align-content: center;
  justify-content: center;
  justify-items: center;
}

.cadastro_bem_vindo h1 {
  color: #006494;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.cadastro_divisoria_cadastro {
  align-items: center;
  margin-top: 8px;
}

.cadastro_formulario_cadastro,
.cadastro_redefinir_senha_2_form {
  max-width: 500px;
  width: 100%;
}

.cadastro_quadrado input,
.cadastro_redefinir_senha_2_form input {
  max-width: 500px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
  border-radius: 5px;
  border: 2px #1B98E0 solid;
  background-color: transparent;
} 

.cadastro_formulario_cadastro label, 
.cadastro_redefinir_senha_2_form label  {
  color:#6F6F6F;
  font-style: normal;
  font-size: 24px;
  text-transform: capitalize;
}

.cadastro_regras {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  margin-top: 16px;
}

.cadastro_lista {
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.cadastro_botoes {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.cadastro_botao_voltar,
.cadastro_botao_cadastrar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  border: 0;
  color: white;
  font-family: Jost;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  height: 48px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
}

.cadastro_botao_voltar {
  background-color: #d73232;
}

.cadastro_botao_cadastrar {
  background-color: #1b98e0;
}

.cadastro_redefinir_senha_2 {
  width: 100%;
  display: flex;
  justify-content: end;
}

#eye-icon-senha, #eye-icon-nova-senha {
  display: flex;
  position: absolute;
  align-self: center;
  width: 32px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cadastro_botoes {
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 8px;
  }

  .cadastro_botao_voltar,
  .cadastro_botao_cadastrar {
    width: 100%;
    max-width: none;
  }

}