* {
  padding: 0;
  margin: 0;
  font-family: "Jost";
}

.fundo {
  height: 100%;
  width: 100%;
  background-color: #dce5eb;
}

.carrinho_dados {
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.carrinho_top {
  position: relative;
  margin-bottom: 61px;
  grid-row: 1;
}



.forms_dados {
  grid-row: 2;
  width: 1600px;
  height: 678px;
  background-color: #fff;
}

.main_container_carrinho_dados {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.container_forms {
  position: relative;
  top: 28px;
  display: grid;
  column-gap: 10%;
  grid-template-columns: 500px 500px;
  grid-template-rows: min-content;
  align-items: start;
  justify-content: center;
  justify-items: center;
}

.main_text_carrinho_dados {
  color: #247ba0;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1%;
}

.forms_carrinho {
  grid-row: 2;
  color: #0f3b62;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: grid;
}

.forms_carrinho input {
  grid-column: 1;
}

.base_input {
  width: 600px;
  height: 40px;
}

.informacoes_cep input {
  width: 100%;
}

.informacoes_cep {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 2%;
}

.cep {
  grid-column: 1;
  grid-row: 1;
}

#cep {
  grid-column: 1;
  grid-row: 2;
}

.cidade {
  grid-column: 2;
  grid-row: 1;
}

#cidade {
  grid-column: 2;
  grid-row: 2; 
}

.dados_adicionais {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  color: #0f3b62;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  
}

.botoes_carrinho {
  grid-column: 2;
  grid-row: 6;
  position: relative;
  top: calc(80px);
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10%;
}

.salvar_carrinho {
  cursor: pointer;
  width: 150px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 5px;
  background: #1B98E0;
}

.footer_carrinho {
  position: relative;
  margin-top: 164px;
}
