

.fundo {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.carrinho_pagamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carrinho_top {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1%;
  width: 100%;
  margin-bottom: 50px;
}

.text {
  color: var(--carolina);
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.text-2 {
  color: var(--cinza);
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.ico {
  width: 40px;
  height: 40px;
  color: var(--carolina);
}

.ico-2 {
  width: 40px;
  height: 40px;
  color: var(--cinza);
}

.check {
  width: 30px;
  height: 30px;
}

.divisoria {
  width: 5%;
  height: 2px;
  border: 0;
  background-color: var(--cinza);
}


.main_pagamentos {
  grid-row: 2;
  width: 1600px;
  height: 740px;
  background-color: #eff3f5;
}

.main_container_carrinho_pagamentos {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.separador_carrinho {
  width: 1545px;
  height: 3px;
  background: var(--carolina);
  border: 0;
}

.container_whats {
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 5%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: var(--celadon);
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.conversar_vendedor {
  color: var(--celadon);
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.botao_whats {
  width: 200px;
  height: 48px;
  border-radius: 5px;
  background: #128c7f;
  border: none;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.nao_tem {
  color: rgba(0, 0, 0, 0.7);
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.baixar_whats {
  color: #4caad6;
  text-decoration: underline;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.separador_whats {
  width: 510px;
  height: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.main_text_carrinho_pagamentos {
  color: #247ba0;
  text-align: center;
  font-family: Jost;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1%;
}

.footer_carrinho {
  position: relative;
  margin-top: 164px;
}

.botoes {
  display: flex;
  column-gap: 5%;
}

.finalizar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  border: 0;
  border-radius: 5px;
  background-color: #1b98e0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 40px;
  width: 200px;
}

.voltar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  border: 2px solid #d73232;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #d73232;
  height: 40px;
  width: 200px;
}

@media (max-width: 768px) {
  .fundo {
    margin-top: 160px !important;
  }
  .carrinho_top {
    width: 95%;
  }
  .main_pagamentos {
    width: 95%;
    height: 780px;
  }
  .separador_carrinho {
    width: 700px;
  }
  .botao_whats {
    width: 450px;
  }
  .botoes {
    flex-direction: column;
    row-gap: 10px;
  }
  .finalizar {
    width: 644px;
    column-gap: 1%;
  }
  .voltar {
    width: 644px;
    column-gap: 1%;
  }
  .botao_whats {
    width: 450px;
  }
  .botoes {
    flex-direction: column;
    row-gap: 10px;
  }
  .finalizar {
    width: 644px;
    column-gap: 1%;
  }
  .voltar {
    width: 644px;
    column-gap: 1%;
  }
}

@media (max-width: 425px) {
  .text {
    font-size: 15px;
  }
  .text-2 {
    font-size: 15px;
  }
  .carrinho_top {
    margin-bottom: 25px;
  }
  .main_text_carrinho_pagamentos {
    font-size: 28px;
  }
  .main_pagamentos {
    height: 880px;
  }
  .separador_carrinho {
    width: 380px;
  }
  .botao_whats {
    width: 350px;
  }
  .separador_whats {
    width: 300px;
  }
  .botoes {
    flex-direction: column;
    row-gap: 10px;
  }
  .finalizar {
    width: 400px;
    column-gap: 1%;
  }
  .voltar {
    width: 400px;
    column-gap: 1%;
  }
}
