* {
  padding: 0;
  margin: 0;
  font-family: "Jost";
}

.fundo {
  height: 100%;
  width: 100%;
  background-color: #dce5eb;
}

.carrinho_pagamentos {
  justify-items: center;
}

.carrinho_top {
  position: relative;
  margin-bottom: 61px;
  grid-row: 1;
}

.navbar {
  width: 100%;
  height: 67px;
  background-color: beige;
}

.main_pagamentos {
  grid-row: 2;
  width: 1600px;
  height: 740px;
  background-color: #fff;
}

.main_container_carrinho_pagamentos {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.separador_carrinho {
  width: 1545px;
  height: 3px;
  background: rgba(0, 100, 148, 0.33);
  border: 0;
}

.container_whats {
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 5%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.conversar_vendedor {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.botao_whats {
  width: 200px;
  height: 48px;
  border-radius: 5px;
  background: #128c7f;
  border: none;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.nao_tem {
  color: rgba(0, 0, 0, 0.7);
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.baixar_whats {
  color: #4caad6;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.separador_whats {
  width: 510px;
  height: 3px;
  background: rgba(0, 0, 0, 0.05);
}

.main_text_carrinho_pagamentos {
  color: #247ba0;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1%;
}

.footer_carrinho {
  position: relative;
  margin-top: 164px;
}

.botoes {
  display: flex;
  column-gap: 5%;
}

.finalizar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  border: 0;
  border-radius: 5px;
  background-color: #1b98e0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 48px;
  width: 200px;
}

.voltar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  border: 2px solid #d73232;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #d73232;
  height: 48px;
  width: 200px;
}
