

.carrinho_vazio_body{
  display: flex;
  background-color: var(--azul_leve);
}

.carrinho_vazio_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0 182px;
}

.carrinho_vazio_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  width: 100%;
  padding: 32px;
}

.carrinho_vazio_nav_item{
  display: flex;
  gap: 16px;
  align-items: center;
}

.text_info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.divisoria {
  width: 5%;
  height: 2px;
  border: 0;
  background-color: #87beff;
}

.carrinho_vazio_conteudo {
  width: 95%;
  height: 80%;
  background-color: #fff;
}

.divisoria_quadrado {
  width: 95%;
  height: 3px;
  background-color: rgba(0, 100, 148, 0.33);
  grid-column: 1/5;
  border: 0;
  justify-self: center;
}

.text {
  display: inline;
  color: #0075ff;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.text_ {
  display: inline;
  grid-row: 1;
  color: #247ba0;
  text-align: left;
  font-family: Jost;
  font-size: 35px;
  font-style: bold;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  margin-inline-start: 100px;
}

.text-2 {
  color: #87beff;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.main_content {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2%;
}

.produto {
  margin-right: 10%;
}

.resumo_text {
  margin-left: 10%;
}

.valor {
  margin-right: 5%;
}

.items_vazio {
  text-align: center;
  text-decoration: underline;
  color: #d9d9d9;
}

.itens_e_servicos {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.servico_icon {
  width: 25px;
  height: 25px;
}

.servicos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  width: 90%;
  height: 50%;
  background-color: #e8f1f2;
}

.servicos_container_text {
  display: flex;
  align-self: first baseline;
  column-gap: 10%;
  position: relative;
  top: 15%;
  left: 2%;
}

.servicos_text {
  color: #0f3b62;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.subtotal_text {
  color: #0f3b62;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  position: relative;
  margin-top: 25%;
  right: 10%;
}

.items {
  width: 100%;
  height: 70%;
}

.resumo {
  width: 20%;
  height: 70%;
  background-color: #e8f1f2;
  position: relative;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  padding: 1.5%;
}

.quadrado_resumo {
  width: 170px;
  height: 26px;
  background: rgba(36, 123, 160, 0.35);
  border: 0;
}

.quadrado_resumo_maior {
  width: 292px;
  height: 15px;
  background: #a3c8d5;
  border: 0;
}

.seta {
  width: 33px;
  height: 33px;
  position: relative;
  left: 70%;
}

.voltar_botao,
.remover_botao,
.salvar_botao {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  cursor: pointer;
}

.voltar_botao {
  width: 192px;
  height: 48px;
  background-color: transparent;
  border: 2px solid #1b98e0;
  border-radius: 5px;
  color: #1b98e0;
  font-size: 20px;
  font-weight: 600;
}

.remover_botao {
  width: 272px;
  height: 48px;
  border-radius: 5px;
  background-color: #d73232;
  color: #fff;
  font-size: 20px;
  border: 0;
}

.salvar_botao {
  width: 192px;
  height: 48px;
  border-radius: 5px;
  background-color: #1b98e0;
  color: #fff;
  font-size: 20px;
  border: 0;
}

.botoes {
  position: relative;
  bottom: 10%;
  left: 2%;
  display: grid;
  width: 100%;
  grid-template-columns: 66.5% 17% min-content;
}
