* {
  padding: 0;
  margin: 0;
  font-family: "Jost";
}

body {
  height: 100vh;
  background-color: #dce5eb;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.carrinho_vazio {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1%;
  width: 100%;
  height: 15%;
}

.text_info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.divisoria {
  width: 5%;
  height: 2px;
  border: 0;
  background-color: #87beff;
}

.quadrado {
  width: 95%;
  height: 80%;
  background-color: #fff;
}

.divisoria_quadrado {
  width: 95%;
  height: 3px;
  background-color: rgba(0, 100, 148, 0.33);
  grid-column: 1/5;
  justify-self: center;
}

.navbar {
  width: 100%;
  height: 67px;
  background-color: beige;
}

.text {
  display: inline;
  color: #0075ff;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
}

.text_ {
  display: inline;
  grid-row: 1;
  color: #247ba0;
  text-align: left;
  font-family: Jost;
  font-size: 35px;
  font-style: bold;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
  text-transform: uppercase;
  margin-inline-start: 100px;
}

.text-2 {
  color: #87beff;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
}

#text-3 {
  color: #d9d9d9;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: auto;
  text-transform: uppercase;
}

.main_content {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2%;
}

.items_vazio {
  text-align: center;
  text-decoration: underline;
  color: #d9d9d9;
}

.itens_e_servicos {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.servico_icon {
  width: 25px;
  height: 25px;
}

.servicos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  width: 100%;
  height: 50%;
  background-color: #e8f1f2;
}

.servicos_container_text {
  display: flex;
  align-self: first baseline;
}

.servicos_text {
  color: #0f3b62;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.seta {
  float: right;
}

.subtotal_text {
  color: #0f3b62;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.items {
  width: 100%;
  height: 70%;
}

.resumo {
  width: 20%;
  height: 70%;
  background-color: #e8f1f2;
}

#text-4 {
  color: #0f3b62;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  grid-row: 1;
  grid-column: 2;
  margin-top: 6%;
  text-transform: uppercase;
}

.seta {
  width: 33px;
  height: 33px;
  margin-top: 20%;
  margin-left: 70%;
  grid-column: 4;
}

#text-5 {
  color: #0f3b62;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 19.5px */
  grid-column: 3;
  margin-top: 30%;
}

#text-6 {
  color: rgba(15, 59, 98, 0.7);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  grid-column: 4;
  grid-row: 2;
  margin-top: 20.5%;
}

#botao_remover {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1;
  padding: 15px 22px 15px 60px;
  align-items: center;
  gap: 3px;
  border-radius: 10px;
  border: 1px solid #f00;
  color: #f00;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  text-transform: uppercase;
  margin-left: 45%;
}

.lixo {
  width: 32px;
  height: 32px;
  grid-column: 1;
  grid-row: 1;
}
.footer_carrinho {
  position: relative;
  margin-top: 164px;
}
