@import "./style.ss";

* {
  margin: 0;
  padding: 0;
  font-family: "Jost";
}

html {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 65px;
  background-color: cadetblue;
}

body {
  background-color: #e8f1f2;
  height: 100%;
}

.editar_perfil_container {
  display: grid;
  grid-template-columns:1fr 1fr;
  width: 100%;
  height: 100%;
  row-gap: 10%;
  justify-items: center;
}

.editar_perfil_view {
  display: grid;
  grid-template-rows: 218px auto auto;
  grid-column: auto;
  position: relative;
  width: 80%;
  height: 100%;
  border: 1px solid #000;
}

.editar_perfil_pfp {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  position: relative;
  left: calc(50% - (152px / 2));
  top: calc(100% - (152px / 2));
}

.editar_perfil_banner {
  width: 100%;
  z-index: 1;
  position: relative;
  bottom: 120%;
}

.editar_perfil_nome_cliente {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  position: relative;
  top: 28%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.editar_perfil_detalhes {
  grid-row: 2;
  grid-column: 1;
  position: relative;
  top: calc(45%);
  display: grid;
  grid-template-columns: 150px 200px 150px;
  grid-template-rows: 20px 30px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.editar_perfil_separador {
  position: relative;
  top: calc(-100%);
}

.editar_perfil_redes_sociais_mini_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  top: 10%;
  left: 5%;
}

.editar_perfil_redes2 {
  position: relative;
  top: 15%;
  left: 10%;
  display: grid;
  row-gap: 20px;
  grid-template-columns: 40px auto;
  grid-template-rows: auto auto;
}

.editar_perfil_cliente_ativo,
.editar_perfil_ico_ativo {
  grid-column: 1;
  grid-row: 1;
}

.editar_perfil_ico_ativo {
  position: relative;
  left: -50%;
}

.editar_perfil_ico_tempo {
  position: relative;
  left: -55%;
}

.editar_perfil_ico_localizacao {
  position: relative;
  left: -45%;
}

.editar_perfil_cliente_tempo,
.editar_perfil_ico_tempo {
  grid-column: 3;
  grid-row: 1;
}

.editar_perfil_cliente_localizacao,
.editar_perfil_ico_localizacao {
  grid-column: 2;
  grid-row: 2;
}

.editar_perfil_edicao {
  grid-column: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
}

.editar_perfil_edicao form label {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.editar_perfil_edicao form input {
  width: 600px;
  height: 40px;
  
}

.editar_perfil_botoes {
  position: relative;
  display: grid;
  grid-template-columns: 230px 230px 230px;
}

.editar_perfil_redefinir_email {
  text-transform: uppercase;
  cursor: pointer;
  background: #1B98E0;
  border-radius: 5px;
  border: 0;
  color: #fff;
  width: fit-content;
  height: 48px;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.editar_perfil_redefinir_senha {
  text-transform: uppercase;
  cursor: pointer;
  background: #006494;
  border-radius: 5px;
  color: #fff;
  border: 0;
  width: fit-content;
  height: 48px;
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.editar_perfil_redes_sociais {
  position: relative;
  top: 10%;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 30px;
}

.editar_perfil_title_redes {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.editar_perfil_redes {
  display: grid;
  grid-template-columns: 40px;
  grid-template-rows: auto auto;
  row-gap: 10px;
}

.editar_perfil_ico {
  display: inline-block;
  grid-row: 1;
}

.editar_perfil_text {
  grid-row: 1;
}

.editar_perfil_editar_redes {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  text-decoration: none;
}

.editar_perfil_edit {
  grid-row: 1;
  border: 0;
  background-color: #1B98E0;
  border-radius: 5px;
  width: 200px;
  height: 48px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.editar_perfil_text_button {
  grid-row: 1;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.editar_perfil_upload {
  position: relative;
}

.editar_perfil_upload form {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.editar_perfil_upload form label {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}

.editar_perfil_upload form p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.editar_perfil_upload form input {
  border: 0;
}

footer {
  position: relative;
  margin-top: 15%;

  display: grid;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: #d7e8ea;
  color: #0f3b62;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
@media (max-width:1024px){
  .editar_perfil_banner,
  .editar_perfil_botoes,
  .editar_perfil_cliente_ativo,
  .editar_perfil_cliente_localizacao,
  .editar_perfil_cliente_tempo,
  .editar_perfil_container,
  .editar_perfil_detalhes,
  .editar_perfil_edicao,
  .editar_perfil_edit,
  .editar_perfil_editar_redes,
  .editar_perfil_ico,
  .editar_perfil_ico_ativo,
  .editar_perfil_nome_cliente,
  .editar_perfil_pfp,
  .editar_perfil_redefinir_email,
  .editar_perfil_redefinir_senha,
  .editar_perfil_redes,
  .editar_perfil_redes2,
  .editar_perfil_redes_sociais,
  .editar_perfil_redes_sociais_mini_text,
  .editar_perfil_separador,
  .editar_perfil_text,
  .editar_perfil_text_button,
  .editar_perfil_title_redes,
  .editar_perfil_upload,
  .editar_perfil_view{font-size: 1rem;}

 .editar_perfil_edicao form input{
  width: 80%;
  height: 80%;
 }

 .editar_perfil_container{
  display: flex;
  flex-direction: column;
 }

 .editar_perfil_upload form {
    display: flex;
    flex-direction: column;
  }

  .editar_perfil_banner{
    width: 50%;
    bottom: 200%;
  }

}

@media (max-width:425px){
  .editar_perfil_banner,
  .editar_perfil_botoes,
  .editar_perfil_cliente_ativo,
  .editar_perfil_cliente_localizacao,
  .editar_perfil_cliente_tempo,
  .editar_perfil_container,
  .editar_perfil_detalhes,
  .editar_perfil_edicao,
  .editar_perfil_edit,
  .editar_perfil_editar_redes,
  .editar_perfil_ico,
  .editar_perfil_ico_ativo,
  .editar_perfil_nome_cliente,
  .editar_perfil_pfp,
  .editar_perfil_redefinir_email,
  .editar_perfil_redefinir_senha,
  .editar_perfil_redes,
  .editar_perfil_redes2,
  .editar_perfil_redes_sociais,
  .editar_perfil_redes_sociais_mini_text,
  .editar_perfil_separador,
  .editar_perfil_text,
  .editar_perfil_text_button,
  .editar_perfil_title_redes,
  .editar_perfil_upload,
  .editar_perfil_view{font-size: 0.5rem;}

  .editar_perfil_edicao form input{
    width: 80%;
    height: 80%;
   }

   .editar_perfil_banner{
    width: 68%;
    bottom: 300%;
  }
}
@media (max-width:768px){
  .editar_perfil_banner,
  .editar_perfil_botoes,
  .editar_perfil_cliente_ativo,
  .editar_perfil_cliente_localizacao,
  .editar_perfil_cliente_tempo,
  .editar_perfil_container,
  .editar_perfil_detalhes,
  .editar_perfil_edicao,
  .editar_perfil_edit,
  .editar_perfil_editar_redes,
  .editar_perfil_ico,
  .editar_perfil_ico_ativo,
  .editar_perfil_nome_cliente,
  .editar_perfil_pfp,
  .editar_perfil_redefinir_email,
  .editar_perfil_redefinir_senha,
  .editar_perfil_redes,
  .editar_perfil_redes2,
  .editar_perfil_redes_sociais,
  .editar_perfil_redes_sociais_mini_text,
  .editar_perfil_separador,
  .editar_perfil_text,
  .editar_perfil_text_button,
  .editar_perfil_title_redes,
  .editar_perfil_upload,
  .editar_perfil_view{font-size: 0.75rem;}

  .editar_perfil_edicao form input{
    width: 80%;
    height: 80%;
   }
}