* {
  padding: 0;
  margin: 0;
  font-family: "Jost";
}

main {
  margin-top: 0;
}

hr {
  width: 95%;
  height: 4px;
  background: #d9d9d9;
  border: none;
  border-radius: 10px;
  justify-self: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.perfil_cliente_banner {
  width: 100%;
}

.perfil_cliente_content_pfp {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center; 
  align-items: center; 

  top: -120px;
}

.perfil_cliente_pfp {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  justify-content: center;

  grid-column: 2;
  
  img {
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 300px;
  }

  h1 {
    color: var(--cinza);
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    line-height: 90%;
  }
}

.perfil_cliente_btn_menu {
  justify-self: end;
  margin-right: 15%;

  select {
    cursor: pointer;
    width: 300px;
  }
}

/* start infos_container */
.perfil_cliente_infos_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;

  gap: 25% 5%;

  max-width: 800px;
  width: 100%;
  height: 80px;

  p {
    color: var(--sappire);
    font-size: 20px;
    font-weight: 600;
    line-height: 90%;
  }
}

.perfil_cliente_infos_item1,
.perfil_cliente_infos_item2,
.perfil_cliente_infos_item3 {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  column-gap: 8px;
}

.perfil_cliente_infos_item1 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.perfil_cliente_infos_item2 {
  grid-column: 1;
  grid-row: 1;
}

.perfil_cliente_infos_item3 {
  grid-column: 3;
}

.linha_vertical {
  width: 4px;
  height: 60px;
  border-radius: 10px;
  background-color: #d9d9d9;
}

/* end infos_container */

/* start about_container */
.perfil_cliente_about_container_2 {
  display: flex;
  column-gap: 1%;
  row-gap: 10%;
  align-items: center;
  margin-left: 5%;
}

.perfil_cliente_about_container_2 h1 {
  color: var(--sappire);
  font-size: 32px;
  font-weight: 500;
}

.perfil_cliente_about_container_2 p {
  grid-area: 2 / 2 / 3 / 2;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 90%;
}

/* end about_container */

/* start contatos_cliente */
.perfil_cliente_contatos_cliente {
  display: grid;
  grid-template-columns: auto min-content auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  column-gap: 10%;
  grid-row: 2;
  grid-column: 1/4;
}

.perfil_cliente_contatos_cliente a {
  justify-self: left;
  color: var(--sappire);
  text-align: center;
  font-size: 20px;
  padding-left: 7px;
  font-weight: 600;
}
.instagram_cliente {
  display: flex;
  align-items: center;
  grid-column: 1;
}

.facebook_cliente {
  display: flex;
  align-items: center;
  grid-column: 3;
}
/* end contatos_cliente */

/* start grid_hitorico */
.historico_items {
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(8, 200px);
  column-gap: 1%;
  row-gap: 1%;
  margin-left: 4.5%;
}


.index_body_imagem_produto {
  row-gap: 0;
  display: flex;
  flex-direction: column;
}

.ver_mais_container {
  display: flex;
  justify-content: end;
  position: relative;
  right: 5%;
  column-gap: 0.5%;
  cursor: pointer;
}

.ver_mais_text {
  color: var(--sappire);
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
}

.anuncio {
  margin-top: 3%;
  justify-self: center;
}
