* {
    padding: 0;
    margin: 0;
    font-family: 'Jost';
    
}

body {
background-color: #E8F1F2;
margin-top: 0;
}

hr {
    width: 126%;
    height: 9px;
    background: #D7E8EA;
    border: none;
    justify-self: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.perfil_cliente_hr_2 {
    display: flex;
    position: relative;
    width: 744px;
    height: 9px;
    background: #D7E8EA;
    border: none;
    justify-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
    left: -12%;
}

.perfil_cliente_vr {
    width: 2px;        
    height: 100%;     
    background-color: #000; 
    grid-area: 1 / 3 / 4 / 4;
}

.perfil_cliente_nav_bar {
    height: 67px;
    width: 100%;
    background-color: #DCE5EB;
}

.perfil_cliente_banner_cliente {
    width: 100%;
    height: 399px;
}

.perfil_cliente_banner_cliente {
    width: 100%;
    object-fit: cover;
}
/* start botao_menu */
.perfil_cliente_botao_menu select {
    background-color: #6F6F6F; 
    color: white;              
    border: none;              
    border-radius: 5px;             
    font-size: 16px;          
    cursor: pointer;         
    width: 300px;
    height: 46px;
    position: absolute;
    top: 520px;
    right: 60px;
    text-align: center;       
    line-height: 26px;        
}

.perfil_cliente_botao_menu select option[value="sair"] {
color: red; 
}

.perfil_cliente_botao_menu select option {
background-color: #1B98E0;  
}

/* end botao_menu */


/* start grid_principal */
.perfil_cliente_grid_principal {
    display: grid;
    position: relative;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    top: -70px;
}

/* start pfp_cliente */
.perfil_cliente_pfp_cliente {
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content;
    justify-content: center;
    top: -180px;
    row-gap: 5%;
}

.perfil_cliente_pfp_cliente img {
    justify-self: center;
    width: 295px;
    height: 295px;
}

.perfil_cliente_pfp_cliente h1 {
    color: #000;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    line-height: 90%;
}
/* end pfp_cliente */

/* start infos_container */
.perfil_cliente_infos_container {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    justify-items: start;
    row-gap: 16px;
    column-gap: 45px;
}

.perfil_cliente_infos_container img {
    width: 32px;
    height: 32px;
}

.perfil_cliente_infos_container p {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 90%; 
}

.perfil_cliente_infos_item1, .perfil_cliente_infos_item2, .perfil_cliente_infos_item3 {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    column-gap: 5px;
}

.perfil_cliente_infos_item1 {
    grid-column: 2;
    grid-area: 3 / 1 / 3 / 3;
    justify-self: center;
}

.perfil_cliente_infos_item2 {
    grid-column: 1;
    grid-row: 2;
}

.perfil_cliente_infos_item3 {
    grid-column: 2;
    grid-row: 2;
}

/* end infos_container */

/* start about_container */
.perfil_cliente_about_container, .perfil_cliente_about_container_2 {
    display: grid;
    grid-template-columns: min-content auto;
    position: relative;
    column-gap: 1%;
    row-gap: 10%;
    justify-content: start;
    align-items: center;
    width: 1512px;
    height: 105px;
    justify-self: start;
}

.perfil_cliente_about_container img, .perfil_cliente_about_container_2 img {
    width: 34px;
    height: auto;
}

.perfil_cliente_about_container h1, .perfil_cliente_about_container_2 h1  {
    color: #000;
    font-size: 32px;
    font-weight: 500;
}

.perfil_cliente_about_container p, .perfil_cliente_about_container_2 p {
    grid-area: 2 / 2 / 3 / 2;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 90%;
}
/* end about_container */

/* start contatos_cliente */
.perfil_cliente_contatos_cliente {
    display: grid;
    grid-template-columns: auto auto;
    height: 200px;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    column-gap: 1%;
    justify-self: start;
    padding-left: 50px;
}

.perfil_cliente_contatos_cliente img {
    width: 40px;
    height: 40px;
}

.perfil_cliente_contatos_cliente a {
    justify-self: left;
    color: #000;
    text-align: center;
    font-size: 20px;
    padding-left: 7px;
}
/* end contatos_cliente */

/* start grid_hitorico */

.perfil_cliente_grid_hitorico {
    display: grid;
    grid-template-columns: auto;
}

/* start grid_item */
.perfil_cliente_grid_item {
    display: grid;
    grid-template-columns: min-content 500px auto;
}

.perfil_cliente_frame_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 205px;
    height: 240px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.perfil_cliente_frame_img img {
    width: 163px;
    height: 163px; 
}

.perfil_cliente_produto_item {
    display: grid;
    padding-left: 10px;
}

.perfil_cliente_produto_item h1 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.perfil_cliente_produto_item h2 {
    font-size: 19px;
    font-weight: 600;
    line-height: normal;
    color:#1B98E0;;
}

.perfil_cliente_produto_status {
    display: grid;
    grid-template-columns: 40% 23% max-content;
    align-items: center;

}

.perfil_cliente_produto_status h4 {
    color: #000;
    font-size: 12px;
}

.perfil_cliente_produto_status h3 {
    color: #000;
    font-size: 15px;
}

.perfil_cliente_produto_total, .perfil_cliente_produto_preco {
    display: flex;
    width: 314px;
    height: 48px;   
    background-color: white;
    border-radius: 100px;
    justify-content: left;
    align-items: center;
}

.perfil_cliente_produto_preco h3 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.50);
}

.perfil_cliente_produto_preco h4 {
    color: rgba(255, 0, 0, 0.70);
    font-size: 20px;
    padding-left: 5px;
}

.perfil_cliente_produto_total h1, .perfil_cliente_produto_preco h3 {
    margin-left: 15px;
}

/* start grid_botoes */
.perfil_cliente_grid_botoes {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

.perfil_cliente_grid_botoes h1 {
    color: #FFF;
    font-size: 20px;
}

.perfil_cliente_btn_1 {
    display: flex;
    width: 218px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgba(15, 59, 98, 0.50);
    background: #2075C2;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.perfil_cliente_btn_1:hover {
    background: #186fa1;
    border-color: rgba(15, 59, 98, 1);
}
/* end grid_botoes */
/* end grid_item */
/* end grid_hitorico */

/* end grid_principal */