* {
  padding: 0;
  margin: 0;
  font-family: Jost;
}

.aprovar_vendedor_navbar {
  width: 100%;
  height: 67px;
  background-color: aliceblue;
}

.aprovar_vendedor_main_title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 188px;
  background-color: #0F3B62;
}

.aprovar_vendedor_main_text {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.aprovar_vendedor_main_linha {
  width: 90%;
  height: 9px;
  background-color: #2888B1;
  border: 0;
  border-radius: 20px;
}

.aprovar_vendedor_main_container {
  position: relative;
  top: 42px;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4.55% 85%;
  justify-items: center;
}

.aprovar_vendedor_filtro {
  justify-self: left;
  position: relative;
  left: 2.5%;
}

.aprovar_vendedor_input_select {
  width: 543px;
  height: 43px;
  background-color: #F1F1F1;
  border: solid 1px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}

.aprovar_vendedor_main_quadrado {
  width: 95%;
  height: 95%;
  background-color: #F1F1F1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 11.16% 24.30% 12.70% 12.76% 29.02% 10.06%;
  grid-template-rows: 63px repeat(12, 45px);
  row-gap: 6px;
  place-items: center;
}

.aprovar_vendedor_main_quadrado > p {
  align-content: center;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  row-gap: 6px;
  height: 100%;
  width: 100%;
}

.aprovar_vendedor_main_quadrado > p:nth-child(6) {
  border-right: 0;
}

.aprovar_vendedor_main_quadrado .aprovar_vendedor_nome {
  text-align: left;
  text-indent: 5%;
}

.aprovar_vendedor_main_quadrado > span {
  text-align: center;
  width: 100%;
  height: 100%;
  align-content: center;
  font-size: 16px;
  background-color: #DCE5EB;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.aprovar_vendedor_main_quadrado > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #DCE5EB;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  column-gap: 45px;
}

.aprovar_vendedor_main_quadrado .ultimo {
  border: 0;
}

.aprovar_vendedor_main_quadrado > div > button {
  width: 180px;
  height: 23px;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.aprovar_vendedor_ativar {
  border: 1px solid #2075C2;
  color: #2075C2;
}

.aprovar_vendedor_inativar {
  border: 1px solid #FE1E1E;
  color: #FE1E1E;
}

.aprovar_vendedor_aprovar {
  border: 1px solid #5DB998;
  color: #5DB998;
}

.aprovar_vendedor_requisitos {
  color: #FE1E1E;
  font-size: 16px;
}