* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
  user-select: none;
}

/* NAVBAR */
.atualizar_usuario_nav_bar { 
width: 100%;
height: 67px;
background-color: black;
}

/* CORPO PRINCIPAL */
.atualizar_usuario_body {
display: flex;
flex-direction: column;
justify-self: center;
align-self: center;

  background-color: #EFF3F5;
  width: 90%;
  height: 779px;
  border-radius: 10px;
  margin: 0px 1.5%;
}

/* header */
.atualizar_usuario_titulo {
  position: relative;

  display: grid;
  grid-template-columns: auto;
  align-content: center;
  justify-items: center;
  
  width: 100%;
  margin-top: 16px;
}

.atualizar_usuario_text_titulo {
  display: flex;
  justify-self: center;
}

.atualizar_usuario_text_titulo img {
  align-self: center;
  width: 28px;
  height: auto;
  margin-right: 8px;
}

.atualizar_usuario_text_titulo h1 {
  justify-self: center;
  font-weight: 500;
  color: #255e7e;
  text-align: center;
  font-size: 32px;
}

.atualizar_usuario_linha_titulo {
  width: 95%;
  height: 5px;
  border-radius: 20px;
  background-color: #2888b1;
  border: 0;
}

/* grid principal */
.atualizar_usuario_grid_conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 8px 3%;
  margin: 8px 5% 0px 5%;
}

/* info */
#atualizar_usuario_text_1 {
grid-column: 1;
grid-row: 1;
}

#atualizar_usuario_text_2 {
grid-column: 2;
grid-row: 1;
}

#atualizar_usuario_text_3 {
grid-column: 1;
grid-row: 3;
}

#atualizar_usuario_text_4 {
grid-column: 2;
grid-row: 3;
}

.atualizar_usuario_text{
display: flex;
}

.atualizar_usuario_text img{
  margin: 0px 8px;
  width: 24px;
  height: 24px;
  align-self: center;
  justify-self: center;
}

.atualizar_usuario_vertical {
border: none;
background-color: #1B98E0;
border-radius: 10px;
width: 10px;
height: 46px;
}

.atualizar_usuario_text h1 {
position: relative;
font-size: 32px;
color: #2888b1;
}

/* inputs */
.atualizar_usuario_grid_conteudo input {
  height: 40px;
  border: #4eace2 solid 2px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--cinza);
}

.atualizar_usuario_grid_conteudo label {
font-size: 20px;
color: #0f3b62;
font-weight: 600;
}

/* Pesquisar Usuário */
.atualizar_usuario_pesquisar_usuario h2 {
  color: rgba(87, 149, 206, 0.60);
  font-size: 20px;
  max-width: 600px;
}

.atualizar_usuario_pesquisar_usuario_item {
  display: flex;
  flex-direction: column;
}

.atualizar_usuario_pesquisar_usuario_item input {
  max-width: 600px;
}

/* Localização */
.atualizar_usuario_localizacao_conjunto {
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: start;
align-items: center;
column-gap: 2%;

  max-width: 600px;
}

.atualizar_usuario_dados_pessoais_item,
 .atualizar_usuario_dados_pessoais,
  .atualizar_usuario_localizacao_item input, 
  .atualizar_usuario_localizacao_item  {
  display: flex;
  flex-direction: column;
}

.atualizar_usuario_dados_pessoais_item input {
  max-width: 600px;
}

.atualizar_usuario_dados_pessoais_conjunto {
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: start;
align-items: center;
column-gap: 2%;

  max-width: 600px;
}

/* Permissões */
.atualizar_usuario_forms_permissoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.atualizar_usuario_permissoes_conjunto {
display: grid;
grid-template-columns: 1fr 1fr;
}

.label_container {
justify-content: start;
align-content: center;
align-self: center;
margin-left: 20px;
}

.atualizar_usuario_forms_item_permissoes {
  display: flex;
  justify-content: start;
  align-items: center;
}

.atualizar_usuario_forms_permissoes label {
color: rgba(0, 0, 0, 0.60);
font-size: 20px;
}

.atualizar_usuario_forms_item_permissoes input {
width: 18px;
height: 18px;
border: 1px solid #6F6F6F; 
border-radius: 50%;

appearance: none;
cursor: pointer;
transition: background-color 0.3s, border-color 0.3s; 
}

.atualizar_usuario_forms_item_permissoes input:checked {
background-color: #1B98E0;
border-color: #1B98E0; 
}

.atualizar_usuario_forms_item_permissoes label {
font-size: 20px; 
font-weight: 500; 
}

.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  }

  .toggle_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 25px;
  }

.toggle_slider::before {
position: absolute;
content: "";
height: 18px;
width: 18px;
left: 4px;
bottom: 2px;
background-color: white;
transition: .4s;
border-radius: 50%;
}

input:checked + .toggle_slider {
background-color: #2196F3;
}

input:checked + .toggle_slider::before {
transform: translateX(24px);
}

/* Botão Confirmar */
.atualizar_usuario_botao_salvar {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  top: 660px;
  right: 250px;
}

.atualizar_usuario_salvar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background-color: #1B98E0;
  width: 192px;
  height: 40px;
}

.atualizar_usuario_salvar label {
color: white;
font-size: 24px;
cursor: pointer;
}

.atualizar_usuario_botao_salvar button {
border: none;
cursor: pointer;
}

#atualizar_usuario_text_titulo_mobile {
  display: none;
}


/* <<< MOBILE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 1024px) {
  /* CORPO PRINCIPAL */
  .atualizar_usuario_body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    
    background-color: transparent;
    width: 95%;
    height: 1435px;
    border-radius: 10px;
    margin: 0px 2%;
  }
  
  #atualizar_usuario_text_titulo_mobile {
    position: absolute;
    display: block;
    display: flex;
    justify-content: start; 
    align-items: center; 

    width: 100%;
    height: 86px;
    margin-top: 290px;
  }
  
  .atualizar_usuario_text_titulo h1 {
    justify-self: center;
    font-weight: 500;
    color: #255e7e;
    text-align: center;
    font-size: 32px;
  }
  
  /* grid principal */
  .atualizar_usuario_grid_conteudo {
    display: grid;
    grid-template-columns: 1fr;  
    margin: 8px 2%;
    row-gap: 2%;
  }

  .atualizar_usuario_grid_conteudo input {
    width: 100%;
  }

  .bg_mobile_1 {
    position: absolute;
    background-color: #EFF3F5;
    height: 360px;
    width: 100%;

    z-index: -1;
    border-radius: 10px;
  }

  .bg_mobile_2 {
    position: absolute;
    background-color: #EFF3F5;
    height: 1000px;
    width: 100%;

    z-index: -1;
    border-radius: 10px;
    margin-top: 445px;
  }

  #atualizar_usuario_text_1 {
    grid-row: 1;
  }

  .atualizar_usuario_pesquisar_usuario {
    grid-row: 2;
  }

  #atualizar_usuario_text_2 {
    grid-row: 3;
    grid-column: 1;
    margin-top: 100px;
  }

  .atualizar_usuario_dados_pessoais {
    grid-row: 4;
  }

  #atualizar_usuario_text_3 {
    grid-row: 5;
  }

  .atualizar_usuario_localizacao {
    grid-row: 6;
  }

  #atualizar_usuario_text_4 {
    grid-row: 7;
    grid-column: 1;
  }

  .atualizar_usuario_forms_permissoes {
    grid-row: 8;
  }

  /* inputs */
  .atualizar_usuario_pesquisar_usuario_item input,
  .atualizar_usuario_dados_pessoais_item input,
  .atualizar_usuario_dados_pessoais_conjunto,
  .atualizar_usuario_localizacao_conjunto {
    max-width: 100%;
  }

  .atualizar_usuario_dados_pessoais_conjunto {
    width: 100%;
  }

  .atualizar_usuario_permissoes_conjunto {
    display: flex;
    flex-direction: column;
  }

  .atualizar_usuario_forms_item_permissoes {
    margin-bottom: 4%;
  }

  /* botão */
  .atualizar_usuario_botao_salvar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  
    top: 170px;
    right: 0px;
  }

  .atualizar_usuario_salvar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 5px;
    background-color: #1B98E0;
    width: 100%;
    height: 40px;
  }
  
}

@media (max-width: 768px) {
  .atualizar_usuario_titulo {
    position: absolute;
  
    display: flex;
    align-content: center;
    justify-items: center;
    
    width: 100%;
    top: -70px;
    margin: 0%;
  }

  .atualizar_usuario_linha_titulo {
    display: none;
  }

  .atualizar_usuario_text_titulo {
    display: flex;
    justify-self: start;
  }

  #atualizar_usuario_text_2 {
    margin-top: 160px;
  }

  .atualizar_usuario_botao_salvar {
    top: 210px;
  }
}


@media (max-width: 425px) {
  .bg_mobile_1 {
    height: 360px;
  }

  .bg_mobile_2 {
    position: absolute;
    background-color: #EFF3F5;
    height: 950px;
    width: 100%;

    z-index: -1;
    border-radius: 10px;
    margin-top: 450px;
  }

  #atualizar_usuario_text_2 {
    margin-top: 140px;
  }

  .atualizar_usuario_botao_salvar {
    top: 190px;
  }
}

@media (max-width: 425px) {
  #atualizar_usuario_text_2 {
    margin-top: 140px;
  }
}

@media (max-width: 375px){
  #atualizar_usuario_text_2 {
    margin-top: 92px;
  }

  .bg_mobile_2 {
    height: 990px;
  }
}