* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 67px;
  background-color: turquoise;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.main_quadrado {
  position: relative;
  top: 10%;
  grid-column: 2;
  width: 100%;
  height: 80%;
  background-color: #DCE5EB;
  border-radius: 10px;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 15% 55%;
}

.head {
  width: 100%;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main_txt_cadastro {
  text-align: center;
  color: #000;
  font-family: Jost;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.separador_cadastro {
  width: 90%;
  height: 5px;
  border-radius: 20px;
  background: #2888B1;
  border: none;
}