* {
  padding: 0;
  margin: 0;
  font-family: Jost;
}

body,
html {
  height: 100%;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 67px;
  background-color: #dce5eb;
}

.gerenciar_produtos_header {
  width: 100%;
  height: 192px;
  background-color: #0f3b62;
  background-size: cover;
  align-items: center;
  justify-items: center;
  font-family: "Jost", sans-serif;
  font-weight: normal;
}

.gerenciar_produtos_header_title {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 75%;
}

.gerenciar_produtos_header_linha {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 75%;
  width: 60%;
  height: 13px;
  background-color: #2888b1;
  border-radius: 20px;
}

.gerenciar_produtos_main_container {
  width: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: 590px 81px 800px;
  top: 1%;
}

.gerenciar_produtos_pesquisa {
  display: grid;
  grid-template-columns: min-content min-content;
  position: relative;
  top: 97px;
  left: 92px;
  column-gap: 20%;
  width: 1000px;
}

.gerenciar_produtos_pesquisa_cliente {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(3, auto);
}

.gerenciar_produtos_informacoes_cliente {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  justify-items: center;
}

.gerenciar_produtos_main_content {
  width: 1822px;
  height: 590px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: #f1f1f1;
}

.gerenciar_produtos_main_text_pesquisa_container {
  grid-column: 1;
}

.gerenciar_produtos_main_text_pesquisa,
.main_text_info {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_produtos_sub_text_info {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_produtos_linha {
  width: 613px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.gerenciar_produtos_forms_pesquisa {
  margin-top: 24px;
  grid-column: 1;
  grid-row: 2;
  display: grid;
}

.gerenciar_produtos_forms_pesquisa input {
  width: 614px;
  height: 34px;
}

#gerenciar_produtos_ip_email {
  grid-column: 1;
  text-indent: 5px;
  background-color: transparent;
  border: 2px solid #1b98e0;
  border-radius: 5px;
}

.gerenciar_produtos_forms_pesquisa label {
  color: #000;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_produtos_selects {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: 40% 22% 20%;
  column-gap: 34px;
  margin-top: 3%;
}

.gerenciar_produtos_mes_select {
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #1b98e0;
}

.gerenciar_produtos_ano {
  grid-column: 3;
  grid-row: 1;
}

.gerenciar_produtos_ano_select {
  grid-column: 3;
  grid-row: 2;
  height: 34px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #1b98e0;
}

.gerenciar_produtos_plano_select {
  grid-column: 1;
  grid-row: 2;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #1b98e0;
}

.gerenciar_produtos_botoes_submit {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column: 1;
  grid-row: 4;
}

.gerenciar_produtos_cancelar_submit {
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: red solid 2px;
  border-radius: 5px;
  color: #f00;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gerenciar_produtos_confirmar_submit {
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 105%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  column-gap: 5%;
  border-radius: 5px;
  background: #1b98e0;
  border: 0;
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gerenciar_produtos_cancelar_submit > img,
.gerenciar_produtos_confirmar_submit > img {
  width: 20px;
}

.gerenciar_produtos_estatisticas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 710px;
  height: 266px;
  gap: 5px;
  background-color: #ddd;
  padding: 5px;
}
.gerenciar_produtos_grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a90e2;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.gerenciar_produtos_main_container {
  width: 100%;
  position: relative;
  display: grid;
  margin-top: 20px;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: 81px 800px;
  top: 1%;
}

.gerenciar_produtos_botoes {
  position: relative;
  top: 60%;
  height: 40px;
}

.gerenciar_produtos_filtro {
  width: 543px;
  height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #f1f1f1;
  color: #000;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_produtos_table {
  width: 190vh;
  margin-top: 20px;
  height: 752px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #f1f1f1;
  display: grid;
  grid-template-columns: 10.8% 26.17% 15.69% 9.97% 24.76% 12.61%;
  grid-template-rows: 64px repeat(13, 45px);
  row-gap: 8px;
  text-align: center;
}

.gerenciar_produtos_table p {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_produtos_table span {
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dce5eb;
}
