* {
  padding: 0;
  margin: 0;
  font-family: Jost;
}

body, html{
  height: 100%;
  width: 100%;
}


.gerenciar_usuario_navbar_principal {
  width: 100%;
  height: 67px;
  background-color: #DCE5EB;
}

.gerenciar_usuario_header {
  width: 100%;
  height: 192px; 
  background-color: #0F3B62;
  background-size: cover; 
  align-items: center;
  justify-items: center;
  font-family: 'Jost', sans-serif;
  font-weight: normal;
}

.gerenciar_usuario_header_title{
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 75%;
}

.gerenciar_usuario_header_linha{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 75%;
    width: 60%;
    height: 13px;
    background-color: #2888B1; 
    border-radius: 20px;
}

.gerenciar_usuario_main_container {
  width: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: 590px 81px 800px;
  top: 1%;
}

.gerenciar_usuario_main_content {
  width: 1822px;
  height: 590px;
  border: 2px solid rgba(0, 0, 0, 0.30);
  background: #F1F1F1;
}

.gerenciar_usuario_pesquisa_cliente_container {
  display: grid;
  grid-template-columns: min-content min-content;
  position: relative;
  top: 97px;
  left: 92px;
  column-gap: 20%;
  width: 1000px;
}

.gerenciar_usuario_pesquisa_cliente {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(3, auto);
}

.gerenciar_usuario_informacoes_cliente {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content );
  align-items: center;
  justify-items: center;
}


.gerenciar_usuario_main_text_pesquisa_container {
  grid-column: 1;
}

.gerenciar_usuario_main_text_pesquisa, .gerenciar_usuario_main_text_info {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_usuario_linha_separador {
  width: 613px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
}

.gerenciar_usuario_forms_pesquisa {
  margin-top: 24px;
  grid-column: 1;
  grid-row: 2;
  display: grid;
}

.gerenciar_usuario_forms_pesquisa input {
  width: 614px;
  height: 34px;
}

#gerenciar_usuario_ip_email {
  grid-column: 1;
  text-indent: 5px;
}

.gerenciar_usuario_forms_pesquisa label {
  color: #000;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_usuario_selects_container {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: 40% 22% 20%;
  column-gap: 34px;
  margin-top: 3%;
}

.gerenciar_usuario_ano {
  grid-column: 3;
  grid-row: 1;
}

.gerenciar_usuario_ano_select {
  grid-column: 3;
  grid-row: 2;
  height: 34px;
}

.gerenciar_usuario_status_select {
  grid-column: 1;
  grid-row: 2;  
}

.gerenciar_usuario_botoes_submit {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column: 1;
  grid-row: 4;
}

.gerenciar_usuario_cancelar_submit {
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 190%;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 50px;
  background-color: transparent;
  border: red solid 2px;
  border-radius: 10px;
  color: #F00;
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_usuario_confirmar_submit {
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 200%;
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 50px;
  border-radius: 10px;
  background: #2075C2;
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_usuario_usuario_info {
  grid-row: span 3;
  grid-column: 1;
  width: 295px;
  height: 258px;
  background: #DCE5EB;
}

.gerenciar_usuario_informacoes_cliente {
  row-gap: 5%;;
}

.gerenciar_usuario_usuario_info {
  display: grid;
  align-items: center;
  justify-items: center;
}

.gerenciar_usuario_desativar_usuario {
  border: 0;
  border-radius: 10px;
  background: #F00;
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.gerenciar_usuario_nome_info {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_usuario_main_text_info_container {
  grid-column: span 2;
}

.gerenciar_usuario_data_cadastro, .gerenciar_usuario_email, .gerenciar_usuario_cargo {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 75px;
  background: #DCE5EB;
}

.gerenciar_usuario_data_cadastro_text, .gerenciar_usuario_email_text, .gerenciar_usuario_cargo_text {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_usuario_data_cadastro_date, .gerenciar_usuario_email_date, .gerenciar_usuario_cargo_info {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 90%;
}

.gerenciar_usuario_botoes {
  position: relative;
  top: 35%;
  height: 40px;
}

.gerenciar_usuario_filtro {
  width: 543px;
  height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  background: #F1F1F1;
  color: #000;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_usuario_table {
  width: 1822px;
  height: 752px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #F1F1F1;
  display: grid;
  grid-template-columns: 9.22% 22.34% 13.39% 8.51% 21.13% 14.66% 10.76%;
  grid-template-rows: 64px repeat(13, 45px);
  row-gap: 8px;
  text-align: center;
}

.gerenciar_usuario_table p {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid rgba(0, 0, 0, 0.30);
  position: relative;
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gerenciar_usuario_table span {
  border: 1px solid rgba(0, 0, 0, 0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DCE5EB;;
}