.historico_acesso_body_container {
  padding: 0px 48px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.historico_acesso_body_holder {
  border-radius: 10px;
}

.gerenciar_pedidor_firula_holder{
  border-radius: 10px;
  background-color: #EFF3F5;
  display: flex;
  flex-direction: column;
  padding: 16px 32px 32px 32px;
}

.historico_acesso_subtitulo_generico{
  width: 100%;
  display: flex;
  gap: 8px;
}

.historico_acesso_linha_vertical{
  width: 8px;
  height: 48px;
  background-color: var(--carolina);
  border-radius: 10px;
}

.historico_acesso_subtitle_holder{
  display: flex;
  gap: 8px;
  align-items: center;
}

.historico_acesso_header_holder{
  width: 100%;
}

.historico_acesso_header_title_1 {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.historico_acesso_header_title_2 {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.historico_acesso_text_header {
  color: #255e7e;
}

.historico_acesso_quadrado_container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10%;
}

.historico_acesso_main_content {
  padding: 32px;
}

.historico_acesso_pesquisar_pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.historico_acesso_form_cliente {
  display: flex;
  flex-direction: column;
}

.historico_acesso_input_ano {
  display: flex;
  flex-direction: column;
}

.historico_acesso_input_status {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.historico_acesso_linha_sublinhado {
  width: 95%;
  height: 5px;
  background-color: #2888b1;
  border-radius: 20px;
}

.historico_acesso_forms_pesquisa_pedidos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  margin: 16px 0 0;
}

.historico_acesso_holder_botao {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.historico_acesso_input_ano{
  width: 100%;
}

.historico_acesso_inputs_esquerda {
  display: flex;
  gap: 8px;

  select{
    width: 100%;
  }
}

.historico_acesso_select_status {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.historico_acesso_ano_select {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.historico_acesso_estatisticas {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.historico_acesso_table{
  display: flex;
  flex-direction: column;
}

.historico_acesso_table_filtro{
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0 8px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  & select{
    background-color: var(--carolina);
    border: 0;
    height: 32px;
  }

  & select:focus-visible{
    outline: solid 1px #e0e0e0;
  }
}

.historico_acesso_filtro_titulo{
  color: #fff;
}

/**Individual para cada tabela */
.historico_acesso_table_col-1,
.historico_acesso_table_col-4{
  width: 4%;
}
.historico_acesso_table_col-3,
.historico_acesso_table_col-6{
  width: 8%;
}

.historico_acesso_table_col-2,
.historico_acesso_table_col-5,
.historico_acesso_table_col-7{
  width: 20%;
}

.historico_acesso_info_user {
  display: flex;
  flex-direction: column;
}

.historico_acesso_info_user_item {
  display: flex;
  flex-direction: column;
  color: #006494;
}

.historico_acesso_info_user_item input {
  max-width: 590px;
}

.historico_acesso_info_user_conjunto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: center;
  column-gap: 2%;

  max-width: 590px;
}

@media (max-width:1024px) {
  .font_titulo{
    font-size: 1.5rem;
  }
  
  .historico_acesso_quadrado_container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .historico_acesso_body_container {
    padding: 0px 16px 16px;
    gap: 8px;
  }

  .historico_acesso_body_holder {
    background-color: #EFF3F5;
    padding: 8px;
  }

  .historico_acesso_main_content {
    padding: 8px;
  }

  .base_botao{
    min-width: 56px;
  }

  .historico_acesso_linha_sublinhado{
    display: none;
  }

  .gerenciar_pedidor_firula_holder{
    background-color: transparent;
    gap: 16px;
    padding: 0;
  }

  .historico_acesso_header_title{
    justify-content: flex-start;
  }

  .historico_acesso_input_ano{
    width: 100%;
  }

  .historico_acesso_mes_select,
  .historico_acesso_select_status,
  .historico_acesso_ano_select{
    width: 100%;
  }

  .historico_acesso_holder_botao{
    justify-content: center;
  }
}
