* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
  user-select: none;
}
  
/* Navbar */
.historico_acesso_nav_bar { 
  width: 100%;
  height: 67px;
  background-color: black;
}


.historico_acesso_body {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;

  background-color: #EFF3F5;
  width:90%;
  height: 370px;
  border-radius: 10px;
  margin: 1.5%;
}

/* header */
.historico_acesso_header {
  position: relative;

  display: grid;
  grid-template-columns: auto;
  align-content: center;
  justify-items: center;
  
  width: 100%;
  height: 86px;
}

.historico_acesso_text_header {
  display: flex;
  justify-self: center;
}

.historico_acesso_text_header img {
  align-self: center;
  width: 28px;
  height: auto;
  margin-right: 8px;
}

.historico_acesso_text_header h1 {
  justify-self: center;
  font-weight: 500;
  color: #255e7e;
  text-align: center;
  font-size: 32px;
}

.historico_acesso_linha_header {
  width: 95%;
  height: 5px;
  border-radius: 20px;
  background-color: #2888b1;
  border: 0;
}

/* grid principal */
.historico_acesso_grid_conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 2% 3%;
  margin: 0px 5%;
}

/* info */
#historico_acesso_text_1 {
  grid-column: 1;
  grid-row: 1;
}

#historico_acesso_text_2 {
  grid-column: 2;
  grid-row: 1;
}

#historico_acesso_text_3 {
  grid-column: 1;
  grid-row: 3;
}

#historico_acesso_text_4 {
  grid-column: 2;
  grid-row: 3;
}

.historico_acesso_text{
  display: flex;
}

.historico_acesso_text img{
  margin: 0px 8px;
  width: 24px;
  height: 24px;
  align-self: center;
  justify-self: center;
}

.historico_acesso_vertical {
  border: none;
  background-color: #1B98E0;
  border-radius: 10px;
  width: 10px;
  height: 46px;
}

.historico_acesso_text h1 {
  position: relative;
  font-size: 32px;
  color: #2888b1;
}

/* inputs */
.historico_acesso_grid_conteudo input {
  height: 34px;
  
  border: 2px #1B98E0 solid;
  outline: none;
  border-radius: 5px;
  text-indent: 5px;
  font-size: 20px;
  background-color: transparent;
}

.historico_acesso_grid_conteudo label {
  font-size: 20px;
  color: #0f3b62;
  font-weight: 600;
}

/* Relatorio Geral */
.historico_acesso_relatorio_geral h2 {
  color: rgba(87, 149, 206, 0.60);
  font-size: 20px;
  max-width: 590px;
}

.historico_acesso_buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}

.historico_acesso_cancel{
  background-color: #ff4d4d;
  color: white;
}
  
.historico_acesso_confirm {
  background-color: #007bff;
  color: white;
}

.historico_acesso_relatorio_geral_item {
  display: flex;
  flex-direction: column;
}

.historico_acesso_relatorio_geral_item input {
  max-width: 590px;
}


/* Info User */
.historico_acesso_info_user {
  display: flex;
  flex-direction: column;
}

.historico_acesso_info_user_item {
  display: flex;
  flex-direction: column;
  color: #006494;
}

.historico_acesso_info_user_item input {
  max-width: 590px;
}

.historico_acesso_info_user_conjunto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: center;
  column-gap: 2%;

  max-width: 590px;
}


/* Historico Acesso Tabelas*/
.historico_acesso_filtro {
  width: 343px;
  height: 43px;
  background: #1B98E0;
  color: #F9F9FC;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px 10px 0 0;
}

.historico_acesso_titulo{
  display: flex;
  margin-top: 30px;
  color: #006494;
}

.historico_acesso_titulo img{
  margin-right: 10px;
}

.historico_acesso_table {
  width: 1100px;
  height: 192px;
  background: #ffffff;
  display: grid;
  grid-template-columns: 13.34% 12.39% 11.48% 13.13% 29.66%;
  grid-template-rows: 48px repeat(3, 48px);
  text-align: center;
  color: #006494;
}
  
.historico_acesso_table p {
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px solid rgba(27, 152, 224, 1);
  position: relative;
  color: #6F6F6F;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
  
.historico_acesso_table span {
  border: 1px solid rgba(27, 152, 224, 1);
  border-top: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DCE5EB;;
}

#historico_acesso_text_header_mobile {
  display: none;
}

/* <<< MOBILE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 1024px) {
  /* NAVBAR */
  .historico_acesso_nav_bar { 
    width: 100%;
    height: 67px;
    background-color: black;
  }
  
  /* CORPO PRINCIPAL */
  .historico_acesso_body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    
    background-color: transparent;
    width: 95%;
    height: 1000px;
    border-radius: 10px;
    margin: 1.5% 2%;
    margin-top: 86px;
  }
  
  /* header */
  .historico_acesso_header {
    position: absolute;
  
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-items: center;
    
    width: 100%;
    height: 86px;
    top: -85px;
  }
  
  #historico_acesso_text_header_mobile {
    position: absolute;
    display: block;
    display: flex;
    justify-content: start; 
    align-items: center; 

    width: 100%;
    height: 86px;
    margin-top: 336px;
  }

  .historico_acesso_text_header {
    display: flex;
    justify-self: start;
  }
  
  .historico_acesso_text_header img {
    align-self: center;
    width: 28px;
    height: auto;
    margin-right: 8px;
  }
  
  .historico_acesso_text_header h1 {
    justify-self: center;
    font-weight: 500;
    color: #255e7e;
    text-align: center;
    font-size: 32px;
  }
  
  .historico_acesso_linha_header {
    display: none;
  }
  
  /* grid principal */
  .historico_acesso_grid_conteudo {
    display: grid;
    grid-template-columns: 1fr;  
    margin: 3% 2%;
    row-gap: 4%;
  }

  .bg_mobile_1 {
    position: absolute;
    background-color: #EFF3F5;
    height: 626px;
    width: 100%;

    z-index: -1;
    border-radius: 10px;
  }

  #historico_acesso_text_1 {
    grid-row: 1;
  }

  .historico_acesso_relatorio_geral {
    grid-row: 2;
  }

  #historico_acesso_text_2 {
    grid-row: 3;
    grid-column: 1;
  }

  .historico_acesso_info_user {
    grid-row: 4;
  }

  #historico_acesso_text_3 {
    grid-column: 1;
    grid-row: 3;
    margin-top: 65px;
}

  /* inputs */
  .historico_acesso_relatorio_geral_item input,
  .historico_acesso_info_user_item input,
  .historico_acesso_info_user_conjunto{
    max-width: 100%;
    
  }

  .historico_acesso_titulo{
    display: flex;
    margin-top: 30px;
    color: #006494;
  }

  .historico_acesso_table {
    width: 715px;
    height: 192px;
    background: #ffffff;
    display: grid;
    grid-template-columns: 18.34% 17.39% 16.48% 18.13% 29.66%;
    grid-template-rows: 48px repeat(3, 48px);
    text-align: center;
    color: #006494;
  }
}
