* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
  user-select: none;
}

/* NAVBAR */
.relatorio_vendedor_nav_bar { 
width: 100%;
height: 67px;
background-color: black;
}

/* CORPO PRINCIPAL */
.relatorio_vendedor_body {
display: flex;
flex-direction: column;
justify-self: center;
align-self: center;

background-color: #EFF3F5;
max-width: 1556px;
width: 100%;
height: 780px;

border-radius: 10px;
margin-top: 32px;
}

/* header */
.relatorio_vendedor_header {
position: relative;

display: grid;
grid-template-columns: auto;
align-content: center;
justify-items: center;

width: 100%;
height: 86px;
margin-top: 16px;
}

.relatorio_vendedor_text_header {
display: flex;
justify-self: center;
}

.relatorio_vendedor_text_header img {
align-self: center;
width: 28px;
height: auto;
margin-right: 8px;
}

.relatorio_vendedor_text_header h1 {
justify-self: center;
font-weight: 500;
color: #255e7e;
text-align: center;
font-size: 32px;
}

.relatorio_vendedor_linha_header {
  width: 95%;
  height: 5px;
  border-radius: 20px;
  background-color: #2888b1;
  border: 0;
}

/* grid principal */
.relatorio_vendedor_grid_conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 16px 0px;
  margin: 32px 64px;
  height: 100%;
}

.relatorio_vendedor_perfil_usuario h1 {
  color: #1B98E0;
  font-size: 24px;
}

.relatorio_vendedor_perfil_usuario h2 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
}

/* info */
#relatorio_vendedor_text_1 {
grid-column: 1;
grid-row: 1;
}

#relatorio_vendedor_text_2 {
grid-column: 2;
grid-row: 1;
}

#relatorio_vendedor_text_3 {
grid-column: 1;
grid-row: 3;
}

#relatorio_vendedor_text_4 {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
}

.relatorio_vendedor_localizacao {
  grid-column: 1;
  grid-row: 4;
}

.relatorio_vendedor_dados_pessoais {
  grid-column: 2;
  grid-row: 2;
}

.relatorio_vendedor_perfil_usuario {
  grid-column: 2;
  grid-row: 3 / 5;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.relatorio_vendedor_perfil_usuario img {
  width: 146px;
  height: 146px;
}

.relatorio_vendedor_text{
  display: flex;
  align-items: center;
  height: min-content;
}

.relatorio_vendedor_text img{
  margin: 0px 8px;
  width: 24px;
  height: 24px;
  align-self: center;
  justify-self: center;
}

.relatorio_vendedor_vertical {
border: none;
background-color: #1B98E0;
border-radius: 10px;
width: 10px;
height: 46px;
}

.relatorio_vendedor_text h1 {
position: relative;
font-size: 32px;
color: #2888b1;
}

/* inputs */
.relatorio_vendedor_grid_conteudo input {
height: 34px;

border: 2px #1B98E0 solid;
outline: none;
border-radius: 5px;
text-indent: 5px;
font-size: 20px;
background-color: transparent;
}

.relatorio_vendedor_grid_conteudo label {
font-size: 20px;
color: #0f3b62;
font-weight: 600;
}

/* Pesquisar Usuário */
.relatorio_vendedor_pesquisar_usuario h2 {
color: rgba(87, 149, 206, 0.60);
font-size: 20px;
max-width: 590px;
}

/* Localização */
.relatorio_vendedor_localizacao_conjunto {
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: start;
align-items: center;
column-gap: 2%;

max-width: 590px;
}

/* Dados Pessoais */
.relatorio_vendedor_dados_pessoais,
 .relatorio_vendedor_dados_pessoais_item,
 .relatorio_vendedor_localizacao_item input,
 .relatorio_vendedor_localizacao_item,
 .relatorio_vendedor_localizacao,
 .relatorio_vendedor_pesquisar_usuario_item  {
  display: flex;
  flex-direction: column;
}

.relatorio_vendedor_dados_pessoais_item input, .relatorio_vendedor_pesquisar_usuario_item input  {
max-width: 590px;
}

.relatorio_vendedor_dados_pessoais_conjunto {
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: start;
align-items: center;
column-gap: 2%;

max-width: 590px;
}

.footer_temporario_relatorio_vendedor, #relatorio_vendedor_text_header_mobile  {
display: none;
}

/* <<< MOBILE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 1024px) {
  /* NAVBAR */
  .relatorio_vendedor_nav_bar { 
    width: 100%;
    height: 67px;
    background-color: black;
  }

  /* CORPO PRINCIPAL */
  .relatorio_vendedor_body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    
    background-color: transparent;
    width: 95%;
    height: 1479px;
    border-radius: 10px;
    margin: 1.5% 2%;
    margin-top: 86px;
  }

  /* header */
  .relatorio_vendedor_header {
    position: absolute;

    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-items: center;
    
    width: 100%;
    height: 86px;
    top: -85px;
  }

  #relatorio_vendedor_text_header_mobile {
    position: absolute;
    display: block;
    display: flex;
    justify-content: start; 
    align-items: center; 

    width: 100%;
    height: 86px;
    margin-top: 336px;
  }

  .relatorio_vendedor_text_header {
    display: flex;
    justify-self: start;
  }

  .relatorio_vendedor_text_header img {
    align-self: center;
    width: 28px;
    height: auto;
    margin-right: 8px;
  }

  .relatorio_vendedor_text_header h1 {
    justify-self: center;
    font-weight: 500;
    color: #255e7e;
    text-align: center;
    font-size: 32px;
  }

  .relatorio_vendedor_linha_header {
    display: none;
  }

  /* grid principal */
  .relatorio_vendedor_grid_conteudo {
    display: grid;
    grid-template-columns: 1fr;  
    margin: 32px;
    row-gap: 4%;
  }

  .bg_mobile_1 {
    position: absolute;
    background-color: #EFF3F5;
    height: 336px;
    width: 100%;

    z-index: -1;
    border-radius: 10px;
  }

  .bg_mobile_2 {
    position: absolute;
    background-color: #EFF3F5;
    height: 1065px;
    width: 100%;

    z-index: -1;
    border-radius: 10px;
    margin-top: 422px;
  }

  #relatorio_vendedor_text_1 {
    grid-row: 1;
  }

  .relatorio_vendedor_pesquisar_usuario {
    grid-row: 2;
  }

  #relatorio_vendedor_text_2 {
    grid-row: 3;
    grid-column: 1;
    margin-top: 112px;
  }

  .relatorio_vendedor_dados_pessoais {
    grid-row: 4;
  }

  #relatorio_vendedor_text_3 {
    grid-row: 5;
  }

  .relatorio_vendedor_localizacao {
    grid-row: 6;
  }

  #relatorio_vendedor_text_4 {
    grid-row: 7;
    grid-column: 1;
  }

  .relatorio_vendedor_forms_permissoes {
    grid-row: 8;
  }

  .relatorio_vendedor_botao_salvar {
    grid-row: 9;
  }

  /* inputs */
  .relatorio_vendedor_pesquisar_usuario_item input,
  .relatorio_vendedor_dados_pessoais_item input,
  .relatorio_vendedor_dados_pessoais_conjunto,
  .relatorio_vendedor_localizacao_conjunto {
    max-width: 100%;
  }

  .relatorio_vendedor_permissoes_conjunto {
    display: flex;
    flex-direction: column;
  }

  .relatorio_vendedor_forms_item_permissoes {
    margin-bottom: 4%;
  }

  /* botão */
  .relatorio_vendedor_botao_salvar {
    margin: 0%;
    margin-top: 325px;
  }

  .relatorio_vendedor_salvar {
    width: 100%;
  }

  .footer_temporario_relatorio_vendedor {
    position: relative; 
    display: flex;
    align-items: center; 
    justify-content: center; 

    width: 100%;
    height: auto; 
    margin-top: 150px;

    overflow: hidden; 
  }

  .footer_temporario_relatorio_vendedor img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
  }

}