* {
  padding: 0;
  margin: 0;
  font-family: "Jost";
}

main {
  margin: 0;
}

select {
  cursor: pointer;
}

.input-error {
  border: 2px solid red !important;
  background-color: #ffe6e6; /* fundo clarinho vermelho */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}


.carrinho_dados_fundo {
  height: 100%;
  width: 100%;
  background-color: #dce5eb;
}

.carrinho_dados {
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.carrinho_dados_carrinho_divisoria {
  min-width: 4px;
  width: 10%;
  height: 3px;
  border: 0;
  border-radius: 4px;
  background-color: var(--carolina);
}

.carrinho_dados_carrinho_nav_item {
  display: flex;
  gap: 8px;
  align-items: center;

  img {
    height: 40px;
    width: 40px;
  }

  span {
    font-size: 24px;
    font-weight: 600;
    color: var(--carolina);
  }
}

.carrinho_dados_carrinho_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  width: 100%;
  padding: 16px 0;
}

.carrinho_dados_carrinho_nav_selected {
  filter: brightness(0.9);
}

.carrinho_dados_separador_carrinho {
  width: 95%;
  border: 0;
  background-color: var(--carolina);
  border-radius: 5px;
  height: 3px;
}

/* start nav_carrinho */
.carrinho_dados_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  width: 100%;
  padding: 16px 0;

  hr {
    min-width: 4px;
    width: 10%;
    height: 3px;
    border: 0;
    border-radius: 4px;
    background-color: var(--carolina);
  }
}

.carrinho_dados_nav_item{
  display: flex;
  gap: 8px;
  align-items: center;

  img{
    height: 40px;
    width: 40px;
  }

  span{
    font-size: 24px;
    font-weight: 600;
    color: var(--cinza);
  }
}

.carrinho_dados_nav_selected{
  filter: brightness(0.9);

  span {
    color: var(--carolina);
  }
}
  
/* end nav_carrinho */
.carrinho_dados_forms_dados {
  width: 90%;
  background-color: var(--mob_branco);
  border-radius: 10px;
  height: 880px;
}

.carrinho_dados_main_container_carrinho_dados {
  display: grid;
  align-items: center;
  justify-items: center;
}

.carrinho_dados_container_forms {
  position: relative;
  margin-top: 16px;
  display: grid;
  column-gap: 5%;
  row-gap: 3%;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  align-items: start;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.carrinho_dados_main_text_carrinho_dados {
  color: #247ba0;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1%;
}

.carrinho_dados_forms_carrinho {
  grid-row: 1;
  color: #0f3b62;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: grid;
  max-width: 100%;
  width: 100%;
}

.carrinho_dados_forms_carrinho input {
  grid-column: 1;
}

.carrinho_dados_informacoes_cep input {
  width: 100%;
}

.carrinho_dados_informacoes_cep {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

.carrinho_dados_cep {
  grid-column: 1;
  grid-row: 1;
}

#cep {
  grid-column: 1;
  grid-row: 2;
}

.carrinho_dados_cidade {
  grid-column: 2;
  grid-row: 1;
}

#cidade {
  grid-column: 2;
  grid-row: 2;
}

.carrinho_dados_botoes_carrinho {
  grid-column: 1;
  grid-row: 2;
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10%;
}

.carrinho_dados_avançar_carrinho,
.carrinho_dados_salvar_carrinho {
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  border: none;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background: #1b98e0;
}

.carrinho_dados_avançar_carrinho {
  justify-self: right;
}

.carrinho_dados_informacoes_salvas {
  width: 100%;
}

.carrinho_dados_enderecos_salvos_main {
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 3%;
}

.carrinho_dados_carrinho_dados_linha {
  background: transparent;
  border: 4px var(--carolina) solid;
  border-radius: 20px;
  height: 48px;
}

.carrinho_dados_enderecos_salvos_main_text {
  color: #247ba0;
  text-align: center;
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.carrinho_dados_enderecos_salvos_container {
  width: 100%;
  height: 600px;
  overflow-y: auto;
  background-color: var(--branco_gelo);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  padding: 16px;
}

.carrinho_dados_info_container {
  width: 100%;
  background-color: var(--azul_leve);
  padding: 2%;
  border-radius: 5px;
  display: flex;
  column-gap: 2%;
  align-items: center;
  cursor: pointer;
}

.base_radio {
  border: 2px solid var(--carolina) !important;
}
.base_radio:checked::after {
  background-color: var(--carolina) !important;
}
.base_radio:focus-visible {
  outline: 2px solid var(--carolina) !important;
}

.carrinho_dados_endereco_info_adicional {
  color: var(--cinza);
}

.carrinho_dados_text_info {
  display: flex;
  width: 100%;
}

.carrinho_dados_botoes_info {
  display: flex;
  gap: 8px;
  margin-left: auto;
  justify-self: right;
}

.carrinho_dados_edit_info,
.carrinho_dados_remove_info {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .carrinho_dados_forms_dados {
    height: 1460px;
  }

  .carrinho_dados_container_forms {
    grid-template-columns: 1fr;
  }

  .carrinho_dados_informacoes_salvas {
    grid-column: 1;
    grid-row: 1;
  }

  .carrinho_dados_forms_carrinho {
    grid-column: 1;
    grid-row: 3;
  }

  .carrinho_dados_avançar_carrinho {
    grid-column: 1;
    grid-row: 2;
  }

  .carrinho_dados_botoes_carrinho {
    grid-column: 1;
    grid-row: 4;
  }

  .carrinho_dados_enderecos_salvos_container {
    height: 400px;
  }

  .carrinho_dados_botoes_carrinho {
    flex-direction: column;
    gap: 8px;
  }

  .carrinho_dados_avançar_carrinho {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .carrinho_dados_nav {
    display: none;
  }

  .carrinho_dados_forms_dados {
    margin-top: 72px;
  }
}

@media (max-width: 375px) {
  .carrinho_dados_forms_dados {
    height: 1480px;
  }
}