main {
  margin: 0;
}

/* start nav_carrinho */
.carrinho_pagamentos_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  width: 100%;
  padding: 16px 0;

  hr {
    min-width: 4px;
    width: 10%;
    height: 3px;
    border: 0;
    border-radius: 4px;
    background-color: var(--carolina);
  }
}

.carrinho_pagamentos_nav_item{
  display: flex;
  gap: 8px;
  align-items: center;

  img{
    height: 40px;
    width: 40px;
  }

  span{
    font-size: 24px;
    font-weight: 600;
    color: var(--cinza);
  }
}

.carrinho_pagamentos_nav_selected{
  filter: brightness(0.9);

  span {
    color: var(--carolina);
  }
}
  
/* end nav_carrinho */
.carrinho_pagamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  margin: auto;
}

.container_whats {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  justify-self: center;
  justify-content: center;

  border-radius: 10px;
  padding: 32px;
  row-gap: 16px;
  width: 550px;
  background-color: var(--mob_branco);

  p {
    color: var(--celadon);
    text-align: center;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  a {
    color: var(--carolina);
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
  }
}

.carrinho_top {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1%;
  width: 100%;
  margin-bottom: 50px;
}

.botao_whats {
  border: none;
  color: white;
  background: #128c7f;
}

.botoes_content {
  display: flex;
  gap: 25%;
  justify-content: center;
  align-content: center;
}

hr {
  width: 500px;
  height: 5px;
  background: rgba(0, 0, 0, 0.05);
}