* {
  margin: 0;
  padding: 0;
  font-family: "Jost";
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  height: 100%;
}

.popup_container {
  width: 100vw;
  height: 100vh;
  background-color: #0000002d;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  max-width: 760px;
  width: 90%;
  max-height: 440px;
  height: 100%;
  background-color: #fff;
  border: #0000005d solid 1px;
  border-radius: 20px;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
}

.text_popup {
  display: flex;
  column-gap: 2%;
}

.text_popup>h1 {
  color: var(--celadon);
}

.text_popup>div {
  display: flex;
  width: 65%;
  justify-content: flex-end;
}

.fechar {
  width: 50px;
  height: 50px;
  font-size: 32px;
  font-weight: 600;
  color: var(--carolina);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.forms_redes_sociais {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.forms_redes_sociais>button {
  grid-column: 1/3;
  grid-row: 4;
  margin-top: 1%;
}

.forms_redes_sociais>p {
  grid-row: 3;
  margin-top: 7%;
  font-weight: 600;
  color: var(--cinza);
}

.forms_redes_sociais>div {
  display: grid;
  row-gap: 2%;
}

.forms_redes_sociais>div>label {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  column-gap: 3%;
  color: var(--cinza);
}

.forms_redes_sociais>div>label>img {
  width: 30px;
  height: 30px;
}

.quadrado_cliente {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  justify-self: center;
  background-color: #eff3f5;
  border-radius: 10px;
}

.title_mobile {
  display: none;
}

.title {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  width: 95%;
  padding-top: 1%;
}

.title_text {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1%;
  width: 100%;
}

.title_main_text {
  text-transform: uppercase;
  color: var(--sappire);
}

.linha_title {
  width: 95%;
  height: 5px;
  border-radius: 20px;
  background-color: #2888b1;
  border: 0;
}

.mini_perfil_cliente {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  left: 7%;
  top: 8%;
  width: 90%;
  height: 750px;
  background: var(--azul_leve);
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;

  grid-template-rows: 200px 193px 4px 150px min-content;
  grid-template-columns: 100%;
}

.separador_mini_perfil {
  width: 95%;
  height: 4px;
  border-radius: 20px;
  background: #4a4a4a;
  border: 0;
}

.banner_cliente {
  grid-column: 1;
  grid-row: 1;
  z-index: 0;

  width: 100%;
  height: 100%;
}

.pfp_cliente {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  position: relative;
  top: 90px;
  justify-self: center;
  align-self: center;
}

.infos_container {
  position: relative;
  top: calc(15%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 16px;
  column-gap: 20px;
}

.nome_cliente {
  grid-row: 1;
  grid-column: 2;
  color: #000;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  /* 18px */
  justify-content: center;
}

.produtos_cliente,
.avaliacao_cliente,
.tempo_cliente,
.localizacao_cliente {
  color: var(--sappire);
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  /* 11.7px */
}

.tempo_cliente_container,
.produtos_cliente_container,
.avaliacao_cliente_container,
.localizacao_cliente_container {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 5px;

  height: 24px;
  text-align: center;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
  }
}

.produtos_cliente_container {
  grid-column: 1;
  grid-row: 2;
}

.avaliacao_cliente_container {
  grid-column: 2;
  grid-row: 2;
}

.tempo_cliente_container {
  grid-column: 3;
  grid-row: 2;
}

.localizacao_cliente_container {
  grid-column: 2;
  grid-row: 3;
}

.sobre_nos_cliente {
  grid-column: 1;
  grid-row: 1;
  color: var(--sappire);
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  position: relative;
  left: 4%;
  align-self: center;
}

.about_container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  position: relative;
  padding: 2%;
  text-justify: auto;
  row-gap: 5%;
}

.icon_about_us {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.text_about {
  color: #000;
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  grid-row: 2;
  max-width: 760px;
  width: 100%;
}

.contatos_container {
  width: 100%;
}

.main_text_contatos {
  color: #000;
  font-family: Jost;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  grid-row: 1;
  grid-column: 1;
  position: relative;
  left: 45%;
}

.icon_contatos_cliente {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  left: 35%;
}

.contatos_cliente {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 16px;
  column-gap: 16px;
  margin: 0 24px;
}

.icon_instagram_cliente {
  grid-column: 1;
}

.instagram_cliente {
  grid-column: 2;
}

.icon_facebook_cliente {
  grid-column: 4;
}

.facebook_cliente {
  grid-column: 5;
}

.linha_vertical_mini {
  width: 4px;
  height: 53px;
  border: 0;
  border-radius: 20px;
  background-color: var(--carolina);
  margin-left: 50px;
  margin-right: 50px;
}

.contatos_cliente a {
  color: var(--sappire);
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 2;
  grid-row: 2/3;

  width: 85%;
  margin: 8% 5% 0 5%;
  row-gap: 25px;
}

.forms input,
.forms textarea {
  width: 100%;
}

#descricao {
  resize: none;
}

.forms_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.forms_container label {
  color: var(--cinza);
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.forms_container textarea {
  height: 200px;
}

.nome_cliente_forms {
  grid-column: 1;
  grid-row: 2;
}

.forms_inner_container {
  display: grid;
  width: 100%;
}

.inner {
  grid-row: 1;
}

.botoes_redefinir {
  display: flex;
  width: 100%;
  column-gap: 24px;
}

.redefinir_senha_cliente,
.trocar_email_cliente {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.main_text_redes {
  color: var(--celadon);
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.redes_text {
  display: flex;
  align-items: center;
  column-gap: 3%;
}

.linha_vertical {
  width: 8px;
  height: 48px;
  border: 0;
  border-radius: 10px;
  background-color: var(--carolina);
}

.redes_div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  img {
    height: 24px;
  }
}

.redes_sociais_cliente {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.rede_social {
  max-width: 100%;
  display: flex;
  gap: 4px;
  img {
    height: 24px;
  }
}

.redes_edit {
  display: grid;
  column-gap: 16px;
  row-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.link_rede {
  color: var(--carolina);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.link_facebook {
  color: var(--carolina);
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.botao_edit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  background: #1b98e0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.botao_edit img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.text_editar {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.edit_foto {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  justify-self: center;
  margin-left: 5%;
}

.text_pfp {
  grid-column: 1;
  grid-row: 1;
  color: var(--celadon);
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn_foto {
  grid-column: 1;
  grid-row: 2;
}

#imgPreviewFoto {
  width: 148px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
}




.text_banner {
  color: var(--celadon);
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.img_container {
  width: 400px;
  width: 100%;
  height: 200px;
  background-color: var(--azul_leve);
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.warn {
  color: var(--cinza);
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.foto_container,
.banner_container {
  row-gap: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.banner_cliente_forms {
  max-width: 300px;
  width: 100%;
  height: 150px;
}

.banner_text,
.foto_text {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 5%;
  width: 100%;
}

.destaques {
  display: flex;
  flex-direction: column;
  grid-row: 4;
  grid-column: 1/3;
  margin-left: 4%;
  row-gap: 20px;
  margin-top: 2%;
}

.icon_destaques_cliente {
  width: 24px;
  height: 24px;
}

.destaques_text {
  display: flex;
  align-items: center;
  column-gap: 1%;
}

.destaques_main_text {
  font-size: 24px;
  font-weight: 600;
  color: var(--celadon);
}

.destaques_container {
  background-color: var(--azul_leve);
  padding: 16px;
  width: 94%;
  border-radius: 5px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  justify-content: space-around;
}

.destaques_num {
  color: var(--cinza);
  font-size: 24px;
  font-weight: 500;
  text-align: right;
  position: relative;
  right: 1%;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/3;
  column-gap: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.salvar {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 300px;
  font-size: 1.25rem;
  /* 20px */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  background-color: #1b98e0;
  color: #fff;
  text-transform: uppercase;
}

.cancelar {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 300px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--vermelho);
  color: var(--vermelho);
  text-transform: uppercase;
}

.index_body_produto_card {
  border: 1px solid rgba(206, 206, 206, 0.5);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 4px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9fc;
  border-radius: 5px;
  justify-content: space-between;
  margin: 10px;

  img {
    width: 100%;
    height: auto;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.index_body_desconto {
  position: absolute;
  top: 8px;
  right: 0;
  width: 80px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="20" viewBox="0 0 80 20" fill="none"><path d="M0 0H80V20H0L17.3359 10L0 0Z" fill="%23006494"/></svg>') no-repeat;
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-right: 4px;
}

.index_body_estrela_valor {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.index_body_estrela_produto {
  display: flex;
  align-items: center;

  p {
    background: linear-gradient(90deg, #ffd600 80%, #989898 81%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  h4 {
    font-size: 12px;
    font-weight: 500;
  }
}

.index_body_valor_produto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    font-weight: 700;
  }
}

#indexBodyValorAntigo {
  color: #00000080;
  filter: opacity(50%);
  font-size: 12px;
  text-decoration-line: line-through;
}

#indexBodyValorProduto {
  color: #ff7a00;
  font-size: 16px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  cursor: pointer;
  height: 125px;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  body {
    margin-top: 150px !important;
  }

  .popup {
    padding: 2.5%;
  }

  .quadrado_cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 95%;
    row-gap: 25px;
  }

  .mini_perfil_cliente {
    position: static;
    margin-top: 6%;
    grid-row: 1;
    grid-column: 1;
  }

  .forms_container {
    justify-self: center;
    max-width: none;
    width: 95%;
  }

  .forms {
    margin-top: 5%;
    margin-left: 9%;
    width: 100%;
  }

  .forms_container input,
  .forms_container textarea {
    max-width: none;
    width: 100%;
  }

  .botoes_redefinir {
    flex-direction: column;
    width: 96%;
    row-gap: 8px;
  }

  .redes_sociais_cliente {
    width: 95%;
  }

  .pfp_cliente {
    left: calc(48% - (826px / 2));
    top: calc(100% - (300px / 2));
  }

  .redes_text,
  .foto_text,
  .banner_text {
    column-gap: 3%;
  }

  .icon_destaques_cliente,
  .destaques_main_text {
    position: relative;
    left: 2%;
  }

  .destaques {
    width: 96%;
    margin: 0;
  }

  .botao_edit {
    width: 100%;
  }

  .edit_foto {
    width: 100%;
    grid-template-columns: 96%;
    grid-template-rows: max-content max-content;
    margin-left: 0;
  }

  .foto_container,
  .foto_text,
  .img_container,
  .warn {
    width: 100%;
  }

  .foto_container,
  .banner_container {
    grid-template-columns: 100%;
  }

  .botoes {
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
  }

  .salvar,
  .cancelar {
    width: 90%;
  }

  .destaques_container {
    width: 100%;
  }

  .banner_cliente_forms {
    width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    margin-top: 150px !important;
  }

  .text_popup>div {
    width: 64%;
  }

  .title {
    display: none;
  }

  .title_mobile {
    display: flex;
    margin-bottom: 20px;
    margin-left: 25px;
  }

  .title_text {
    align-items: center;
    justify-content: left;
  }

  .title_mobile {
    margin-left: 20px;
    margin-bottom: 25px;
  }

  .pfp_cliente {
    left: 0;
  }

  .mini_perfil_cliente {
    grid-template-rows: repeat(5, min-content);
    height: 720px;
  }

  .pfp_cliente {
    top: 50%;
    width: 140px;
  }

  .pfp_cliente {
    left: calc(63.5% - (826px / 2));
    top: calc(130% - (300px / 2));
  }

  .infos_container {
    column-gap: 0;
  }

  .nome_cliente {
    margin-top: 10%;
    grid-column: 1 / 4;
    position: relative;
    right: 4%;
  }

  .about_container {
    margin-top: 5%;
  }

  .separador_mini_perfil {
    margin-top: 10%;
    width: 90%;
  }

  .sobre_nos_cliente {
    left: 5%;
  }

  .linha_vertical_mini {
    margin-right: 10px;
    margin-left: 10px;
  }

  .contatos_container {
    margin-top: 5%;
  }

  .text_about {
    width: 90%;
  }

  .about_container {
    left: 5%;
  }

  .destaques_container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }

  .add {
    margin-left: 5%;
    margin-bottom: 5%;
  }
}

@media (max-width: 425px) {
  body {
    margin-top: 150px !important;
  }

  .popup {
    max-height: none;
    height: 70%;
    border-radius: 10px;
    padding: 3%;
    row-gap: 2%;
  }

  .text_popup>div {
    width: 39%;
  }
  
  .forms_redes_sociais>div{
    row-gap: 0;
  }

  .forms_redes_sociais>div>label {
    column-gap: 1%;
  }
  
  .forms_redes_sociais {
    grid-template-columns: 100%;
  }

  .forms_redes_sociais>button {
    grid-column: 1;
  }
  
  .forms_redes_sociais>p {
    margin-top: 0;
  }

  .title {
    margin-bottom: 5px;
  }

  .mini_perfil_cliente {
    grid-template-rows: repeat(5, min-content);
    height: 650px;
  }

  .pfp_cliente {
    top: 50%;
    width: 100px;
  }

  .pfp_cliente {
    left: calc(110% - (826px / 2));
    top: calc(210% - (300px / 2));
  }

  .infos_container {
    column-gap: 0;
    left: 0;
  }

  .nome_cliente {
    margin-top: 10%;
    grid-column: 1 / 3;
  }

  .about_container {
    margin-top: 5%;
  }

  .separador_mini_perfil {
    margin-top: 10%;
  }

  .sobre_nos_cliente {
    left: 9%;
  }

  .linha_vertical_mini {
    margin-right: 10px;
    margin-left: 10px;
  }

  .contatos_container {
    margin-top: 10%;
  }

  .tempo_cliente_container {
    grid-column: 2;
    grid-row: 3;
  }

  .localizacao_cliente_container {
    grid-column: 1;
  }

  .redefinir_email_cliente,
  .redefinir_senha_cliente {
    font-size: 16px;
  }

  .destaques_container {
    grid-template-columns: 1fr 1fr;
  }
}