body {
  background-color: var(--branco_gelo);
}

.produto_main_container {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* start grid_produto */
.grid_produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 24px;
  column-gap: 32px;
  padding: 16px 180px;
  justify-items: center;
  align-items: center;
  width: 100%;
}


.grid_produto_image {
  grid-column: 1;
  grid-row: 2;
}

.grid_produto_info_bg {
  grid-column: 2;
  grid-row: 2;
}

.descricao_produto_item1 {
  grid-column: 2;
  grid-row: 3;
}

.consultar_frete {
  justify-self: end;
  grid-column: 2;
  grid-row: 3;
}

.div_produto_valor {
  width: 100%;
}

/* start grid_nome_vendor */
.grid_nome_vendedor {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #d9d9d94d;
  width: 100%;
  min-height: 96px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 8px;
}

.produto_img_vendedor {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100%;
}

.imagem_nome_vendedor {
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem_nome_vendedor img {
  width: auto;
  height: 80px;
  aspect-ratio: 1 / 1;
}

.nome_vendedor {
  display: flex;
  flex-direction: column;
}

.nome_vendedor h1 {
  grid-area: 1 / 1 / 1 / 3;
  text-align: justify;
  font-size: 20px;
}

.nome_vendedor h2 {
  text-align: start;
  font-size: 16px;
  display: flex;
  gap: 4px;
}

.avaliacao_vendedor {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  border-left: 2px black solid;
}

.vendedor_rating {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.vendedor_rating_avaliacao {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.vendedor_estrelas {
  max-width: fit-content;
  font-size: 24px !important;
  background: var(--cinza);
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.estrelas-0 {
  background: #989898;
}

.estrelas-1 {
  background: linear-gradient(90deg, #247BA0 20%, #989898 20% 100%);
}

.estrelas-2 {
  background: linear-gradient(90deg, #247BA0 40%, #989898 40% 100%);
}

.estrelas-3 {
  background: linear-gradient(90deg, #247BA0 60%, #989898 60% 100%);
}

.estrelas-4 {
  background: linear-gradient(90deg, #247BA0 80%, #989898 80% 100%);
}

.estrelas-5 {
  background: linear-gradient(90deg, #247BA0 100%, #989898 0%);
}

.avaliacao_vendedor img {
  width: 90px;
  align-self: center;
  justify-self: end;
  margin-right: 10px;
}

.linha_comentario {
  width: 100%;
  height: 2px;
  background-color: var(--cinza);
  filter: opacity(.3);
  outline: none;
  border: none;
  border-radius: 5px;
}

.avaliacao_vendedor h2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.sem_avaliacoes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.btn-ver-mais {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .base_botao {
    padding: 0 16px;
  }
}

.avaliacao_vendedor h1 {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 16px;
}

.avaliacao_vendedor h2,
h1,
h3 {
  font-weight: 600;
  text-align: start;
  width: 100%;

}

.avaliacao_vendedor h3 {
  font-size: 16px;
  text-align: end;
}

/* end grid_nome_vendedor */

/* start grid_scroll */
.grid_scroll {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 16px;

  .images_scroll div {
    transition: transform .3s ease;
  }

  .images_scroll div:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.images_scroll {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.imagem_selecionada {
  outline: 2px var(--carolina) solid !important;
  border-radius: 5px;
  :hover {
    cursor: pointer;
  }

  & img {
    background-color: white;
    scale: 1.1;
  }
}

.produto_image {
  width: auto;
  height: 100%;
  min-height: 420px;
  max-width: 420px;
  padding: 16px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
}


.images_scroll div {
  width: 68px;
  height: 68px;
  aspect-ratio: 1 / 1;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 4px;

}

.images_scroll img {
  height: 100%;
  max-width: 100%;
  border-radius: 5px;
  background-color: white;
  border: none;
}

.foward {
  rotate: 180deg;
}

.icon_scroll {
  width: 32px;
  height: 32px;
  aspect-ratio: 1 / 1;

  img {
    width: 32px;
    height: 32px;
  }

}

/* end grid_scroll */

/* start grid_produto_image */
.grid_produto_image {
  width: 100%;
  height: 100%;
  max-height: 420px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.produto_image img {
  height: 100%;
  width: auto;
  max-width: 100%;

}

.outer {
  max-width: 806px;
}

.registro_produto_imagens {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  background: var(--branco_gelo);
  width: 100%;
  height: 160px;
  padding: 16px;
  gap: 16px;
  border-radius: 5px;
  overflow-y: auto;

  & > button {
    width: fit-content;
    height: fit-content;
    max-height: 128px;
    border: none;
    aspect-ratio: 1 / 1;
    display: flex;
    position: relative;
    &:hover {
      cursor: pointer;
      transition: all .3s ease;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: red;
        position: absolute;
        opacity: 0.5;
      }
      &::after {
        content: '';
        width: 32px; /* Ajuste conforme necessário */
        height: 32px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTIwIDZhMSAxIDAgMCAxIC4xMTcgMS45OTNMMjAgOGgtLjA4MUwxOSAxOWEzIDMgMCAwIDEtMi44MjQgMi45OTVMMTYgMjJIOGMtMS41OTggMC0yLjkwNC0xLjI0OS0yLjk5Mi0yLjc1bC0uMDA1LS4xNjdMNC4wOCA4SDRhMSAxIDAgMCAxLS4xMTctMS45OTNMNCA2em0tNi00YTIgMiAwIDAgMSAyIDJhMSAxIDAgMCAxLTEuOTkzLjExN0wxNCA0aC00bC0uMDA3LjExN0ExIDEgMCAwIDEgOCA0YTIgMiAwIDAgMSAxLjg1LTEuOTk1TDEwIDJ6Ii8+PC9zdmc+');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
      }
    }
    
  }

  & > button > img {
    max-width: 100%;
    background: transparent;
    border: 2px dashed var(--cinza);
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
  }
}

#formAvaliacao {
  position: relative;
}

.btn_submit {
  position: absolute !important;
  bottom: 0;
  right: 0;
  width: 280px;
}

.contador {
  justify-content: flex-end;  
  display: flex;
  flex-direction: row !important;
  margin: 4px 0;
}

#info-image {
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: var(--cinza);
}

.base_botao {
  position: relative;
  #input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.ultra_blue_produto_image {
  position: absolute;
  top: 0%;
  left: 80.5%;
  width: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ultra_blue_produto_image1,
.ultra_blue_produto_image2 {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: auto;
}

.ultra_blue_produto_image2 {
  z-index: 1;
  left: 45px;
  top: 14px;
}

/* end grid_produto_image */

/* start grid_produto_info_bg */
.grid_produto_info_bg {
  display: flex;
  background-color: white;
  align-self: baseline;
  width: 100%;
  max-width: 749px;
  height: 420px;
  padding: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.grid_produto_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}


.produto_info_nome h1 {
  font-size: 32px;
  color: var(--sappire);
}

.produto_info_nome h2 {
  background-color: #0f3b62;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 6px;
  margin-top: 2%;
  margin-bottom: 21%;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.produto_info_time {
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 15px;
  background: #000;
  color: white;
  width: 721px;
  height: 109px;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  margin: 0 auto;
}

.produto_info_time img {
  width: 160;
  height: 60px;
  margin-right: 20px;
}

.produto_info_time h1 {
  font-size: 15px;
}

.grid_produto_time {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin-right: 10%;
}

.grid_produto_time h1,
.grid_produto_time h3 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid_produto_time h1 {
  font-size: 50px;
}

.grid_produto_time h3 {
  font-size: 12px;
}

.produto_info_text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.produto_title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.produto_info_text h2 a,
.produto_info_text h2 {
  font-weight: 600;
  font-size: 16px;
  color: var(--cinza);

  b {
    text-decoration: underline;
    color: var(--carolina);
  }
}

.produto_info_text h3,
.produto_info_text h3 {
  font-size: 16px;
  text-decoration: underline;
  color: var(--cinza);
  width: fit-content;

}

.produto_info_text h3 {
  border-left: 2px var(--cinza) solid;
  padding-left: 8px;
}

.grid_produto_info_valor {
  display: flex;
  align-items: baseline;
  height: fit-content;
  background-color: #d9d9d94d;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.produto_info_valor {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
}

.produto_bandeira {
  display: flex;
  flex-direction: column;
  background-image: url('../../image/geral/icons/bandeira_icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  justify-content: start;
  padding-top: 8px;
  aspect-ratio: 17 / 21;
  grid-area: 1 / 2 / 3 / 3;
  align-items: center;

  h3 {
    text-align: center;
    width: fit-content;
  }

}


.produto_info_valor h1 {
  font-size: 32px;
  font-weight: 600;
  color: black;
}

.produto_info_valor h2 {
  font-size: 24px;
  color: var(--carolina);
  text-decoration: line-through;
}

.produto_info_valor h3 {
  color: #ffffff;
  font-size: 16px;
  text-align: justify;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.produto_info_text2 {
  display: flex;
  flex-direction: column;
}

.produto_info_text2 h1 {
  font-size: 16px;
  color: black;
}

.produto_info_text2 h2 {
  font-size: 16px;
  color: #666;
  max-width: 100%;
  word-wrap: break-word;
}

.produto_info_text2 a {
  font-size: 16px;
  color: #666;
  display: inline-block;
  margin-top: 8px;
  text-decoration: underline;
  cursor: pointer;
}

.grid_produto_info_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.comprar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  font-size: 20px;
  color: #fff;
  background-color: #1b98e0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.comprar_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  font-size: 20px;
  color: #1b98e0;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #1b98e0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

/* end grid_produto_info_bg */

.descricao_produto_item1 h1 {
  font-size: 20px;
  margin-top: 12%;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px black solid;
}

/* start consultar_fetre_cupom */
.grid_consultar_frete_cupom {
  display: flex;
  justify-content: flex-end;
  justify-self: center;
  width: 100%;
  gap: 16px;
}


/* end consultar_fetre_cupom */



/* end grid_produto */

/* start grid_descricao_produto */
.retangle1 {
  width: 100%;
  height: 52px;
  background: #d7e8ea;
  position: relative;
  top: 100px;
}

.line_top {
  width: 100%;
  height: 0;
  border: 2px solid var(--cinza);
  border-radius: 20px;
  margin: 24px 0;
}

.retangle2 {
  width: 100%;
  height: 52px;
  background: #d7e8ea;
  position: relative;
  top: 20px;
}

.grid_descricao_produto {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 180px;
  p {
    margin: 0.75rem 0;
    font-size: 1rem;
    color: #333;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--sappire);
    margin: 1.5rem 0 1rem;
    font-weight: 600;
  }

  *, p {
    font-size: 24px;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  ul > * {
    list-style: disc outside !important;
    padding-left: 2rem;
    margin: 1rem 0;

    li {
      display: list-item;
      margin-left: 1rem;
      padding-left: 0.5rem;
    }
  }

  ol > * {
    list-style: decimal outside !important;
    padding-left: 2rem;
    margin: 1rem 0;

    li {
      display: list-item;
      margin-left: 1rem;
      padding-left: 0.5rem;
    }
  }
}

.bullet-list, .ordered-list {
    margin-left: 32px;
  }

.grid_descricao_produto a {
  color: #006494;
  text-decoration: none;
  transition: transform 0.3s ease, filter 0.3s ease;
}


.grid_descricao_produto {
  p {
  
    a {
      text-decoration: none;
      color: #006494;
      transition: filter 0.3s ease;
    }


    &:has(a):hover {
      cursor: pointer;
      transform: translateX(8px);
    }
  }
}


.descricao_produto_item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: auto;
  align-items: center;
}

.descricao_produto_item img {
  width: auto;
  height: 32px;
}

.descricao_produto_item h1 {
  font-size: 32px;
  color: var(--sappire);
}

/* end grid_descricao_produto */

/* start grid_avaliacao_produto */
.grid_avaliacao_produto {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  top: 50px;
  padding: 0%;
}

.avaliacao_produto_bg {
  margin-top: 24px;
  background-color: #D7E8EA;
  width: 100%;
}

/* Consultar inputs */
.grid_consultar_fetre_cupom {
  max-width: 749px;
}

.consultar_frete,
.consultar_cupom {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  width: 50%;

  h1 {
    font-size: 24px;
    color: var(--cinza);
  }
}

.consultar_input {
  display: flex;
  flex-direction: row;
  width: 100%;

  input {
    width: 100%;
    border-radius: 5px 0 0 5px;
  }

  button {
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
    min-width: 40px;
    max-width: 40px;
  }
}

.grid_avaliacao_produto {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  top: 50px;
}

.descricao_produto_item {
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: center;
}

.avaliacao_produto_bg {
  display: flex;
  padding: 24px 16px;
  gap: 24px;
  background-color: #D7E8EA;
  align-items: center;
  height: fit-content;
  border-radius: 5px;
  justify-content: center;
}

.grid_estrelas_avaliacao_produto {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 16px;
}

.estrelas_avaliacao_produto {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(5, auto);
}

.estrelas_avaliacao_produto h1 {
  color: var(--sappire);
  font-size: 64px;
  margin: 0;
}

.estrelas_avaliacao_produto .vendedor_estrelas {
  font-size: 64px !important;
}

.grid_retangulos_avaliacao_produto {
  display: flex;
  justify-content: flex-end;
}

.retangulos_avaliacao_produto {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.retangulos_avaliacao_produto {
  p {
    color: var(--sappire);
    margin: 0;
    font-size: 16px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }


  button {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    border: none;
    transition: transform .3s ease, background-color .3s ease;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: var(--sappire);

      p {
        color: white;
      }
    }
  }
}

/* end grid_avaliacao_produto */
.avaliar_produto_descricao {
  margin-left: 9%;
}

.form_avaliacao_container {
  width: 81%;
  margin: 20px auto;
  padding: 30px;
  background-color: #D7E8EA;
  border-radius: 10px;

  h2 {
    font-size: 24px;
    color: #003366;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  label {
    color: var(--cinza);
    font-size: 22px;
  }

  textarea {
    width: 100%;
    height: 20px;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    font-family: Arial, sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    resize: none;
    outline: none;
    transition: border-color 0.3s;
    color: #000;
    overflow: hidden;
    box-sizing: border-box;
  }

  textarea::placeholder {
    color: #888;
  }

  textarea:focus {
    border-bottom: 2px solid #065fd4;
  }

}

.avaliacao_container_campos {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 4%;

  div {
    display: flex;
    flex-direction: column;
  }

  /* button {
    grid-column: 2;
    grid-row: 3;
    width: auto;
    justify-self: end;
    padding: 0 8px;
  } */
}

/* start avaliação_usuario */


/* end avaliação_usuario */
/* start grid_comentarios_usuarios */
.grid_comentarios_usuarios {
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 40px;
  padding: 16px 180px;
  width: 100%;
}

.grid_comentario_user {
  display: grid;
  grid-template-columns: 1fr;

  text-align: start;
  justify-content: center;
  align-items: flex-start;
  
}

.comentario_usuario {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
}

.icon_user {
  width: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.grid_user {
  display: flex;
  flex-direction: column;
  width: 100%;

  img {
    width: 80px;
    height: 100%;
  }

  div {
    align-items: center;
  }
}

.cliente_nome_pic {
  display: flex;
  flex-direction: row;
  gap: 8px;

  h1 {
    font-size: 24px;
  }

  div {
    width: 140px;
  }
}

textarea {
  width: 100%;

}

.grid_user {
  &>.estrelas_avaliacao_produto {
    &>.vendedor_estrelas {
      font-size: 24px !important;
    }
  }
}

.estrelas_user img {
  margin-top: 50px;
  width: 35px;
  height: 35px;
}

.grid_comentario_user {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
}

.grid_comentario_user h2 {
  font-size: 16px;
}

.avaliacao_user_item1,
.avaliacao_user_item2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;

  h2,
  h3 {
    width: fit-content;
  }
}

.avaliacao_user_item1 h3,
.avaliacao_user_item2 h3 {
  color: var(--sappire);
  font-size: 16px;
}

.grid_images_user {
  display: flex;
  flex-direction: row;
  gap: 24px;
  position: relative;
}

.grid_images_user img {
  width: auto;
  height: 100%;
  max-height: 150px;
  object-fit: contain;
  border: 2px var(--cinza) dotted;
}

.image1_user {
  aspect-ratio: 1 / 1;
  display: flex;
  height: 150px;
  flex-direction: column;
  width: fit-content;
  position: relative;
  background-color: white;
}

.div_video {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4px;
  align-items: center;
  font-weight: 500;
  color: var(--branco_gelo);

  img {
    border: none !important;
  }
}

.produto_comentario {
  font-weight: 500 !important;
}

/* end grid_comentarios_usuarios */

.rating {
  display: inline-block;
  opacity: 1;
}

.rating input {
  display: none;
  opacity: 1;
}

.rating label {
  float: right;
  position: relative;
  left: -15px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
  transition: color 0.3s;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: var(--carolina);
  transform: scale(1.2);
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  animation: bounce 0.5s ease-in-out alternate;
}

@keyframes bounce {
  to {
    transform: scale(1.3);
  }
}


@media (max-width: 1200px) {
  .bullet-list, .ordered-list {
    margin-left: 32px;
  }

  .grid_produto,
  .grid_comentarios_usuarios {
    padding: 16px;
  }

  .grid_descricao_produto {
    padding: 0 16px;
  }
}

@media (max-width: 880px) {
  .produto_image  {
    min-width: auto;
    min-height: auto;
  }
  .grid_produto {
    grid-template-columns: 1fr;

    * {
      grid-area: auto;
    }
  }

  .grid_nome_vendedor {
    grid-row: 4;
  }

  .grid_scroll {
    grid-row: 2;
  }

  .grid_produto_info_bg {
    width: 100%;
    height: fit-content;
    max-width: none;
    box-shadow: none;
  }

  .grid_produto_info_bg {
    padding: 0;
    background-color: transparent;
  }

  .grid_produto_info {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 16px;
  }

  .produto_info_valor {
    grid-template-columns: auto;
    position: relative;
    padding: 0;
  }

  .produto_bandeira {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 3px;
    width: fit-content;
    height: fit-content;

    h3 {
      text-align: center;
      line-height: 1.2;
      font-size: 16px;
    }
  }

  .grid_produto_info_valor {
    background-color: transparent;
    padding: 0;
  }

  .div_produto_valor {
    grid-row: 1;
  }

  .produto_info_nome {
    position: absolute;
    top: 0;
  }

  .grid_produto {
    padding-top: 48px;
  }

  .produto_info_text {

    h2,
    h3 {
      width: fit-content;
    }
  }

  .grid_produto_info_button {
    display: flex;
    flex-direction: column;

    .base_botao {
      width: 100%;
    }
  }

  .grid_consultar_frete_cupom {
    max-width: none;
  }

  .icon_scroll {
    display: none;
    visibility: hidden;
  }

  .grid_scroll {
    width: 100%;
  }

  .images_scroll {
    justify-content: center;
    width: 100%;
    gap: 16px;
    height: 24px;
    align-items: center;
    display: flex;

    div {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      width: 16px;
      height: 16px;
      transition: all 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--cinza);
        pointer-events: none;
        z-index: 1;
        transition: background-color 0.3s ease;
      }

      img {
        width: 0%;
        height: 0%;
        object-fit: cover;
        position: relative;
        z-index: 0;
        transition: all 0.3s ease;
      }
    }

    div.imagem_selecionada {
      width: 24px;
      height: 24px;
      border: none;
      outline: none !important;

      &::after {
        background-color: var(--sappire);
      }

      img {
        width: 0%;
        height: 0%;
      }
    }
  }

  .retangulos_avaliacao_produto {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

  }

  .grid_estrelas_avaliacao_produto>.estrelas_avaliacao_produto {
    h1 {
      font-size: 48px;
    }

    .vendedor_estrelas {
      font-size: 48px !important;
    }
  }
}

@media (max-width: 510px) {
  .produto_img_vendedor {
    width: 100%;
  }

  .grid_nome_vendedor {
    flex-direction: column;
    gap: 16px;
  }

  .vendedor_rating {
    flex-direction: column;
    align-items: flex-end;
  }

  .grid_produto {
    padding-top: 96px;
  }

  .avaliacao_vendedor {
    padding: 0;
    border: none;
    border-top: 2px black solid;
    width: 100%;
    padding-top: 16px;
    > h1 {
      display: flex;
      justify-content: center;
    }
  }

  .grid_descricao_produto {
    img {
      height: 30px;
      width: auto;
    }

    h1 {
      font-size: 30px;
    }
  }

  .grid_estrelas_avaliacao_produto>.estrelas_avaliacao_produto {
    h1 {
      font-size: 32px;
    }

    .vendedor_estrelas {
      font-size: 32px !important;
    }
  }

  .avaliacao_produto_bg {
    flex-direction: column;
  }

  .retangulos_avaliacao_produto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

  }

  .descricao_produto_item,
  .descricao_produto_item {
    gap: 4px;
    align-items: flex-start;

    img {
      margin-top: 8px;
    }
  }

  .grid_images_user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  & > .image1_user > img {
    max-height: 100px;
  }
}
}

@media (max-width: 425px) {
  .grid_consultar_frete_cupom {
    flex-direction: column;
    gap: 16px;
  }

  .grid_estrelas_avaliacao_produto>.estrelas_avaliacao_produto {
    h1 {
      font-size: 24px;
    }

    .vendedor_estrelas {
      font-size: 24px !important;
    }
  }

  .grid_images_user_1 img {
    max-height: none;
    width: 100%;
  }

  .div_video {
    height: 40px;

    img {
      width: fit-content;
    }
  }
}

@media (max-width: 320px) {

  .grid_nome_vendedor {
    h1 {
      font-size: 16px;
    }

    h2 {
      font-size: 12px;

      img {
        height: 18px;
        width: auto;
      }
    }
  }
}