body {
  background-color: var(--branco_gelo);
}

.produto_main_container {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* start grid_produto */
.grid_produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 24px;
  column-gap: 32px;
  padding: 16px 180px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.grid_produto_info_bg {
  grid-column: 2;
  grid-row: 2;
}

.grid_nome_vendedor {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #d9d9d94d;
  width: 100%;
  min-height: 96px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 8px;
}

.produto_img_vendedor {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100%;
}

.imagem_nome_vendedor {
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem_nome_vendedor img {
  width: auto;
  height: 80px;
  aspect-ratio: 1 / 1;
}

.nome_vendedor {
  display: flex;
  flex-direction: column;
}

.nome_vendedor h1 {
  grid-area: 1 / 1 / 1 / 3;
  text-align: justify;
  font-size: 20px;
}

.nome_vendedor h2 {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.avaliacao_vendedor {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  border-left: 2px black solid;
}

.vendedor_rating_avaliacao {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.vendedor_estrelas {
  max-width: fit-content;
  font-size: 24px !important;
  background: linear-gradient(90deg, #247ba0 90%, #989898 90% 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.avaliacao_vendedor h2 {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.avaliacao_vendedor h1 {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 16px;
}

.avaliacao_vendedor h2,
h1,
h3 {
  font-weight: 600;
  text-align: start;
  width: 100%;
}

.avaliacao_vendedor h3 {
  font-size: 16px;
  text-align: start;
}

/* end grid_nome_vendedor */

/* start grid_scroll */
.grid_scroll {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 16px;

  img {
    transition: transform 0.3s ease;
  }

  img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.images_scroll {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.imagem_selecionada {
  :hover {
    cursor: pointer;
  }

  & img {
    border: 2px var(--carolina) solid !important;
    background-color: white;
    scale: 1.1;
  }
}

.produto_image {
  width: auto;
  height: 100%;
  padding: 16px;
  aspect-ratio: 1 / 1;
}

.images_scroll img {
  width: 68px;
  height: 68px;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
  border: none;
}

.foward {
  rotate: 180deg;
}

.icon_scroll {
  width: 32px;
  height: 32px;
  aspect-ratio: 1 / 1;
  img {
    width: 32px;
    height: 32px;
  }
}

/* end grid_scroll */

/* start grid_produto_image */
.grid_produto_image {
  position: relative;
  width: 100%;
  height: 420px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  grid-column: 1;
  grid-row: 2;
}

.produto_image img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.grid_produto_info_bg {
  display: flex;
  background-color: white;
  align-self: baseline;
  width: 100%;
  max-width: 749px;
  height: 420px;
  padding: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.grid_produto_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.div_produto_valor {
  width: 100%;
}

.produto_info_nome h1 {
  font-size: 32px;
  color: var(--sappire);
}

.produto_info_text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.produto_title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.produto_info_text h2 a,
.produto_info_text h2 {
  font-weight: 600;
  font-size: 16px;
  color: var(--cinza);

  b {
    text-decoration: underline;
    color: var(--carolina);
  }
}

.produto_info_text h3,
.produto_info_text h3 {
  font-size: 16px;
  text-decoration: underline;
  color: var(--cinza);
  width: fit-content;
}

.produto_info_text h3 {
  border-left: 2px var(--cinza) solid;
  padding-left: 8px;
}

.grid_produto_info_valor {
  display: flex;
  align-items: baseline;
  height: fit-content;
  background-color: #d9d9d94d;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.produto_info_valor {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
}

.produto_info_text2 {
  display: flex;
  flex-direction: column;
}

.produto_info_text2 h2 {
  font-size: 16px;
  color: #666;
  max-width: 100%;
  word-wrap: break-word;
}

.grid_produto_info_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.line_top {
  width: 100%;
  height: 0;
  border: 2px solid var(--cinza);
  border-radius: 20px;
  margin: 24px 0;
}

.grid_descricao_produto {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 180px;
}

.grid_descricao_produto {
  p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 1.5%;
    transition: transform 0.3s ease;

    a {
      text-decoration: none;
      color: #006494;
      transition: filter 0.3s ease;
    }

    &:has(a):hover {
      cursor: pointer;
      transform: translateX(8px);
    }
  }
}

.descricao_produto_item2,
.descricao_produto_item3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: auto;
  align-items: center;
}

.descricao_produto_item img {
  width: auto;
  height: 32px;
}

.descricao_produto_item h1 {
  font-size: 32px;
  color: var(--sappire);
}

.avaliacao_produto_bg {
  margin-top: 24px;
  background-color: #d7e8ea;
  width: 100%;
}

.descricao_produto_item {
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: center;
}

.avaliacao_produto_bg {
  display: flex;
  padding: 24px 16px;
  gap: 24px;
  background-color: #d7e8ea;
  align-items: center;
  height: fit-content;
  border-radius: 5px;
  justify-content: center;
}

.grid_estrelas_avaliacao_produto {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 16px;
}

.estrelas_avaliacao_produto {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(5, auto);
}

.estrelas_avaliacao_produto h1 {
  color: var(--sappire);
  font-size: 64px;
  margin: 0;
}

.estrelas_avaliacao_produto .vendedor_estrelas {
  font-size: 64px !important;
}

.grid_retangulos_avaliacao_produto {
  display: flex;
  justify-content: flex-end;
}

.retangulos_avaliacao_produto {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.retangulos_avaliacao_produto {
  p {
    color: var(--sappire);
    margin: 0;
    font-size: 16px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  button {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: var(--sappire);

      p {
        color: white;
      }
    }
  }
}
.grid_comentarios_usuarios {
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 40px;
  padding: 16px 180px;
  width: 100%;
}

.grid_comentario_user {
  display: grid;
  grid-template-columns: 1fr;

  text-align: start;
  justify-content: center;
  align-items: center;
}

.comentario_usuario {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
}

.grid_user {
  display: flex;
  flex-direction: column;
  width: 100%;

  img {
    width: 80px;
    height: 100%;
  }

  div {
    align-items: center;
  }
}

.cliente_nome_pic {
  display: flex;
  flex-direction: row;
  gap: 8px;

  h1 {
    font-size: 24px;
  }

.grid_user_1,
.grid_user_2,
.grid_user_3 {
  & > .estrelas_avaliacao_produto {
    & > .nome_vendedor_estrela {
      font-size: 24px !important;
    }
  }
}

.grid_comentario_user {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.grid_comentario_user h2 {
  font-size: 16px;
}

.avaliacao_user_item1,
.avaliacao_user_item2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  h2,
  h3 {
    width: fit-content;
  }
}

.avaliacao_user_item1 h3,
.avaliacao_user_item2 h3 {
  color: var(--sappire);
  font-size: 16px;
}

.grid_images_user {
  display: flex;
  flex-direction: row;
  gap: 24px;
  position: relative;
}

.grid_images_user img {
  width: auto;
  height: 100%;
  aspect-ratio: 1 / 1;
  max-height: 150px;
  border: 2px var(--cinza) dotted;
}

.image1_user {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  height: fit-content;
}

.div_video {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4px;
  align-items: center;
  font-weight: 500;
  color: var(--branco_gelo);

  img {
    border: none !important;
  }
}

.produto_comentario {
  font-weight: 500 !important;
}

.bar_image_user_1,
.bar_image_user_2,
.bar_image_user_3 {
  position: absolute;
  grid-column: 1;
  grid-row: 1;
}

.separacao_comentario {
  position: relative;
  width: 50%;
  height: 10px;
  background-color: #d7e8ea;
  margin: 4%;
  border-radius: 50px;
  margin-left: 50%;
  margin-right: 50%;
}

.footer {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  position: relative;
  top: 300px;
  width: 100%;
  height: 125px;
  background-color: #d7e8ea;
}

.footer h1 {
  color: #0f3b62;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 1200px) {
  .grid_produto,
  .grid_comentarios_usuarios {
    padding: 16px;
  }

  .grid_descricao_produto {
    padding: 0 16px;
  }
}

@media (max-width: 880px) {
  .grid_produto {
    grid-template-columns: 1fr;

    * {
      grid-area: auto;
    }
  }

  .produto_info_nome {
    width: 100%;
  }

  .grid_nome_vendedor {
    grid-row: 4;
  }

  .grid_scroll {
    grid-row: 2;
  }

  .grid_produto_info_bg {
    width: 100%;
    height: auto;
    max-width: none;
    box-shadow: none;
  }

  .grid_produto_info_bg {
    padding: 0;
    background-color: transparent;
  }

  .grid_produto_info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, min-content);
    gap: 16px;
    justify-content: stretch;
  }

  .produto_info_valor {
    grid-template-columns: auto;
    position: relative;
    padding: 0;
  }

  .grid_produto_info_valor {
    background-color: transparent;
    padding: 0;
  }

  .div_produto_valor {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    grid-row: 2;
  }

  .grid_produto {
    padding-top: 48px;
  }

  .produto_info_text {
    h2,
    h3 {
      width: fit-content;
    }
  }

  .grid_produto_info_button {
    display: flex;
    flex-direction: column;

    .base_botao {
      width: 100%;
    }
  }

  .icon_scroll {
    display: none;
    visibility: hidden;
  }

  .grid_scroll {
    width: 100%;
  }

  .images_scroll {
    justify-content: center;
    width: 100%;
    gap: 16px;
    height: 24px;
    align-items: center;
    display: flex;

    div {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      width: 16px;
      height: 16px;
      transition: all 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--cinza);
        pointer-events: none;
        z-index: 1;
        transition: background-color 0.3s ease;
      }

      img {
        width: 0%;
        height: 0%;
        object-fit: cover;
        position: relative;
        z-index: 0;
        transition: all 0.3s ease;
      }
    }

    div.imagem_selecionada {
      width: 24px;
      height: 24px;
      border: none;

      &::after {
        background-color: var(--sappire);
      }

      img {
        width: 0%;
        height: 0%;
      }
    }
  }

  .retangulos_avaliacao_produto {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .grid_estrelas_avaliacao_produto>.estrelas_avaliacao_produto {
    h1 {
      font-size: 48px;
    }

    .vendedor_estrelas {
      font-size: 48px !important;
    }
  }
}

@media (max-width: 510px) {
  .produto_img_vendedor {
    width: 100%;
  }

  .grid_nome_vendedor {
    flex-direction: column;
    gap: 16px;
  }

  .grid_produto {
    padding-top: 96px;
  }

  .avaliacao_vendedor {
    padding: 0;
    border: none;
    border-top: 2px black solid;
    width: 100%;
    padding-top: 16px;
  }

  .grid_descricao_produto {
    img {
      height: 30px;
      width: auto;
    }

    h1 {
      font-size: 30px;
    }
  }

  .grid_estrelas_avaliacao_produto>.estrelas_avaliacao_produto {
    h1 {
      font-size: 32px;
    }

    .vendedor_estrelas {
      font-size: 32px !important;
    }
  }

  .avaliacao_produto_bg {
    flex-direction: column;
  }

  .retangulos_avaliacao_produto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .descricao_produto_item2,
  .descricao_produto_item3 {
    gap: 4px;
    align-items: flex-start;

    img {
      margin-top: 8px;
    }
  }
}

@media (max-width: 425px) {
  .grid_consultar_frete_cupom {
    flex-direction: column;
    gap: 16px;
  }

  .grid_estrelas_avaliacao_produto>.estrelas_avaliacao_produto {
    h1 {
      font-size: 24px;
    }

    .vendedor_estrelas {
      font-size: 24px !important;
    }
  }

  .grid_images_user_1 img {
    max-height: none;
    width: 100%;
  }

  .div_video {
    height: 40px;

    img {
      width: fit-content;
    }
  }
}

@media (max-width: 320px) {
  .grid_nome_vendedor {
    h1 {
      font-size: 16px;
    }

    h2 {
      font-size: 12px;

      img {
        height: 18px;
        width: auto;
      }
    }
  }
}
