.gerenciar_propagandas_body_holder {
  border-radius: 10px;
}

.gerenciar_propagandas_form_cliente h2 {
  color: rgba(87, 149, 206, 0.6);
  font-size: 20px;
  max-width: 600px;
}

.gerenciar_propagandas_body_container {
  border-radius: 10px;
  background-color: #eff3f5;
  min-height: 780px;
  width: 95%;
  margin: auto;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
}

.gerenciar_propagandas_subtitulo_generico {
  width: 100%;
  display: flex;
  gap: 16px;
}

.gerenciar_propagandas_linha_vertical {
  width: 8px;
  height: 48px;
  background-color: var(--carolina);
  border-radius: 10px;
}

.gerenciar_propagandas_subtitle_holder {
  display: flex;
  gap: 8px;
  align-items: center;
}

.gerenciar_propagandas_header_holder {
  width: 100%;
}

.gerenciar_propagandas_header_title_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.gerenciar_propagandas_header_title_2 {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.gerenciar_propagandas_text_header {
  color: var(--sappire);
  justify-self: center;
  font-weight: 500;
  color: #255e7e;
  text-align: center;
  font-size: 32px;
}

.gerenciar_propagandas_quadrado_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.gerenciar_propagandas_linha_sublinhado {
  width: 100%;
  height: 5px;
  border: 0;
  background-color: #2888b1;
  border-radius: 4px;
}

/* Gerenciar Imagens */
.gerenciar_propagandas_carrossel {
  grid-column: 1;
  grid-row: 2;
}

.gerenciar_propagandas_uploads {
  grid-column: 2;
  grid-row: 2;
}

.propagandas_carrossel_preview,
.gerenciar_propagandas_uploads_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 32px;

  button {
    grid-column: 1 / 3;
  }
}

.upload_imagem {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
  width: 100%;
}

.upload_imagem img {
  display: block;
  max-width: 100%;
  max-height: 180px;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 4px;

  width: min-content;
  height: 100px;
}

.upload_imagem>label:first-child {
  font-weight: 600;
  color: var(--sappire);
}

.upload_imagem input[type="file"] {
  display: none;
}

.upload_imagem .placeholder {
  min-height: 100px;
  border: 1px dashed #ccc;
  border-radius: 4px;
  color: #aaa;
  font-style: italic;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  user-select: none;
}

.upload_imagem .placeholder.hidden {
  display: none !important;
}

.btn_upload {
  padding: 8px 16px;
  border: 2px dashed var(--carolina);
  border-radius: 6px;
  background: white;
  color: var(--carolina);
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.2s, background-color 0.2s;
  width: fit-content;
}

.btn_upload:hover {
  border-color: var(--carolina);
  background-color: #ADD8E6;
}

.upload_imagem .preview_imagem {
  margin-top: 8px;
  border: 1px solid var(--carolina);
  border-radius: 6px;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.upload_imagem .preview_imagem.simulated-size {
  position: relative;
}

.upload_imagem {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  background: #fafafa;
}

.upload_imagem input[type="file"] {
  display: none;
}

.upload_imagem .btn_upload {
  display: inline-block;
  padding: 8px 15px;
  background-color: #3a9efb;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  margin-top: 6px;
  font-weight: 600;
}

.upload_imagem .size_img {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #666;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .titulo {
    height: 46px;
  }

  .gerenciar_propagandas_body_container {
    margin-bottom: 16px;
  }

  .gerenciar_propagandas_quadrado_container {
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
  }

  .gerenciar_propagandas_carrossel {
    grid-column: 1;
    grid-row: 1;
  }

  .gerenciar_propagandas_uploads {
    grid-column: 1;
    grid-row: 2;
  }

  .gerenciar_propagandas_subtitulo_generico {
    margin-top: 8px;
  }
}

@media (max-width: 768px) {
  .gerenciar_propagandas_header_title_1 {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-items: center;
    justify-self: left;
    top: -85px;
    margin: 0%;
    height: 86px;
    left: 16px;
  }

  .gerenciar_propagandas_text_header {
    text-align: left;
  }

  .gerenciar_propagandas_linha_sublinhado {
    display: none;
  }

  .gerenciar_propagandas_body_container {
    margin-top: 210px;
  }

  body {
    padding: 0px;
  }
}

@media (max-width: 425px) {

  .propagandas_carrossel_preview,
  .gerenciar_propagandas_uploads_grid {
    display: flex;
    flex-direction: column;
  }
}