/* Reset e estrutura */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

main {
  padding: 0 48px 16px;
}

/* Corpo principal */
.relatorio_vendedor_body {
  display: flex; 
  flex-direction: column;
  justify-self: center;
  align-self: center;
  background-color: #EFF3F5;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: auto;
  padding: 0 32px 16px;
}

.relatorio_vendedor_text_titulo_1,
.relatorio_vendedor_text_titulo_2 {
  display: flex;
  gap: 8px;
}

.relatorio_vendedor_text_titulo_1 {
  justify-content: center;
  margin-top: 16px;
}

.relatorio_vendedor_text_titulo_2 {
  margin: 16px 0;
  width: 90%;
}

.relatorio_vendedor_text_titulo_1 h1,
.relatorio_vendedor_text_titulo_2 h1 {
  justify-self: center;
  font-weight: 500;
  color: #255e7e;
  text-align: center;
  font-size: 32px;
}

.relatorio_vendedor_linha_titulo {
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: #2888b1;
  border: 0;
  justify-self: center;
}

.relatorio_vendedor_grid_conteudo {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  padding: 32px;
}

.relatorio_vendedor_estatistica_holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
  height: 260px;
  max-width: 100%;
  overflow-x: auto;

  label {
    display: flex;
    height: 50%;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    color: #255e7e;
  }
}

.relatorio_vendedor_card_img_perfil {
  width: 130px;
  height: 130px;
  margin-top: 25px;
  border-radius: 50%;
}

.relatorio_vendedor_card_column_2 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.relatorio_vendedor_estatisticas {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.relatorio_vendedor_bloco_perfil_do_vendedor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.relatorio_vendedor_card {
  background: var(--branco_gelo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  height: 100%;
}

.relatorio_vendedor_card button {
  width: 90%;
}

.relatorio_vendedor_estatistica_descricao {
  display: flex;
  height: 50%;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  color: #255e7e;
}

.relatorio_vendedor_perfil_usuario {
  grid-column: 2;
  grid-row: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.relatorio_vendedor_perfil_usuario h1 {
  color: #1B98E0;
  font-size: 24px;
}

.relatorio_vendedor_perfil_usuario h2 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
}

.relatorio_vendedor_perfil_usuario img {
  width: 146px;
  height: 146px;
}

.relatorio_vendedor_text {
  display: flex;
  align-items: center;
  height: min-content;
  gap: 8px;
}

.relatorio_vendedor_vertical {
  border: none;
  background-color: #1B98E0;
  border-radius: 10px;
  width: 8px;
  height: 46px;
}

.relatorio_vendedor_text h1 {
  position: relative;
  font-size: 24px;
  color: #2888b1;
  font-weight: 500;
}

.relatorio_vendedor_pesquisar_usuario h2 {
  margin-top: 16px;
  color: rgba(87, 149, 206, 0.60);
  font-size: 20px;
  max-width: 600px;
  font-weight: 500;
}

.relatorio_vendedor_dados_pessoais,
.relatorio_vendedor_dados_pessoais_item,
.relatorio_vendedor_localizacao_item input,
.relatorio_vendedor_localizacao_item,
.relatorio_vendedor_localizacao,
.relatorio_vendedor_pesquisar_usuario_item {
  margin-top: 16px;
  flex-direction: column;
  width: 100%;
}

.relatorio_vendedor_pesquisar_usuario_item button {
  margin-top: 16px;
  justify-self: end;
}

.relatorio_vendedor_dados_pessoais_item input,
.relatorio_vendedor_pesquisar_usuario_item input,
.relatorio_vendedor_pesquisar_usuario_item,
.relatorio_vendedor_localizacao_item input {
  max-width: 600px;
  width: 100%;
}

.relatorio_vendedor_dados_pessoais_conjunto,
.relatorio_vendedor_localizacao_conjunto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
  max-width: 600px;
  width: 100%;
}

.footer_temporario_relatorio_vendedor,
#relatorio_vendedor_text_titulo_mobile {
  display: none;
}

.relatorio_vendedor_table {
  width: 100%;
}

.relatorio_vendedor_table_filtro {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0 8px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.relatorio_vendedor_table_filtro select {
  background-color: var(--carolina);
  border: 0;
  height: 32px;
}

.relatorio_vendedor_table_filtro select:focus-visible {
  outline: solid 1px #e0e0e0;
}

.relatorio_vendedor_filtro_titulo {
  color: #fff;
}

.relatorio_vendedor_table_holder table {
  width: 100%;
  border-collapse: collapse;
}

.relatorio_vendedor_table_holder th,
.relatorio_vendedor_table_holder td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--carolina);
}

.relatorio_vendedor_table_holder th {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--cinza);
}

.relatorio_vendedor_table_holder td {
  height: 100%;
  color: var(--sappire);
  font-size: 1rem;
  font-weight: 500;
}

.relatorio_vendedor_table_holder tr {
  background-color: var(--branco_gelo);
  min-height: 48px;
  border-radius: 10px;
}

.relatorio_vendedor_table_holder tbody > tr:nth-child(odd) {
  background-color: var(--azul_leve);
}

.relatorio_vendedor_table_col-1,
.relatorio_vendedor_table_col-4 {
  width: 19%;
}

.relatorio_vendedor_table_col-3,
.relatorio_vendedor_table_col-6 {
  width: 11%;
}

.relatorio_vendedor_table_col-2,
.relatorio_vendedor_table_col-5,
.relatorio_vendedor_table_col-7 {
  width: 20%;
}

.relatorio_vendedor_navegacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.esquerda {
  rotate: -90deg;
}

.direita {
  rotate: 90deg;
}

.relatorio_vendedor_titulo2,
.relatorio_vendedor_titulo {
  background-color: var(--carolina);
  width: 100%;
  height: 50px;
  text-align: center;
  align-content: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

#filtros-relatorio-vendas {
  color: var(--branco_gelo);
  text-align: center;
  font-size: 16px;
  background-color: var(--sappire);
  margin-left: 8px;
  border-radius: 5px;
  height: 100%;
}

@media (max-width:768px) {
  .relatorio_vendedor_grid_conteudo{
    grid-template-columns: 1fr;
    padding: 32px 0px;
    row-gap: 32px;
  }

  .relatorio_vendedor_pesquisar_usuario_item button{
    width: 100%;
  }

  .relatorio_vendedor_titulo{
    height: 50%;
  }

  .relatorio_vendedor_estatistica_holder{
    grid-template-columns: 1fr;
  }
}