* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #E8F1F2;
    font-family: 'Jost', sans-serif;
}

.cadastro_vendedor_2_grid_bg {
    display: grid;
    grid-template-columns: auto;
    background-color: var(--Cores-Azul-Leve, #DCE5EB);
    margin: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 1780px;
    height: 780px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cadastro_vendedor_2_grid_bg img {
    width: 1700px;
    height: 5px;
    margin: auto;
    margin-bottom: 3%;
}

.cadastro_vendedor_2_botao {
    margin: auto;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.cadastro_vendedor_2_botao h1 {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    height: 40px;
    padding: 5px;
    background-color: #2075C2;
    font-size: 32px;
    font-weight: normal;
    border-radius: 10px;
    margin-bottom: 10%;
}

.cadastro_vendedor_2_botao:active {
    transform: scale(0.5);
}

/* Start grid_conteudo */
.cadastro_vendedor_2_grid_conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    justify-content: center;
    
    column-gap: 12%;
    text-align: justify;
    height: 485px;
}

.cadastro_vendedor_2_grid_conteudo input,
.cadastro_vendedor_2_grid_conteudo select {
    width: 100%;
}

.cadastro_vendedor_2_grid_conteudo label {
    color: #000;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.cadastro_vendedor_2_grid_conteudo h1 {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    
}

.cadastro_vendedor_2_conteudo_telefone,
.cadastro_vendedor_2_conteudo_endereco1,
.cadastro_vendedor_2_conteudo_endereco2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 580px;
    width: 100%;
    column-gap: 2%;
}

#local_da_empresa,
#cep,
#nome_razao_social,
#email,
#senha,
#confirmar_senha,
#categoria_produtos {
    width: 580px;
}

#logradouro,
#cpf_cnpj,
#numero,
#rg {
    width: 100%;
}
