* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--branco_gelo);
  font-family: "Jost", sans-serif;
}

.cadastro_vendedor2_titulo {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content;
  width: 100%;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.cadastro_vendedor2_titulo_img {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 18px;
  gap: 8px;
}

.cadastro_vendedor2_titulo img {
  width: 28px;
  height: 28px;
}

.cadastro_vendedor2_titulo h1 {
  justify-self: center;
  font-weight: 500;
  color: #255e7e;
  text-align: center;
  font-size: 32px;
}

.cadastro_vendedor2_titulo hr {
  display: flex;
  justify-self: center;
  align-self: center;
  border: none;
  width: 100%;
  max-width: 1608px;

  height: 5px;
  background-color: #2888b1;
  border-radius: 20px;
  grid-column: 1 / 3;
  grid-row: 2;
}

.cadastro_vendedor_2_grid_bg {
  display: grid;
  grid-template-columns: auto;
  background-color: #eff3f5;
  margin: 2%;
  margin-right: auto;
  margin-left: auto;
  width: 1780px;
  height: 780px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cadastro_vendedor_2_botao {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  transition: transform 0.1s ease;
  width: 220px;
  height: 40px;
  background-color: #1b98e0;
  border-radius: 5px;
  column-gap: 2%;
}

.cadastro_vendedor_2_botao h1 {
  color: white;
  font-size: 24px;
  font-weight: normal;
}

.cadastro_vendedor_2_botao:active {
  transform: scale(0.5);
}

/* Start grid_conteudo */
.cadastro_vendedor_2_grid_conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  justify-content: center;
  column-gap: 12%;
  text-align: justify;
  height: 485px;
}

.cadastro_vendedor_2_grid_conteudo input,
.cadastro_vendedor_2_grid_conteudo select {
  width: 100%;
}

.cadastro_vendedor_2_grid_conteudo label {
  color: #000;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.cadastro_vendedor_2_grid_conteudo h1 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.cadastro_vendedor_2_conteudo_telefone,
.cadastro_vendedor_2_conteudo_endereco1,
.cadastro_vendedor_2_conteudo_endereco2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 580px;
  width: 100%;
  column-gap: 2%;
}

#local_da_empresa,
#cep,
#nome_razao_social,
#email,
#senha,
#confirmar_senha,
#categoria_produtos {
  width: 580px;
}

#logradouro,
#cpf_cnpj,
#numero,
#rg {
  width: 100%;
}

@media (max-width: 1024px) {
  .cadastro_vendedor2_titulo h1 {
    font-size: 26px;
  }
  .cadastro_vendedor_2_grid_bg {
    width: 95%;
    height: auto;
    grid-template-rows: auto 850px min-content;
  }
  .cadastro_vendedor_2_grid_conteudo {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5%;
    height: auto;
  }
}

@media (max-width: 425px) {
  .cadastro_vendedor_2_grid_conteudo label {
    font-size: 18px;
  }
  .cadastro_vendedor_2_grid_conteudo h1 {
    font-size: 15px;
  }

  .cadastro_vendedor_2_grid_conteudo_2 label {
    font-size: 18px;
  }

  .cadastro_vendedor_2_conteudo_telefone,
  .cadastro_vendedor_2_conteudo_endereco1,
  .cadastro_vendedor_2_conteudo_endereco2 {
    width: auto;
  }
  #local_da_empresa,
  #cep,
  #nome_razao_social,
  #email,
  #senha,
  #confirmar_senha,
  #categoria_produtos {
    width: 400px;
  }
  .cadastro_vendedor_2_botao h1 {
    font-size: 22px;
  }
  body {
    margin-top: 150px !important;
  }
}
