*{
    margin: 0%;
}

body {
    margin: 0%;
    background-color: #F9F9FC;
    font-family: 'Jost';
}

/* start header */
.nav_bar {
    width: 100%;
    height: 67px;
    color: rgb(0, 0, 0);
    background-color: #0F3B62;
    display: grid;
}
/* end header */

.titulo{
    margin-top: 20px;
}

.cadastro_row{
    display: flex;
    height:5px;
    width: 1500px;
    margin-top: -60px;
    background-color: #2888B1;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 1 / 2 / 2;
  }


.grid_bg {
    display: grid;
    grid-template-columns: auto;
    color: #247BA0;
    background-color: var(--Cores-Azul-Leve, #EFF3F5);;
    margin: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 1780px;
    height: 780px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cadastro_vendedor_1_salvar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #1B98E0;
    width: 192px;
    margin: 0;
    height: 48px;
  }
  
  .cadastro_vendedor_1_salvar label {
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .cadastro_vendedor_1_botao_salvar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    cursor: pointer;
  }
  .cadastro_vendedor_1_botao_salvar button {
    gap: 10px;
    border: none;
    cursor: pointer;
  }
  
.lista_ordenada {
    display: grid;
    grid-template-columns: 880px 500px;
    column-gap: 12%;
    text-align: justify;
}

ol li {
    list-style-type: none; 
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center; 
    margin-bottom: 5%;
}

ol li::before {
    content: counter(list-item); 
    counter-increment: list-item; 
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    background-color: white; 
    width: 48px; 
    height: 48px; 
    border-radius: 50%; 
    font-size: xx-large; 
    margin-right: 20px; 
    grid-area: 1 / 1/ 3 / 2 ;
}

.lista_ordenada li h1, .lista_ordenada L li {
    color: #247BA0;
    font-size: 32px;
}

.lista_ordenada li h2, .lista_ordenada L li {
    color: rgba(0, 0, 0, 0.61);
    font-size: 20px;
    font-weight: normal;
}

.lista_ordenada L {
    margin-top: 45px;
}