*{
    margin: 0%;
    font-family: 'Jost', sans-serif;
    user-select: none;
}

.confirmar_pedido_titulo {
    position: relative;
  
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-items: center;
    
    width: 100%;
    margin-top: 16px;
}

.confirmar_pedido_text_titulo {
    display: flex;
    justify-self: center;

    gap: 8px;
}

.confirmar_pedido_text_titulo h1 {
    justify-self: center;
    font-weight: 500;
    color: #255e7e;
    text-align: center;
    font-size: 32px;
}

.confirmar_pedido_linha_titulo {
    width: 95%;
    height: 5px;
    border-radius: 20px;
    background-color: #2888b1;
    border: 0;
}

.confirmar_pedido_body {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;

    background-color: #EFF3F5;
    width: 90%;
    height: 779px;

    border-radius: 10px;
    margin: 32px 1.5%;
}

.confirmar_pedido_text_1{
    display: flex;
}

.confirmar_pedido_vertical {
    border: none;
    background-color: #1B98E0;
    align-self: center;
    border-radius: 10px;
    width: 10px;
    height: 46px;
    margin-right: 16px;
}

.confirmar_pedido_grid_id_pedido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 5% 0px 5%;
}

.confirmar_pedido_id_pedido h1 {
    color: var(--Cores-Celadon, #247BA0);
    font-size: 24px;
    text-transform: capitalize;
}

.confirmar_pedido_id_pedido h2 {
    color: var(--Cores-Cinza, #6F6F6F);
    font-size: 24px;
    text-transform: capitalize;
}

.confirmar_pedido_botoes_status {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-self: center;
    column-gap: 5%;
    max-width: 550px;
    width: 100%;
}

.confirmar_pedido_botoes_status h2 {
    font-size: 20px;
    font-style: normal;
    color: white;
}

.confirmar_pedido_botao_1, .confirmar_pedido_botao_2 {
    border-radius: 5px;
    height: 40px;
    align-content: center;
    text-align: start;
    padding-left: 7%;
}

.confirmar_pedido_botao_1 {
    background: #FFBA5A;
}

.confirmar_pedido_botao_2 {
    background: #FFE500;
}

/* start grid_principal */
.confirmar_pedido_grid_principal {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px;
    gap: 16px;
    margin: 0px 16px 0px 16px;
    justify-content: center;
}

.confirmar_pedido_container_1, 
.confirmar_pedido_container_2,
.confirmar_pedido_container_3, 
.confirmar_pedido_container_4 {
    background: var(--Cores-Azul-Leve, #DCE5EB);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    padding: 16px;
}

.confirmar_pedido_container_1 {
    max-width: 800px;
    width: 100%;
    height: 300px;
    grid-column: 1;
    grid-row: 1;
}

.confirmar_pedido_container_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 400px;
    width: 100%;
    grid-area: 1 / 3 / 3 / 3;
}

.confirmar_pedido_container_3 {
    max-width: 800px;
    width: 100%;
    height: 300px;
    align-content: center;
    justify-items: center;
    align-self: flex-end;

    border-radius: 5px;
    background: var(--Cores-Celadon, #247BA0);
}

.confirmar_pedido_container_4 {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    width: 100%;
    height: 616px;
    grid-area: 1 / 2 / 2 / 2;
}

/* end grid_principal */

/* start container_1 */
.confirmar_pedido_container_1 {
    display: grid;
    grid-template-columns: auto;
}

.confirmar_pedido_container_1 h1 {
    color: #22759E;
    font-size: 20px;
}

.confirmar_pedido_container_1 h2 {
    color: rgba(20, 20, 20, 0.4);
    font-size: 16px;
    text-align: end;
}

.confirmar_pedido_produtos_valor h1 {
    justify-self: end;
}

.confirmar_pedido_produtos img {
    width: 78px;
    height: 78px;
    border: 1px solid #247BA0;
    border-radius: 5px;
    margin: 0%;
    margin-right: 20px;
}

.confirmar_pedido_produtos {
    display: grid;
    grid-template-columns: min-content 460px 150px;

    text-align: start;
    margin: 16px;
}

.confirmar_pedido_itens {
    overflow-y: auto; 
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 8px;
}

.confirmar_pedido_produtos img {
    margin-bottom: 60px; 
}

.confirmar_pedido_itens::-webkit-scrollbar {
    display: none;
}

/* end container_1 */

/* start container_2 */
.confirmar_pedido_titulo_cronograma {
    display: flex;
    justify-self: start;
    margin-bottom: auto;

    gap: 8px;
}

.confirmar_pedido_titulo_cronograma h1 {
    color: var(--Cores-Celadon, #247BA0);
    font-size: 24px;
    text-transform: capitalize;
}

.confirmar_pedido_itens_container_2 {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    height: 90%;
    overflow-y: scroll; 
    padding: 8px;
    align-items: start;
    text-align: start;
    row-gap: 30px;
}

.confirmar_pedido_itens_container_2::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.confirmar_pedido_itens_container_2 h1 {
    color: var(--Cores-Carolina, #1B98E0);
    font-size: 16px;
    text-transform: capitalize;
}

.confirmar_pedido_itens_container_2 h2 {
    color: rgb(163, 163, 163);
    font-size: 16px;
}

.confirmar_pedido_container_2_item {
    display: grid;
    grid-template-columns: 20px auto;
}

.confirmar_pedido_container_2_item div {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap; 
    max-width: 100%; 
    word-wrap: break-word; 
}

.confirmar_pedido_container_2_item img {
    width: 15px;
    height: 15px;
    margin: 0%;
    margin-top: 4px;
}

.confirmar_pedido_container_2_item hr {
    position: absolute;
    border: 0;
    width: 3px;
    height: 100vh;  
    background-color: rgba(0, 0, 0, 0.30);
    margin-left: 6px; 
    margin-top: 10px;    
}
/* end container_2 */

/* start container_3 */
.confirmar_pedido_itens_container_3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
    max-height: 200px;
    height: 100%;
}

.confirmar_pedido_container_3_item {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0px 8px 0px 8px;
    height: 60px;
    margin-bottom: 8px;
    
    border-radius: 5px;
    background: var(--Cores-Sapphire, #006494);
}

.confirmar_pedido_container_3_item h2, 
.confirmar_pedido_container_3_total h2 {
    color: var(--Cores-Branco-Gelo, #F9F9FC);
    font-size: 24px;
    justify-content: space-between;
}

.confirmar_pedido_container_3_total {
    width: 100%;
    margin-top: auto;
}

.confirmar_pedido_container_3_total h1 {
    color: var(--Cores-Branco-Gelo, #F9F9FC);
    font-size: 24px;
    text-transform: capitalize;
    margin-left: 16px;
}

.confirmar_pedido_container_3_total hr {
    width: 100%;              
    height: 1.5px;              
    border: none;             
    background-color: rgba(0, 0, 0, 0.2);  
    align-self: center;  
    justify-self: center;
    margin-bottom: 20px;  
}

.confirmar_pedido_container_3_total_valor {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

/* end container_3 */

/* start container_4 */
.confirmar_pedido_container_4_item {
    padding-bottom: 25px;
}

.confirmar_pedido_container_4_item h1 {
    color: var(--Cores-Celadon, #247BA0);
    font-size: 24px;
    text-transform: capitalize;
}

.confirmar_pedido_container_4_item h2, 
.confirmar_pedido_container_4 h3 {
    color: var(--Cores-Carolina, #1B98E0);
    font-size: 20px;
    text-transform: capitalize;
}

.confirmar_pedido_container_4_item h3 {
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(121, 120, 120);
    margin-right: 8px;
}

.confirmar_pedido_container_4_item img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    margin: 0%;
}

.confirmar_pedido_linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirmar_pedido_linha_2 {
    display: flex;
}

/* end container_4 */

/* botôes */
.confirmar_pedido_botao_confirmar_envio, 
.confirmar_pedido_botao_receber_pagamento,
.confirmar_pedido_botao_denunciar_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;

    padding: 0px 16px 0px 16px;
    justify-self: end;
    margin-top: auto;
}

.confirmar_pedido_botao_confirmar_envio h1, 
.confirmar_pedido_botao_receber_pagamento h1,
.confirmar_pedido_botao_denunciar_usuario h1 {
    color: white;
    font-size: 20px;

    cursor: pointer;
}

.confirmar_pedido_botao_confirmar_envio img, 
.confirmar_pedido_botao_receber_pagamento img,
.confirmar_pedido_botao_denunciar_usuario img {
    height: 18px;
    width: 18px;
    margin-right: 8px;
}

.confirmar_pedido_botao_confirmar_envio, 
.confirmar_pedido_botao_receber_pagamento {
    background-color: #1B98E0;
}

.confirmar_pedido_botao_denunciar_usuario {
    background-color: #D32F2F; 
}

@media (max-width: 1024px) {
    .confirmar_pedido_body {
        width: 95%;
        height: 1050px;
        margin-bottom: 2%;
    }

    /* start grid_principal */
    .confirmar_pedido_grid_principal {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        gap: 16px;
        justify-content: center;
    }

    .confirmar_pedido_container_1 {
        max-width: none;
        width: 100%;
        height: 300px;

        grid-column: 1;
        grid-row: 1;
    }

    .confirmar_pedido_container_2 {
        max-width: none;
        width: 100%;
        height: 500px;
        
        grid-column: 2;
        grid-row: 2;
    }

    .confirmar_pedido_container_3 {
        max-width: none;
        width: 100%;
        
        grid-column: 2;
        grid-row: 1;
    }

    .confirmar_pedido_container_4 {
        max-width: none;
        width: 100%;
        height: 500px;

        grid-column: 1;
        grid-row: 2;
    }

    /* end grid_principal */
}

@media (max-width: 768px) {
    .confirmar_pedido_text_titulo {
        position: absolute;
        justify-self: start;
        top: -85px;
        right: 32;
    }

    .confirmar_pedido_titulo hr {
        display: none;
    }
    
    .confirmar_pedido_body {
        height: 1800px;
        margin-bottom: 2%;
    }

    .confirmar_pedido_grid_id_pedido {
        margin: 0px 16px 0px 16px;
    }

    .confirmar_pedido_grid_principal {
        margin-top: 8px;
    }

    .confirmar_pedido_botoes_status {
        display: flex;
        flex-direction: column;
    
        align-self: center;
        row-gap: 8px;
        max-width: 250px;
        width: 100%;
    }

    /* start grid_principal */
    .confirmar_pedido_grid_principal {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        
        gap: 16px;
        justify-content: center;
    }

    .confirmar_pedido_container_1 {
        max-width: none;
        width: 100%;
        height: 300px;

        grid-column: 1;
        grid-row: 1;
    }

    .confirmar_pedido_container_2 {
        max-width: none;
        width: 100%;
        
        grid-column: 1;
        grid-row: 4;
    }

    .confirmar_pedido_container_3 {
        max-width: none;
        width: 100%;
        height: 300px;
        
        grid-column: 1;
        grid-row: 2;
    }

    .confirmar_pedido_container_4 {
        max-width: none;
        width: 100%;

        grid-column: 1;
        grid-row: 3;
    }

    /* end grid_principal */
    .confirmar_pedido_body {
        height: 1850px;
    }

    .confirmar_pedido_grid_id_pedido {
        display: flex;
        flex-direction: column;
    }

    .confirmar_pedido_text_1 {
        justify-self: flex-start;
        margin-right: auto;
        padding: 0;
    }

    .confirmar_pedido_grid_principal {
        margin-top: 8px;
    }

    .confirmar_pedido_botoes_status {
        row-gap: 8px;
        max-width: none;
        width: 100%;
    }
    
    .confirmar_pedido_produtos {
        display: grid;
        grid-template-columns: min-content auto;

        width: 90%;
        column-gap: 8px;
    }

    .confirmar_pedido_produtos img {
        margin: 0%;
    }

    .confirmar_pedido_produtos div:nth-child(1) {grid-row: 1; grid-column: 1;}
    .confirmar_pedido_produtos div:nth-child(2) {grid-row: 1; grid-column: 2;}
    .confirmar_pedido_produtos div:nth-child(3) {grid-row: 2; grid-column: 2;}
    .confirmar_pedido_produtos div:nth-child(4) {grid-row: 3; grid-column: 2;}

    .confirmar_pedido_container_3_item {
        display: grid;
        grid-template-columns: auto auto;
        height: 70px;
    }

    .confirmar_pedido_container_3_item {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto; 
    }
    
    .confirmar_pedido_container_3_item h2:nth-child(1) {grid-row: 1 / 2; grid-column: 1;}
    .confirmar_pedido_container_3_item h2:nth-child(2) {grid-row: 1 ; grid-column: 2;}
    .confirmar_pedido_container_3_item h2:nth-child(3) {grid-row: 2; grid-column: 2;}

    .confirmar_pedido_botao_confirmar_envio, 
    .confirmar_pedido_botao_receber_pagamento,
    .confirmar_pedido_botao_denunciar_usuario {
        width: 100%;
    }
}
