* {
  padding: 0;
  margin: 0;
  font-family: 'Jost';
}

.fundo_vendedor {
  width: 100%;
  height: 100%;
  background-color: #F9F9FC;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-rows: 67px auto auto;
  grid-template-columns: 100%;
  row-gap: 103px;
}

.nav_bar {
  height: 67px;
  width: 100%;
  background-color: #DCE5EB;
}

.quadrado_vendedor {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 1821px;
  height: 1550px;
  border-radius: 10px;
  background: #DCE5EB;
}

.mini_perfil_vendedor {
  position: relative;
  left: 10%;
  top: 8%;
  width: 826px;
  height: 966px;
  border: 1px solid #000;
  background: #EFF1F8;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-rows: 295px 193px 4px auto auto;
}

.separador_mini_perfil {
  width: 826px;
  height: 4px;
  background: #D7E8EA;
}

.banner_vendedor {
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

.pfp_vendedor {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  position: relative;
  left: calc(50% - (826px/2));
  top: calc(100% - (300px/2));
}

.infos_container {
  position: relative;
  top: 15%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 16px;
  column-gap: 20px;
}

.nome_vendedor {
  grid-row: 1;
  grid-column: 2;
  color: #000;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 18px */
  justify-content: center;
}

.produtos_vendedor, .avaliacao_vendedor, .tempo_vendedor, .localizacao_vendedor {
  color: #000;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Jost;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 11.7px */
}

.produtos_vendedor_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 1;
  grid-row: 2;
}

.avaliacao_vendedor_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 2;
  grid-row: 2;
}

.tempo_vendedor_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 3;
  grid-row: 2;
}

.localizacao_vendedor_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 2;
  grid-row: 3;
}

.icon_produtos_vendedor {
  grid-column: 1;
  grid-row: 1;
}