* {
    padding: 0;
    margin: 0;
    font-family: 'Jost';
  }
  
  body {
    height: 100%;
    width: 100%;
    background-color: #F9F9FC;
  }

  @media(min-width: 768px) {
    
    .editar_prod_body_grid_container{
        display: grid;
        grid-template-columns:40% 20% 40%;
        grid-template-rows: 95% 5%;
        width: 1821px;
        height: 100px;
        margin-top: 3%;
        margin-left: 2.5%;
        background-color: #DCE5EB;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        }

    .editar_prod_body_divisoria{
      display: grid;
      grid-row: 2;
      width: 1768px;
      height: 4px;
      background-color: #00649454;
      margin-left: 4.4%;
    }
    .editar_prod_grid_container{
      display: grid;
      grid-template-columns:25% 40% 35%;
      /* grid-template-rows: 95% 5%; */
      width: 1821px;
      height: 1410px;
      margin-left: 2.5%;
      background-color: #DCE5EB;
      }  

    .editar_prod_grid_inputs{
      display: grid;
      grid-column: 1;
      grid-template-rows:repeat(3,5%),(60,2.25%);
      width: 450px;
      height: 1410px;
      background-color: #DCE5EB;
      }

    .editar_prod_descricao_prod_grid_container{
      display: grid;
      grid-column: 2;
      grid-template-rows:60% 40%;
      width: 100%;
      height: 100%;
      background-color: #DCE5EB;
      }
    .editar_prod_imagens_videos_grid_container{
      display: grid;
      grid-column: 3;
      width: 100%;
      height: 100%;
      background-color: #DCE5EB;
      }

    }

  #editar-prod-seta{
    
    display: grid;
    margin-left: 5%;
    margin-top: 4%;
    width: 50px;
    height: 35px;

  }

  #editar-prod-editar-prod-text{
    overflow: hidden;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
    font-family: Jost;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 45.5px */
    text-transform: uppercase;
    place-items: center;
    margin-left:15%;
    margin-top: 8%;
  }

  #editar-prod-inf-do-prod-text{
    margin-top: 98px;
    margin-left: 8%;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 41.6px */
    grid-row: 1;
  }
  
  #editar-prod-nome-do-prod-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 6%;
    
  }
  
  .editar_prod_input{
    width: 415px;
    height: 33.442px;
    grid-column: 1;
    background: #FFF;
    margin-left: 8%;
  
  }
   
  #editar-prod-valor-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;
    grid-column: 1;
    grid-row: 4;

  }

  #editar-prod-categoria-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;
  }

  #editar-prod-marca-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;

  }

  #editar-prod-codigo-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;
  
  }

  #editar-prod-origem-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;

  }

  #editar-prod-unidade-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;

  }

  #editar-prod-dimensao-e-peso-text{
  
    margin-top: 8%;
    margin-left: 8%;
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 41.6px */
  } 

  #editar-prod-peso-liquido-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;
    
  }

  #editar-prod-peso-bruto-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;
    
  }

  #editar-prod-tipo-embalagem-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;
    
  }

  #editar-prod-largura-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;
    
  }

  #editar-prod-altura-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;
    
  }

  #editar-prod-comprimento-text{
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8%;
    margin-top: 4%;
    
  }
  