* {
  margin: 0;
  padding: 0;
  font-family: Jost;
}

.gerenciar_pedidos_body_container {
  padding: 56px 182px 16px;
}

.gerenciar_pedidos_body_holder {
  border-radius: 10px;
  padding: 32px;
}

.gerenciar_pedidos_navbar_principal {
  background-color: #fff;
  width: 100vw;
  height: 67px;
}

.gerenciar_pedidos_header_relatorio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.gerenciar_pedidos_header_holder {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.gerenciar_pedidos_text_header {
  color: var(--sappire);
}

.gerenciar_pedidos_quadrado_container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
}

.gerenciar_pedidos_main_content {
  display: grid;
  padding: 32px;
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}

.gerenciar_pedidos_pesquisar_pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.gerenciar_pedidos_header_pedidos {
  width: 100%;
}

.gerenciar_pedidos_form_cliente {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 4;
}

.gerenciar_pedidos_input_ano {
  display: flex;
  flex-direction: column;
}

.gerenciar_pedidos_input_status {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gerenciar_pedidos_text_pedidos {
  font-size: 32px;
  text-align: center;
}

.gerenciar_pedidos_linha_sublinhado {
  width: 100%;
  height: 2px;
  border: 0;
  background-color: var(--carolina);
}

.gerenciar_pedidos_forms_pesquisa_pedidos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  margin: 16px 0 0;
}

.gerenciar_pedidos_holder_botao {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.gerenciar_pedidos_inputs_esquerda {
  display: flex;
  gap: 8px;
}

.gerenciar_pedidos_select_status {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gerenciar_pedidos_mes_select {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.gerenciar_pedidos_ano_select {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.gerenciar_pedidos_estatistica_holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.gerenciar_pedidos_estatisticas {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gerenciar_pedidos_header_estatisticas {
  width: 100%;
  grid-column: 1/4;
}

.gerenciar_pedidos_text_estatisticas {
  font-size: 32px;
  text-align: center;
}

.gerenciar_pedidos_linha_estatisticas {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
}

.gerenciar_pedidos_card {
  background: var(--branco_gelo);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.gerenciar_pedidos_titulo {
  color: #000;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.gerenciar_pedidos_estatistica_descricao {
  color: #000;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.gerenciar_pedidos_table {
  width: 600px;
  height: 752px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #f1f1f1;
  grid-row: 3;
  display: grid;
  row-gap: 8px;
}


@media (max-width:1440px) {
  .gerenciar_pedidos_quadrado_container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}