* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    user-select: none;
}

/* CORPO PRINCIPAL */
.selecionardestaques_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EFF3F5;
  width: 90%;
  height: 100%;
  border-radius: 10px;
  margin: 80px auto 0;
}

/* Header */
.selecionardestaques_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 16px;
    gap: 8px;
}
  
.selecionardestaques_text_titulo {
    display: flex;
    align-items: center;
}

.selecionardestaques_text_titulo img {
    width: 28px;
    height: auto;
    margin-right: 8px;
}
  
.selecionardestaques_text_titulo h1 {
    font-weight: 500;
    color: #255e7e;
    text-align: center;
    font-size: 32px;
}
  
.selecionardestaques_linha_titulo {
    width: 95%;
    height: 5px;
    border-radius: 20px;
    background-color: #2888b1;
    border: none;
}

/* CONTAINER */

.selecionardestaques_body_container_botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    place-items: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 32px auto 0 auto;
    padding: 24px 8% 24px 8%;
    gap: 4%;
}

.selecionardestaques_body_container_botoes_base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    gap: 8px;
    text-align: center;
    padding: 16px;
}

.selecionardestaques_add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: white;
    color: var(--carolina);
    font-size: 32px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.selecionardestaques_add_button:hover {
    background-color: #83BEE0;
    transform: scale(1.1);
}

.gerenciar_pedidos_text_titulo,
.gerenciar_pedidos_header_title {
    display: flex;
    justify-self: center;
    margin: 16px 0 16px 0;
    width: 90%;
}

.gerenciar_pedidos_text_titulo img,
.gerenciar_pedidos_header_title img {
    align-self: center;
    width: 32px;
    height: auto;
    margin-right: 8px;
}

.gerenciar_pedidos_text_titulo h1,
.gerenciar_pedidos_header_title h1 {
    justify-self: center;
    font-weight: 500;
    color: #255e7e;
    text-align: center;
    font-size: 32px;
}
  
.gerenciar_pedidos_table{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    margin-bottom: 32px;
  }
  
.gerenciar_pedidos_table_filtro{
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 0 8px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    & select{
        background-color: var(--carolina);
        border: 0;
        height: 32px;
    }

    & select:focus-visible{
        outline: solid 1px #e0e0e0;
    }
}
  
.gerenciar_pedidos_filtro_titulo{
    color: #fff;
}
  
.gerenciar_pedidos_table_td_check span {
    display: flex;
    justify-content: center;
}

.gerenciar_pedidos_table_td_check input {
    width: 30px;
    height: 30px;
    border: 1px solid var(--carolina);
}

.gerenciar_pedidos_table_td-img span,
.gerenciar_pedidos_table_td-img td {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.gerenciar_pedidos_table_td-img img {
    width: 50px; 
    height: auto;
}

/**Individual para cada tabela */
.gerenciar_pedidos_table_col-1 {
    width: min-content;
}

.gerenciar_pedidos_table_col-2 {
    width: auto;
}

.gerenciar_pedidos_table_col-3,
.gerenciar_pedidos_table_col-4,
.gerenciar_pedidos_table_col-6{
    width: 8%;
}

.gerenciar_pedidos_table_col-5,
.gerenciar_pedidos_table_col-7{
    width: 10%;
}

.gerenciar_pedidos_table_col-8 {
    width: 2%;
}

.gerenciar_pedidos_table_col-9 {
    width: 2%;
}
  
.base_tabela img {
    width: 100px;
    height: 100px;

    border-radius: 50px;
    border: 1px solid var(--carolina);
}

@media (max-width: 1224px) {
    .selecionardestaques_body_container_botoes {
        grid-template-columns: repeat(4, 1fr);
        padding: 24px 2% 24px 2%; 
    }
}

@media (max-width: 1024px) {
    .selecionardestaques_body_container_botoes{
        grid-template-columns: repeat(2, 1fr);
        padding: 24px 8% 24px 8%;
    }
}

@media (max-width: 768px) {
    .selecionardestaques_body_container_botoes{
        grid-template-columns: repeat(2, 1fr); 
        padding: 24px 8% 24px 8%;
    }
}

@media (max-width: 500px) {
    .selecionardestaques_body_container_botoes{
        grid-template-columns: repeat(1, 1fr); 
        padding: 24px 4% 24px 4%;
        gap: 24px;
    }

    .selecionardestaques_add_button{
        margin: 80px;
    }
}
