.about-background {
    width: 100%;
    background-color: var(--sappire);
    max-height: 100%;
    max-height: calc(100vh - 32px);
    position: relative;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    color: var(--branco);
    align-content: center;
    align-items: start;
    justify-content: start;
}

.about-text {
    margin-top: 32px;
    margin-left: 80px;
    z-index: 10;
    width: 30%;
    b {
      color: var(--carolina);
    }
    p {
      font-size: 24px;
    }
    h1 {
        font-size: 80px;
    }
}

.text-left {
  justify-self: center;
  display: flex;
}

.background-gif-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.background-gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-gif-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #001025, transparent);
  pointer-events: none;
}

.heros-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 32px;

}

main {
    margin: 0;
}

/* From Uiverse.io by xantha01 */ 
.card {
    background: var(--sappire);
    position: relative;
    max-width: 250px;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7.5px;
    transition: 0.5s ease;
    color: white;
  }
  
  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0;
    transition: 0.3s ease;
  }
  
  .card:hover::after {
    opacity: 0.25;
  }
  
  .cardHeader {
    text-transform: uppercase;
    position: relative;
    width: max-content;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.5s ease;
  }
  .cardHeader::after {
    content: "";
    width: calc(100% + 1rem);
    height: 2.5px;
    transform: translateX(calc(-100% - 1rem));
    background: var(--carolina);
    bottom: -2px;
    left: 0;
    position: absolute;
    opacity: 0;
  }
  
  .details {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: translateY(70%);
    transition: all 0.5s ease;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    padding-top: 0;
  }
  
  .button {
    background-color: aqua;
    color: black;
    padding: 2.5px 5px;
    width: max-content;
    border-radius: 2.5px;
  }
  .card:hover .details {
    transform: translateY(0%);
    transition-delay: 0.5s;
  }
  .card:hover .cardHeader::after {
    transform: translateX(-1rem);
    transition: 0.5s ease;
    opacity: 1;
  }
  .card:hover {
    transform: scale(1.1);
    border-radius: 15px;
  }
  

  .hero-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }