* {
  margin: 0;
  padding: 0;
  font-family: "Jost";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-image: url("../../image/cliente/cadastro/cadastro_fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.trocar_email_1_container {
  max-width: 670px;
  width: 100%;
  height: 740px;
  background: #dce5eb;
  margin: 0px 1.5% 1.5% 1.5%;
  border-radius: 10px;
}

.trocar_email_1_main_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 16px 2% 0px 2%;
  max-height: 600px;
  height: 100%;
}

.trocar_email_1_bem_vindo {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.trocar_email_1_bem_vindo h1 {
  color: #006494;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.trocar_email_1_formulario,
.trocar_email_1_input input,
.trocar_email_1_form  {
  max-width: 500px;
  width: 100%;
}

.trocar_email_1_main_content label {
  color: #6F6F6F;
  font-style: normal;
  font-size: 24px;
  text-transform: capitalize;
}

.trocar_email_1_regras {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  margin-top: 16px;
}

.trocar_email_1_lista {
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.trocar_email_1_botoes {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.trocar_email_1_botao_voltar,
.trocar_email_1_botao_avancar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  text-align: center;
  border: 0;
  color: white;
  font-family: Jost;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  height: 40px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
}

.trocar_email_1_botao_voltar {
  background-color: #d73232;
}

.trocar_email_1_botao_avancar {
  background-color: #1b98e0;
}

.trocar_email_1_trocar_senha_2 {
  width: 100%;
  display: flex;
  justify-content: end;
}

.trocar_email_1_form a {
  color: #000;
  cursor: pointer;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; 
}

.trocar_email_1_input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 16px;
}

#eye-icon-email {
  display: flex;
  position: absolute;
  align-self: center;
  width: 32px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .trocar_email_1_botoes {
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 8px;
  }

  .trocar_email_1_botao_voltar,
  .trocar_email_1_botao_avancar {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 375px) {
  .trocar_email_1_container_content {
    max-height: 630px;
    height: 100%;
  }
}